<!DOCTYPE html>
<html>
    <head>
        <title>添加驾校</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
        <script src="__PUBLIC__/public/js/jquery.min.1.8.2.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/js/jquery.form.js"></script>
        <script src="__PUBLIC__/public/js/jquery.validate.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/js/layer/layer.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/kindeditor/kindeditor-all.js"></script>
        <style type="text/css">
            span.error{  font-size: 14px;  font-weight: bold;  color: #FA7124;  }
            span.ok{  font-size: 14px;  font-weight: bold;  color: #38D63B;  }

            .table_a td,th{border:1px solid rgba(39, 164, 237, 0.22);font-size: 13px}
            .table_a  td{  border: dotted 1px rgba(39, 164, 237, 0.22);}
        </style>
        <script>
            $(document).ready(function(e) {
                KindEditor.ready(function (K) {
                    K.create('#content7', {
                        allowFileManager: true,
                        filterMode: true,
                        afterBlur: function () {  //利用该方法处理当富文本编辑框失焦之后，立即同步数据
                            this.sync("#content7");
                        }
                    });
                });
            })
        </script>
    </head>
        <script language="javascript">
        $(function(){
            var validate=$('#form1').validate({
                rules:{
                    account:{required:true},
                    pass:{required:true, rangelength:[5,32]},
                    nickname:{required:true},
                    fullname:{required:true},
                    address:{required:true}
                },
                messages:{
                    account:{required:' * 必填项！'},
                    pass:{required:' * 必填项！', rangelength:' * 密码长度必须在5到12位之间！'},
                    nickname:{required:' * 必填项！'},
                    fullname: {required: ' * 必填项！'},
                    address:{required:' * 必填项！'}
                },
                success:function(span){
                    span.addClass('ok').text(' * ok')
                },
                validClass:'ok',
                errorElement:'span'
            });

            $("#add_jx").click(function(){
                if(validate.form()){
                    $("#add_jx").attr('disabled',true);
                    $('#form1').ajaxSubmit(function(res){
                        if(res.status){
                            layer.msg(res.info,{icon:6,time:2000},function(){
                                location.href=res.url;
                            });
                        }else{
                            layer.msg(res.info,{icon:5,time:2000},function(){
                                location.href=res.url;
                            });
                        }
                    },'json');
                        return false;
                    }
            });
        });
    </script>
    <body>
        <div class="div_head" style="background-color: rgb(129, 191, 249);color: #ffffff;font-size: 15px">
            驾校添加
            <a style="text-decoration: none;font-weight: bolder;color: red" href="{:U('jx_list',array('pid'=>$get['pid'],'p'=>$get['p']))}">【返回】</a>
        </div>
        <div style="font-size: 13px;margin: 10px 5px">
            <form action="{:U('Admin/School/add_jx')}" method="post" enctype="multipart/form-data" id="form1">
                <input type="hidden" name="type" value="{$get['type']}"/>
                <input type="hidden" name="p" value="{$get['p']}"/>
                <input type="hidden" name="pid" value="{$get['pid']}"/>
                <table style="border:1px solid rgb(129, 191, 249)" width="100%" class="table_a">
                    <tr>
                        <td width="7%">驾校账号</td>
                        <td><input type="text" name="account" /><span style="color:red;">{$errorInfo.account|default=""}</span></td>
                    </tr>
                    <tr>
                        <td>登录密码</td>
                        <td><input type="text" name="pass" value="244ac348537069c3bfe9d633349b7334" style="width:500px" /><span style="color:red;">{$errorInfo.pass|default=""}(默认为517xueche)</span></td>
                    </tr>

                    <tr>
                        <td>所在城市</td>
                        <td>
                            <select name="cityid"  onchange="change(this)">
                                <volist name="city" id='v'>
                                    <option value="{$v.cityname}">{$v.cityname}</option>
                                </volist>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>驾校简称</td>
                        <td><input type="text" name="nickname" /><span style="color:red;">{$errorInfo.nickname|default=""}</span></td>
                    </tr>
                    <tr>
                        <td>驾校全称</td>
                        <td><input type="text" id="keyword" name="fullname"/>
                            <span style="color:red;">{$errorInfo.fullname|default=""}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>地址</td>
                        <td>
                            <input type="text" name="address" value="" id="address"/>
                        </td>
                    </tr>
                    <tr>
                        <td>驾校电话</td>
                        <td><input type="text" name="phone" value="" /></td>
                    </tr>

                    <tr>
                        <td>优先级</td>
                        <td><input type="text" name="order" value="" />(数字，优先级越大排名越靠前)</td>
                    </tr>
                    <tr>
                        <td>驾校logo</td>
                        <td>
                            <div class="usercity" style="border:3px dashed #e6e6e6;width:300px;height:200px;position: relative;margin-bottom: 15px">
                                <p id="preview1" ><img id="imghead1"  border=0 src=''></p><span></span>
                                <input type="file" id="image1" name="image" onchange="previewImage(this,'preview1','imghead1')" style="display:none;" >
                                <label for="image1"  style="margin:50px 20px;color:#fff;text-align:center;border-radius:4px;width:110px;height:26px;line-height:26px;font-size:14px;background:#00b7ee;padding:6px 10px;cursor:pointer;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);">点击选择主图</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>计时培训</td>
                        <td>
                            <label><input type="radio"  name='timing' value=1 />支持</label>　
                            <label><input type="radio" name='timing' value=0 checked/>不支持</label>
                        </td>
                    </tr>
                    <tr>
                        <td>签名</td>
                        <td><input type="text" name="signature"/></td>
                    </tr>
                    <tr>
                        <td>评分</td>
                        <td><input type="text" name="score"/><span style="color:red;">{$errorInfo.score|default=""}</span></td>
                    </tr>

                    <tr>
                        <td>评论数</td>
                        <td><input type="text" name="evalutioncount"  /><span style="color:red;">{$errorInfo.evalutioncount|default=""}</span></td>
                    </tr>
                    <tr>
                        <td>好评数</td>
                        <td><input type="text" name="praisecount" /><span style="color:red;">{$errorInfo.praisecount|default=""}</span></td>
                    </tr>
                    <tr>
                        <td>总学员数</td>
                        <td><input type="text" name="allcount"  /><span style="color:red;">{$errorInfo.allcount|default=""}</span></td>
                    </tr>
                    <tr>
                        <td>已通过人数</td>
                        <td><input type="text" name="passedcount" /><span style="color:red;">{$errorInfo.passedcount|default=""}</span></td>
                    </tr>
                    <tr>
                        <td>联系人/联系方式</td>
                        <td><input type="text" name="connectteacher" />（姓名 空格 手机号）</td>
                    </tr>

                    <tr>
                        <td>驾校简介</td>
                        <td>
                            <textarea name="introduction" id="content7"  style="padding-left:70px;height:250px;visibility:hidden;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" id="add_jx" value="确认编辑">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
<script>
    function previewImage(file,pre,imag) {
        var MAXWIDTH  = 180;
        var MAXHEIGHT = 150;
        var div = document.getElementById(pre);
        if( !file.value.match( /.jpg|.gif|.png|.bmp/i ) ){
            $('#'+pre).next('span').css({"color":"red","font-weight":"bold"}).text('图片类型无效！');
            return false;
        }else{
            $('#'+pre).next('span').css({"color":"green","font-weight":"bold"}).text('');
        }
        if (file.files && file.files[0])
        {
            div.innerHTML ='<img id='+imag+'>';
            var img = document.getElementById(imag);
            img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
            }
            var reader = new FileReader();
            reader.onload = function(evt){img.src = evt.target.result;}
            reader.readAsDataURL(file.files[0]);
        }
        else //兼容IE
        {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            file.blur();
            var src = document.selection.createRange().text;
            div.innerHTML ='<img id='+imag+'>';
            var img = document.getElementById(imag);
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
        }

        $(file).next('label').css({margin:0,top:0,position:'absolute',background:'rgba(0,0,0,0.4)',color:'#fff',fontSize:'14px'}).html('重新选择主图');
    }
    function clacImgZoomParam( maxWidth, maxHeight, width, height ){
        var param = {top:0, left:0, width:width, height:height};
        if( width>maxWidth || height>maxHeight )
        {
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;

            if( rateWidth > rateHeight )
            {
                param.width =  maxWidth;
                param.height = Math.round(height / rateWidth);
            }else
            {
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }

        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }
</script>