<!DOCTYPE html>
<html>
    <head>
        <title>驾校编辑</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/public/js/webuploader/webuploader.css" />
        <script  src="__PUBLIC__/public/js/My97DatePicker/WdatePicker.js"></script>
        <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/js/jquery.form.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/js/webuploader/webuploader.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/js/upload.js"></script>
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mbF3FSfdd6Kyprj0xUlrk40RB0F5tpj2"></script>
    </head>
    <script>
        var uploadUrl = '{:U("uploadMulPic")}';
        var listUrl = '{:U("index")}';
        $(function(){
            $("#jx_editor").click(function(){
                $('#jx_editor').attr('disabled',true);
                $('#form1').ajaxSubmit(function(res){
                    if(res.status==1){
                        $('.uploadBtn').click();
                        setTimeout(function() {
                            alert('编辑成功');
                            location.href="{:U('Admin/School/jx_list')}";
                        },3000);
                    }else{
                        alert('驾校名称已存在,请重新编辑');
                        location.href="{:U('Admin/School/add_jx')}";
                    }
                },'json');
                return false;
            });
        })

    </script>

    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：驾校管理-》驾校详情</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{:U('jx_list?p='.$p)}">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
            <form action="{:U('Admin/School/jx_editor')}" method="post" enctype="multipart/form-data" id="form1">
            <table border="1" width="100%" class="table_a">
                <tr>
                <input type="hidden" name='id' value="{$id}"/>
                    <td width="7%">驾校账号</td>
                    <td><input type="text" name="account" value="{$jx.account}" /></td>
                </tr>
                <tr>
                    <td>登录密码</td>
                    <td><input type="text" name="pass" value="{$jx.pass}" readonly style="width:500px;"/></td>
                </tr>

                <tr>
                    <td>所在城市</td>
                    <td>
                        <select name="cityid" onchange="change(this)">
                            <volist name="city" id='v'>
                                <option value="{$v.id}" {$jx['cityid']==$v['id']?selected:''}>{$v.cityname}</option>
                            </volist>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>驾校简称</td>
                    <td><input type="text" name="nickname" value="{$jx.nickname}" /></td>
                </tr>
                <tr>
                    <td>驾校全称</td>
                    <td><input type="text" name="fullname" id="keyword" value="{$jx.fullname}" style="width:400px"/></td>
                </tr>
                <tr>
                    <td>地址</td>
                    <td>
                        <input type="text" name="address" id="address" value="{$jx['address']}"/>
                        <input type="button" value="定位" onclick="searchByStationName();" />
                    </td>
                    <div id="container"
                         style="position: absolute;
                            display:none;
                            width: 400px;
                            height: 300px;
                            top: 200px;
                            border: 1px solid gray;
                            overflow:hidden;">
                    </div>
                </tr>
                <tr>
                    <td>驾校电话</td>
                    <td><input type="text" name="phone" value="{$jx['phone']}" /></td>
                </tr>
                 <tr>
                    <td>优先级</td>
                    <td><input type="text" name="order" value="{$jx.order}"/>(数字，优先级越大排名越靠前)</td>
                </tr>
                <tr>
                    <td>驾校logo</td>
                    <td>
                        <div class="usercity" style="border:3px dashed #e6e6e6;width:210px;height:200px;position: relative;margin-bottom: 15px">
                            <p id="preview1" >
                                <img id="imghead1"  border=0 src="{$http}/Uploads/School_logo/{$jx['picurl']}{$jx['picname']}" width="200" height="120">
                            </p>
                            <span></span>
                            <input type="file" id="image1" name="image" onchange="previewImage(this,'preview1','imghead1')" style="display:none;" >
                            <label for="image1"  style="margin:50px 20px;color:#fff;text-align:center;border-radius:4px;width:110px;height:26px;line-height:26px;font-size:14px;background:#00b7ee;padding:6px 10px;cursor:pointer;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);">点击选择主图</label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>驾校简介logo</td>
                    <td>
                        <div>
                            <label>简介图片<b>*</b></label>
                        </div>
                            <volist name="picInfo" id="v">
                                <div class="usercity" style="border:3px dashed #e6e6e6;width:320px;height:200px;margin:5px 0px;position: relative;float: left;
                                margin-left: 20px">
                                    <p id="preview{$v.id}" >
                                        <img width="150" id="imghead{$v.id}" height="120"  border=0 src='{$http}/Uploads/School_logo/{$v.picurl}{$v.picname}'></p><span></span>
                                    <input type="file" id="image{$v.id}" name="{$v.id}" onchange="previewImage(this,'preview{$v.id}','imghead{$v.id}',150,150)" style="display:none;" >
                                    <label for="image{$v.id}"  style="margin:0;top:0;position:absolute;background:rgba(0,0,0,0.4);color:#fff;font-size:12px;text-align:center;border-radius:4px;width:60px;height:20px;line-height:20px;padding:3px 3px;cursor:pointer;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);">修改图片</label>
                                </div>
                            </volist>
                    </td>
                </tr>
                <tr>
                    <td>是否支持计时培训</td>
                    <td>
                        <label><input type="radio"  name='timing' value=1 {$jx['timing']==1?'checked':''} />支持</label>　
                        <label><input type="radio" name='timing' value=0 {$jx['timing']==0?'checked':''}/>不支持</label>
                    </td>
                </tr>
                 <tr>
                    <td>签名</td>
                    <td><input type="text" name="signature" value="{$jx['signature']}" /></td>
                </tr>
                <tr>
                    <td>评分</td>
                    <td><input type="text" name="score" value="{$jx['score']}" /></td>
                </tr>
                 <!--<tr>-->
                    <!--<td>火热报名</td>-->
                    <!--<td><label><input type="radio" name='hotflag' value=1 {$jx['hotflag']==1?'checked':''}/>是</label><label><input type="radio" name='hotflag' value=0 {$jx['hotflag']==0?'checked':''}/>否</label></td>-->
                <!--</tr>-->
                 <!--<tr>-->
                    <!--<td>是否推荐</td>-->
                   <!--<td><label><input type="radio" name='recommendflag' value=1 {$jx['recommendflag']==1?'checked':''}/>是</label><label><input type="radio" name='recommendflag' value=0 {$jx['recommendflag']==0?'checked':''}/>否</label></td>-->
                <!--</tr>-->
                 <tr>
                    <td>评论数</td>
                    <td><input type="text" name="evalutioncount" value="{$jx['evalutioncount']}" /></td>
                </tr>
                 <tr>
                    <td>好评数</td>
                    <td><input type="text" name="praisecount" value="{$jx['praisecount']}" /></td>
                </tr>
                 <tr>
                    <td>总学员数</td>
                    <td><input type="text" name="allcount" value="{$jx['allcount']}" /></td>
                </tr>
                 <tr>
                    <td>已通过人数</td>
                    <td><input type="text" name="passedcount" value="{$jx['passedcount']}" /></td>
                </tr>
                <tr>
                    <td>联系人/联系方式</td>
                    <td><input type="text" name="connectteacher" value="{$jx['connectteacher']}"/>（姓名 空格 手机号）</td>
                </tr>


                 <tr>
                    <td>驾校简介</td>
                    <td><textarea name="introduction" cols="80" rows="10">{$jx['introduction']}</textarea></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="button" id="jx_editor" value="保存更新">
                    </td>
                </tr>  
            </table>
            </form>
        </div>
    </body>
</html>
<script>
    var map = new BMap.Map("container");
    var change = function(sel){
        var city=sel.value;
        var map = new BMap.Map("container");
        map.centerAndZoom(city, 12);
    };

    var localSearch = new BMap.LocalSearch(map);
    localSearch.enableAutoViewport(); //允许自动调节窗体大小
    function searchByStationName() {
        var keyword = document.getElementById("keyword").value;
        localSearch.setSearchCompleteCallback(function (searchResult) {
            var poi = searchResult.getPoi(0);
            document.getElementById("address").value = poi.address;  //获取经度和纬度，将结果显示在文本框中
        });
        localSearch.search(keyword);
    }

    function previewImage(file,pre,imag) {
        var MAXWIDTH  = 200;
        var MAXHEIGHT = 150;
        var div = document.getElementById(pre);
        if( !file.value.match( /.jpg|.gif|.png|.bmp/i ) ){
//$(this).prev('span').text('图片格式无效！');
            $('#'+pre).next('span').css({"color":"red","font-weight":"bold"}).text('图片类型无效！');
            return false;
        }else{
            $('#'+pre).next('span').css({"color":"green","font-weight":"bold"}).text('');
        }
        if (file.files && file.files[0])
        {
            div.innerHTML ='<img id='+imag+'>';
            var img = document.getElementById(imag);
            img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
            }
            var reader = new FileReader();
            reader.onload = function(evt){img.src = evt.target.result;}
            reader.readAsDataURL(file.files[0]);
        }
        else //兼容IE
        {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            file.blur();
            var src = document.selection.createRange().text;
            div.innerHTML ='<img id='+imag+'>';
            var img = document.getElementById(imag);
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
        }

        $(file).next('label').css({margin:0,top:0,position:'absolute',background:'rgba(0,0,0,0.4)',color:'#fff',fontSize:'14px'}).html('重新选择主图');
    }
    function clacImgZoomParam( maxWidth, maxHeight, width, height ){
        var param = {top:0, left:0, width:width, height:height};
        if( width>maxWidth || height>maxHeight )
        {
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;

            if( rateWidth > rateHeight )
            {
                param.width =  maxWidth;
                param.height = Math.round(height / rateWidth);
            }else
            {
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }

        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }

</script>
</script>