<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>驾校列表</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <style>
        #page a,#page span{
            display: inline-block; width:15px;height:15px ;padding: 5px;margin: 2px;text-decoration: none;
            text-align: center; line-height: 15px;background: #f0ead8; color:#000000;  border: 1px solid #c2d2d7;
        }
        #page a:hover{background:#F27602;color:#FF0000;}
        #page span{ background:#F27602; color:#FF0000; font-weight: bold;}
        #page{ float: right; }
        .table_a td,th{border:1px solid rgba(39, 164, 237, 0.22);;font-size: 13px}
        .table_a  td{  border: dotted 1px rgba(39, 164, 237, 0.22);}
        .table_a tr:hover{background-color: rgb(82, 249, 56)}
    </style>
</head>
<body>
    <div class="div_head"  style="background-color: rgb(129, 191, 249);color: #ffffff;font-weight: bolder;">
        驾校列表
        <a style="text-decoration: none;color:#fa7124;font-size: 15px" href="{:U('Admin/School/add_jx',array('type'=>'jx','pid'=>$get['pid'],'p'=>$get['p']))}">【驾校添加】</a>
        <span style="float:right;margin-right: 1%">总计：{$count}</span>
    </div>
    <div class="div_search"  style="background-color:  rgb(129, 191, 249);color: #ffffff;font-weight: bold">
        <span>
            <form action="{:U('Admin/School/jx_list')}" id='form' method="get">
                城市：<select name="cityid" >
                    <option value="0">请选择</option>
                    <volist name='city' id='v'>
                        <option value="{$v.id}" {$v['id']==$get['cityid']?selected:''}>{$v.cityname}</option>
                    </volist>
                </select>
                驾校简称：<input type="text" name='nickname' value="{$get['nickname']?$get['nickname']:''}" />
                驾校账号：<input type="text" name='account' value="{$get['account']?$get['account']:''}"/>
                <input value="查询" type="submit" id='btn'/>
                <input value="清空全部" type="reset" id=''/>
            </form>
        </span>
    </div>
    <div style="font-size: 13px; margin: 10px 5px;">
    <table class="table_a" style="border:1px solid  rgb(129, 191, 249);" width="100%">
        <tbody>
            <tr style="font-weight: bold;height:36px;background-color:  rgb(129, 191, 249);color:#ffffff">
                <th width="2%">编号</th>
                <th width="5%">账号</th>
                <th width="4%">头像</th>
                <th width="4%">城市</th>
                <th width="8%">驾校简称</th>
                <th width="8%">地址</th>
                <th width="4%">进驻基地</th>
                <th width="4%">开设课程</th>
                <th width="5%">学员</th>
                <th width="5%">教练</th>
                <th width="3%">地标</th>
                <th width="3%">评分</th>
                <th width="8%">驾校联系人</th>
                <th width="5%">最后操作人</th>
                <th width="10%">操作</th>
            </tr>
            <volist name='jx_list'  id='v' key="k" empty="$empty">
                <tr>
                    <td>{$k+$firstRow}</td>
                    <td>{$v.account}</td>
                    <td>
                        <if condition="$v['picname'] neq ''">
                            <img src="{$http}/Uploads/School_logo/{$v['picurl']}{$v['picname']}" alt="" style="border-radius:50%" width="50" height="50" />
                        <else/>
                            <img src="{$http}/Uploads/default_logo/517.png" alt="" style="border-radius:50%" width="50" height="50" />
                        </if>
                    </td>
                    <td>{$v.cityname}</td>
                    <td>{$v.nickname}<br>
                        <span style="color: #20c318">
                            <if condition="$v.hot eq 1">热搜</if>
                            <if condition="$v.recommand eq 1">推荐</if>
                            <if condition="$v.week eq 1">本周</if>
                        </span>
                    </td>
                    <td>{$v.address}</td>
                    <td><a href="{:U('TrainAddress/train_Address?id='.$v['id'].'&type='.$v['type'].'&pid='.$get['pid'].'&p='.$get['p'])}">查看</a></td>
                    <td>
                        <a href="{:U('Admin/TrainClass/train_class',array('id'=>$v['id'],'type'=>$v['type'],'pid'=>$get['pid'],'p'=>$get['p']))}">{$v.class_num}个课程</a>
                    </td>
                    <td>{$v.student_num}个学员</td>
                    <td>{$v.coach_num}个教练</td>
                    <td><a href="{:U('LandMark/see_land?id='.$v['id'].'&type='.$v['type'].'&pid='.$get['pid'].'&p='.$get['p'])}">查看</a></td>
                    <td>{$v.score}</td>
                    <td>{$v.connectteacher}</td>
                    <td>{$v.lastupdate}</td>
                    <td>
                        <a href="{:U('Admin/Environment/index',array('id'=>$v['id'],'type'=>$v['type'],'pid'=>$get['pid'],'p'=>$get['p']))}">驾考环境</a>
                        <a href="{:U('Admin/School/jx_editor?id='.$v['id'].'&pid='.$get['pid'].'&p='.$get['p'])}">编辑</a>　
                        <a href="{:U('Admin/School/del_school?id='.$v['id'].'&pid='.$get['pid'].'&p='.$get['p'])}" onclick="if(confirm('确定删除?')==false)return false;">删除</a>
                </tr>
        </volist>
        </tbody>
    </table>
    <div id="page" style="float: left">
        {$page}
    </div>
</div>
</body>
</html>
