<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>我要去学车—首页</title>
    <link href="__STATIC__/Index/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/Index/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/Index/css/initialize.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/Index/js/city/cityselect.css">
    <link href="__PUBLIC__/public/js/banner/banner.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/public/js/banner/cityPicker.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/banner/banner.js"></script>
    <script type="text/javascript" src="__PUBLIC__/public/js/banner/Marquee.js"></script>
    <link rel="shortcut icon" href="__PUBLIC__/public/images/favicon.ico"/>
</head>
<body>
<div id="pagewrap">
    <div class="addWrap">
        <div class="swipe" id="mySwipe">
            <div class="swipe-wrap">
                <volist name="info" id="v" empty="$empty">
                    <div>
                        <a href="{$http}{:U($v['href'])}">
                            <img class="img-responsive" src="{$http}/Uploads/Slideshow_logo/{$v.picurl}{$v.picname}" width="400" height="143.75"/>
                        </a>
                    </div>
                </volist>
            </div>
        </div>
        <ul id="position">
            <li class="cur"></li>
            <li class=""></li>
            <li class=""></li>
            <li class=""></li>
        </ul>
    </div>
    <script type="text/javascript">
        var bullets = document.getElementById('position').getElementsByTagName('li');
        var banner = Swipe(document.getElementById('mySwipe'), {
            auto: 2000,
            continuous: true,
            disableScroll:false,
            callback: function(pos) {
                var i = bullets.length;
                while (i--) {
                    bullets[i].className = ' ';
                }
                bullets[pos].className = 'cur';
            }
        });
    </script>

    <div id="header_box2">
        <div id="header2">
            <input type="text" class="city" id="cityname" style="" value="{$Think.session.city}" readonly>
            <script type="text/javascript" src="__STATIC__/Index/js/city/cityselect.js"></script>
            <script type="text/javascript">
                var test=new Vcity.CitySelector({input:'cityname'});
            </script>
            <div class="search_box" onclick="search_box('{$url}/')" style="border-radius: 5px;margin-right: 5%;width:55%">
                <if condition="$Think.session.k eq ''">
                    <input class="search" type="text" name="k" value="" placeholder="请输入驾校或街道" />
                    <else/>
                    <input class="search" type="text" name="k" value="{$Think.session.k}" placeholder="请输入驾校或街道" />
                </if>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <script>
            function search_box(url){
                location.href = url;
            }

        </script>
    </div>

    <div id="content">
        <div id="options">
            <a href="{$url}/">
                <div class="option1">
                    <img src="__STATIC__/Index/images/index_icon01.png">
                    <p>驾考全包</p>
                </div>
            </a>
            <a href="{$url}/">
                <div class="option1">
                    <img src="__STATIC__/Index/images/index_icon02.png">
                    <p>计时培训</p>
                </div>
            </a>
            <a href="{:U('Mobile/Index/zxzk')}">
                <div class="option1">
                    <img src="__STATIC__/Index/images/index_icon03.png">
                    <p>自学直考</p>
                </div>
            </a>
            <a href="{:U('Mobile/Exam/theory_study')}">
                <div class="option1">
                    <img src="__STATIC__/Index/images/index_icon04.png">
                    <p>理论学习</p>
                </div>
            </a>
            <div class="clearfix"></div>
        </div>
        <div class="demopage">
            <div class="demopage_img"><img src="__STATIC__/Index/images/517.png"></div>
            <div class="marquee_box">
                <div id="marquee">
                    <ul>
                        <li>
                            <p class="marquee_hot">惊爆</p><a href="" title="普及30个一线城市">普及30个一线城市</a>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <p class="marquee_hot">热门</p>
                            <a href="" title="合作1800所A级驾校">合作1800所A级驾校</a>
                            <div class="clearfix"></div>
                        </li>
                        <li>
                            <p class="marquee_hot">爆棚</p><a href="" title="百万学员的选择">百万学员的选择</a>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
                <div class="demopage_text">
                    <p>报名即送大礼包！</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <script type="text/javascript">
            $(function(){
                $('#marquee').kxbdSuperMarquee({
                    isEqual:false,
                    distance:30,
                    time:3,
                    direction:'up'
                });
            });
        </script>


        <div id="weekPrice">
            <div class="w-school">
                <div class="wp">
                    <img src="__STATIC__/Index/images/Lowest%20price.png">
                    <p>本周特价</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="weekPrice_box">
                <volist name="week_list" id="v" offset="0" length="1" empty="$empty">
                    <a href="{$v['url']}/">
                        <div id="weekPrice_box1"  style="padding-bottom:30px;width: 47%;margin-right: 0px">
                            <ul>
                                    <li>{$v.nickname}</li>
                                    <li><h1>￥{$v.minprice}</h1></li>
                                    <li><h2>￥{$v.highprice}</h2></li>
                                    <li><p>价格优惠，保证42小时实车训练...</p></li>
                                    <li>
                                        <if condition="$v['picname'] neq ''">
                                            <img src="{$http}/Uploads/School_logo/{$v.picurl}{$v.picname}" alt="">
                                            <else/>
                                            <img src="{$http}/Uploads/default_logo/517.png" alt=""/>
                                        </if>
                                    </li>
                            </ul>
                        </div>
                    </a>
                </volist>
                    <div id="weekPrice_box2" style="height: 260px">
                        <volist name="week_list1" id="data2" offset="1"  empty="$empty">
                            <div class="wp_school1" style="height: 105px;margin-bottom: 10px">
                                <a href="{$data2['url']}/">
                                    <ul class="wps_ul">
                                        <li>{$data2.nickname}</li>
                                        <li><h1>￥{$data2.minprice}</h1></li>
                                        <li><h2>￥{$data2.highprice}</h2></li>
                                        <span>价格优惠，42小时实车训..</span>
                                    </ul>
                                </a>
                                <a  href="{$data2['url']}/" class="wps_img">
                                    <img height="50" src="{$http}/Uploads/School_logo/{$data2.picurl}{$data2.picname}">
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </volist>
                    </div>
                <div class="clearfix"></div>
            </div>
            <div id="more-school" style="margin:0">
                <div class="more" style="border-bottom:1px solid #ececec;border-top:1px solid #ececec;width: 100%;">
                    <a style="padding:2% 38%;text-align: center" href="{$url}/">
                        更多驾校<img style="float: right" src="__STATIC__/Index/images/more.png">
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>


        <div id="hot">
            <div class="hot-school">
                <div class="hs">
                    <img src="__STATIC__/Index/images/index_icon07.png">
                    <p>热门驾校</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="hot_box">
                <volist name="hot_list" id="data" empty="$empty">
                    <a href="{$data['url']}/">
                        <div id="hot_box1" style="border-radius: 10px">
                            <if condition="$data['picname'] neq ''">
                                <img style="margin-top: 10px" src="{$http}/Uploads/School_logo/{$data.picurl}{$data.picname}" alt=""/>
                                <else/>
                                <img style="margin-top: 10px" src="{$http}/Uploads/default_logo/517.png" alt="" />
                            </if>
                            <span style="text-align:center;color: #323232;font-weight: bold;margin-left: 15px;line-height: 24px;font-size: 12px;font-family: "微软雅黑" ">
                                {$data.nickname}
                            </span>
                            <p style="color: #fa7124;margin-left: 15px">￥{$data.minprice}</p>
                            <p style="margin-left: 15px;font-size: 10px">{$data.student_num}人已报名</p>
                        </div>
                    </a>
                </volist>
                <div class="clearfix"></div>
            </div>
            <div id="more-school">
                <div class="more" style="border-bottom:1px solid #ececec;border-top:1px solid #ececec;width: 100%;text-align: center">
                    <a  style="padding:2% 38%;text-align: center" href="{$url}/">
                        更多驾校<img style="float: right" src="__STATIC__/Index/images/more.png">
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>


        <div id="recomment">
            <div class="r-school">
                <div class="rs">
                    <img src="__STATIC__/Index/images/index_icon06.png">
                    <p>推荐驾校</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="r_box">
                <volist name="jx_list" id="data" empty="$empty">
                    <div id="r_box1">
                        <div id="r_main">
                            <a href="{$data['url']}/">
                                {$data.nickname}
                                <div class="clearfix"></div>
                                <ul id="rm">
                                    <li class="money">￥{$data.minprice}</li>
                                    <li class="num" style="font-size: 10px">{$data.student_num}人已报名</li>
                                </ul>
                            </a>
                            <a style="" href="{$data['url']}/#detail">
                                <button style="padding: 4px 8px;color:#ffffff;font-size: 11px;">马上报名</button>
                            </a>
                            <div class="clearfix"></div>
                        </div>
                        <a href="{$data['url']}/">
                            <div id="r_img">
                                <if condition="$data.picname neq ''">
                                    <img style="border-radius: 3px" src="{$http}/Uploads/School_logo/{$data.picurl}{$data.picname}">
                                    <else/>
                                    <img style="width: 100px;height: 70px" src="{$http}/Uploads/default_logo/517.png" alt=""/>
                                </if>
                            </div>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </volist>
            </div>
            <div id="more-school">
                <div class="more" style="border-bottom:1px solid #ececec;border-top:1px solid #ececec;width: 100%;text-align: center">
                    <a style="padding:2% 38%;text-align: c" href="{$url}/">
                        更多驾校<img style="float: right" src="__STATIC__/Index/images/more.png">
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>


        <div id="new">
            <div class="n-school">
                <div class="ns">
                    <img src="__STATIC__/Index/images/index_icon08.png">
                    <p>驾考资讯</p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div id="n_box">
                <volist name="consult" id="v" empty="$empty">
                    <a href="{:U('Mobile/Consult/studynew_detail',array('id'=>$v['id']))}">
                    <div id="n_box1">
                        <div id="n_main" style="margin-top: 10px">
                            <h1 style="line-height: 20px;margin: 0">{$v.title|mb_substr=0,20,utf8}...</h1>
                            <ul id="nm">
                                <li class="date">{$v['ntime']}</li><br>
                                <li class="num">{$v.touch_count}</li>
                                <li class="eye">
                                    <img style="display: block;width: 20px;height: 20px;" src="__STATIC__/consult/images/eye.png">
                                </li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                        <div id="n_img"  style="overflow: hidden;height: 80px;">
                            <img  style="border-radius: 3px" src="{$v.picurl}">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    </a>
                </volist>
            </div>
            <div id="more-school">
                <div class="more" style="border-bottom:1px solid #ececec;border-top:1px solid #ececec;width: 100%;text-align: center">
                    <a style="padding:2% 38%" href="{:U('Consult/studynew')}">
                        更多资讯<img style="float: right" src="__STATIC__/Index/images/more.png">
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <ul>
            <a href="{:U('Mobile/Index/index')}">
                <li class="foot">
                        <img src="__PUBLIC__/public/images/icon-footer01-a.png">
                        <p style="color: #fa7124; font-weight: bold;">首页</p>
                </li>
            </a>
            <a href="{:U('Mobile/Language/language_list')}">
                <li class="foot">
                    <img src="__PUBLIC__/public/images/icon-footer2-a.png">
                    <p>语言</p>
                </li>
            </a>

            <a href="{$url}/">
                <li class="foot">
                    <img src="__PUBLIC__/public/images/icon-footer3-a.png">
                    <p>驾校</p>
                </li>
            </a>
            <a href="{:U('Mobile/Cyclope/baike')}">
                <li class="foot">
                    <img src="__PUBLIC__/public/images/icon-footer4-a.png">
                    <p>百科</p>
                </li>
            </a>
            <a href="{:U('Mobile/User/user_center')}">
                <li class="foot">
                    <img src="__PUBLIC__/public/images/icon-footer5-a.png">
                    <p>我的</p>
                </li>
            </a>
        </ul>
    </footer>
    <div class="call_box" style="margin-bottom: 55px">
        <a class="anniu1" href="http://p.qiao.baidu.com/im/mapi?app_id=10052&unq_id=6777831&qrcodeid=99336780" target="_blank">
            <img src="__PUBLIC__/public/images/shangqiao.png"></a>
    </div>
    <div class="call_box">
        <a href="tel:4008040517"><img src="__PUBLIC__/public/images/phone.png"></a>
    </div>
    <div class="sms_box">
        <a href="sms:13761342004"><img src="__PUBLIC__/public/images/sms.png"></a>
    </div>
    <include file="public/footer"/>
</div>
<!--<script type="text/javascript">-->
    <!--var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");-->
    <!--document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F5ee6637f5a7edfc9880ca397dcfe0eea' type='text/javascript'%3E%3C/script%3E"))-->
<!--</script>-->
</body>
</html>