<!DOCTYPE html>
<html>
<head>
    <title>编辑管理员</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/public/js/jquery.form.js"></script>
    <script src="__PUBLIC__/public/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/public/js/layer/layer.js"></script>
    <style>
        label{padding: 10px 20px 10px 0}
        li{ margin-top: 15px;list-style: none}
        b{color: #FA7124}

        .dfinput{margin-left: 10px;border:solid 1px rgb(220, 220, 220);border-radius: 3px;
            width: 340px;padding: 10px 0 10px 5px;background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="div_head" >
    <span >编辑管理员</span>
    <a style="text-decoration: none;color: #FA7124" href="{$url}">【返回】</a>
</div>
<div style="margin: 10px 5px">
    <form action="" id="form1" method="post">
        <input type="hidden" value="{$adminInfo.id}" name="id"/>
        <input type="hidden" value="{$get['p']}" name="p"/>
        <input type="hidden" value="{$get['pid']}" name="pid"/>
        <ul style="padding: 0;margin-left: 12px">
            <li>
                <label>所属组<b>*</b></label>
                <div style="width: 320px;display: inline-block;">
                    <volist name="groupList" id="value">
                        <div style="display: inline-block;margin-left:10px;width: 150px;margin-bottom: 5px">
                            <input type="text" value="{$value.title}" style="border:none;width: 90px;" readonly/>
                            <input style="width:18px;" name="group_id[]" {:in_array($value['id'],$adminInfo['gid'])?'checked':''} id="{$value.title}" type="checkbox" value="{$value.id}" class="dfinput"/>
                        </div>
                    </volist>
                </div>
            </li>
            <li><label>用户名<b>*</b></label>
                <input name="username" value="{$adminInfo.username}" type="text" class="dfinput" placeholder="请填写用户名"/>
            </li>
            <li><label style="padding-right: 10px">用户级别<b>*</b></label>
                <select class="dfinput" name="permissions" style="width: 345px">
                <volist name="permissions" id="data">
                <option value="{$data.id}" {$adminInfo['permissions'] == $data['id']?'selected':''}>{$data.permissions}</option>
                </volist>
                </select>
            </li>
            <li><label>密　码<b>*</b></label>
                <input name="password" type="password" class="dfinput" value="" placeholder="不填写则保持原密码不变"/>
            </li>
            <li>
                <label style="padding: 10px 72px 10px 0"></label>
                <input style="width: 137px;height: 35px;line-height: 35px;background-color: rgb(19, 181, 177);border: none;border-radius: 4px;color: #ffffff " type="button" class="btn" value="确定"/>
            </li>
        </ul>
    </form>
</div>
</body>
</html>
<script>
    //异步提交表单
    $('.btn').click(function(){
        $.post("{:U('edit')}",$('#form1').serialize(),function(res){
            if(res.status==1){
                layer.msg(res.info, {icon:6,time:2000},function(){
                    location=res.url;
                });
            }else{
                layer.msg(res.info, {icon:5,time:2000},function(){
                    location=res.url;
                });
            }
        });
        return false;
    })
</script>