.header_box{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.header{
    width: 1000px;
    height: 50px;
    margin:0 auto;
}
.back{
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 13px;
}
.back img{
    width: 100%;
    height: auto;
}
.header_text{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    margin-right: 24px;
}
.main_box{
    width: 100%;
}
.main{
    width: 1000px;
    margin:0 auto;
}
.pay_box{
    width: 100%;
}
.pay{
    background: #fff;
    margin-top: 8px;
    border-bottom: 1px solid #eee;
}
.pay_img{
    width: 80px;
    height: 80px;
    float: left;
}
.pay_img img{
    width: 100%;
    height: auto;
}
.pay_text{
    float: left;
}
.pay_money,.pay_name{
    font-family: "Microsoft YaHei";
    line-height: 20px;
    margin-top: 12px;
}
.pay_money{
    font-size: 16px;
    font-weight: bold;
}
.pay_name{
    font-size: 14px;
    color: #777777;
}


/****************************************************
支付列表
****************************************************/
.pay_list{
    height: 60px;
}
.list_img,.list_text{
    float: left;
}
.list_radio{
    float: right;
}
.list_img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 5px;
}
.list_img img{
    width: 100%;
    height: auto;
}
.zfb_text,.zfb_img{
    float: left;
}
.ap_img{
    float: left;
}
.zfb_text{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    font-weight: bold;
    line-height: 36px;
    margin-left: 6px;
}
.zfb_img{
    width: 28px;
    height: 14px;
}
.zfb_img img{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.ap_img{
    width: 42px;
    height: 14px;
}
.ap_img img{
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.note{
    font-family: "Microsoft YaHei";
    font-size: 12px;
    line-height: 10px;
    color: #a0a0a0;
    margin-left: 6px;
}
.list_radio{
    margin-top: 20px;
    margin-right: 20px;
}



/****************************************************
支付成功
****************************************************/
.pay_success_box{
    width: 100%;
}
.pay_success1{
    background: #fff;
    border-bottom: 1px solid #eee;
}
.pay_success2{
    background: #fff;
    margin-top: 8px;
}
.pay_success_img{
    padding-top: 20px;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.pay_success_img img{
    width: 100%;
    height: auto;
}
.pay_success_text{
    width: 190px;
    margin-left: auto;
    margin-right: auto;
}
.pay_success_payWay{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
}
.pay_success_payWay img{
    width: 100%;
    height: auto;
}
.pay_success_money1{
    float: left;
    font-family: "Microsoft YaHei";
    margin-left: 5px;
    font-size: 16px;
    line-height: 44px;
    margin-top: 10px;
    color: #323232;
}
.pay_success_money2{
    float: left;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    line-height: 44px;
    margin-top: 10px;
    color: #646464;
}
.pay_success_list{
     height: 60px;
     border-bottom: 1px solid #eee;
 }
.pay_success_list_left{
    float: left;
}
.left_top{
    margin-left: 20px;
    margin-top: 11px;
}
.left_top>span{
    font-family: "Microsoft YaHei";
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    background: rgb(223,0,36);
}
.left_bottom{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    line-height: 24px;
    margin-left: 20px;
    color: rgb(223,0,36);
}
.pay_success_list_right{
    float: right;
    font-family: "Microsoft YaHei";
    line-height: 60px;
    font-size: 14px;
    padding-right: 20px;
    color: rgb(223,0,36);
}
.pay_success_list1{
    height: 50px;
    border-bottom: 1px solid #eee;
}
.pay_success_list_left1{
    float: left;
    margin-left: 20px;
    font-family: "Microsoft YaHei";
    line-height: 50px;
    font-size: 15px;
    color: #323232;
}
.pay_success_list_right1{
    float: right;
    font-family: "Microsoft YaHei";
    line-height: 50px;
    font-size: 14px;
    padding-right: 20px;
    color: #999;
}


/****************************************************
底部
****************************************************/

.goBack{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}
.go_back{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color:#fa7124;
    text-align: center;
    line-height:60px;
}@media screen and (max-width: 1000px) {
    .header {
        width: 100%;
    }
    .main {
        width: 100%;
    }
}


























