<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>语言简介图片列表</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/public/js/layer/layer.js"></script>
</head>
<body>
    <div class="div_head">
        {$get['title']}
            <a style="text-decoration: none;color:#fa7124;"
               href="{$get['add_url']}">【{$get['title']}添加】</a>
        <a style="text-decoration: none;color:#fa7124;"
           href="{$url}">【返回】</a>
        <span class="span">总计：{$count}</span>
    </div>
    <div style="margin: 10px 5px;">
    <table class="table_a" width="100%">
        <tbody>
            <tr style="background-color: rgb(19, 181, 177);">
                <th width="2%">编号</th>
                <th width="2%">ID</th>
                <th width="5%">图片</th>
                <th width="15%">图片路径</th>
                <th width="4%">添加时间</th>
                <th width="4%">最后更新人</th>
                <th width="5%">操作</th>
            </tr>
            <volist name='info'  id='v' key="k" empty="$empty">
                <tr>
                    <td>{$k+$firstRow}</td>
                    <td>{$v.id}</td>
                    <td>
                        <img src="{$v['picurl']}" alt="" style="border-radius:50%" width="50" height="50" />
                    </td>
                    <td>{$v.picurl}</td>
                    <td>{:date('Y-m-d H:i:s',$v['ntime'])}</td>
                    <td>{$v.lastupdate}</td>
                    <td>
                        <a class="tablelink" href="javascript:void(0);"
                           onclick="del({$v['id']},{$get['pid']},'language_abstract_pic',{$get['id']},{$get['type']},{$get['p']?$get['p']:1})">删除</a>　
                    </td>
                    <script>
                        function del(id,pid,type,tid,type1,p){
                            layer.msg('确定要删除吗？', {
                                time: 0, //不自动关闭
                                btn: ["确定", '取消'],
                                yes: function(){
                                    location.href='{:U("Admin/cyclope/del")}?id='+id+'&pid='+pid+'&type='+type+'&tid='+tid+'&type1='+type1+'&p='+p; //此处只是为了演示，实际使用可以剔除
                                }
                            });
                        }
                    </script>
                </tr>
        </volist>
        </tbody>
    </table>
    <div id="page">
        {$list['page']}
    </div>
</div>
</body>
</html>
