<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>语言教育评价</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script  src="__PUBLIC__/public/js/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
    <div class="div_head">
        {$get['nickname']} - 评价列表
        <a style="text-decoration: none;color:#fa7124;"
               href="{$get['add_url']}">【评价添加】</a>
        <a style="text-decoration: none;color:#fa7124;"
               href="{$get['url']}">【返回】</a>
        <span class="span">总计：{$get['count']}</span>
    </div>
    <div class="div_search">
        <span>
            <form action="{:U('Admin/Language/language_comment',array('pid'=>$get['pid'],'p'=>$get['p'],'id'=>$get['id']))}" id='form' method="get">
                评价时间：<input type="text" style="width: 100px" name='ntime1' value="{$get['ntime1']?$get['ntime1']:''}" onClick="WdatePicker()"/>
                至 <input type="text" style="width: 100px" name='ntime2' value="{$get['ntime2']?$get['ntime2']:''}" onClick="WdatePicker()"/>
                <input value="查询" style="font-size: 11px" type="submit"/>
            </form>
        </span>
    </div>
    <div style="margin: 10px 5px;">
    <table class="table_a" width="100%">
        <tbody>
            <tr style="background-color: rgb(19, 181, 177);">
                <th width="2%">编号</th>
                <th width="2%">ID</th>
                <th width="2%">评论人</th>
                <th width="15%">内容</th>
                <th width="2%">时间</th>
                <th width="2%">评分</th>
                <th width="3%">最后操作人</th>
                <th width="3%">操作</th>
            </tr>
            <volist name='get["info"]'  id='v' key="k" empty="$empty">
                <tr>
                    <td>{$k+$firstRow}</td>
                    <td>{$v.id}</td>
                    <td>{$v.username}</td>
                    <td>{$v.content}</td>
                    <td>{$v.ntime}</td>
                    <td>{$v.score}</td>
                    <td>{$v.lastupdate}</td>
                    <td>
                        <a class="tablelink" href="{:U('Admin/Language/language_comment_del',array('id'=>$v['id'],'pid'=>$get['pid'],'p'=>$get['p'],'type_id'=>$get['id']))}" onclick="if(confirm('确认此操作吗？')==false) return false">删除</a>
                    </td>　
                </tr>
        </volist>
        </tbody>
    </table>
    <div id="page">
        {$page}
    </div>
</div>
</body>
</html>
