<!DOCTYPE html>
<html>
    <head>
        <title>语言教育课程添加</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
        <script src="__PUBLIC__/public/js/jquery.min.1.8.2.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/js/jquery.form.js"></script>
        <script src="__PUBLIC__/public/js/jquery.validate.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/js/layer/layer.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/kindeditor/kindeditor-all.js"></script>
        <style type="text/css">
            span.error{  font-size: 14px;  font-weight: bold;  color: #FF0000;  }
            span.ok{font-size: 14px;  font-weight: bold;  color: #38D63B;  }
            .table_a td,th{border:1px solid rgba(39, 164, 237, 0.22);font-size: 13px}
            .table_a  td{  border: dotted 1px rgba(39, 164, 237, 0.22);}
        </style>
        <script>
            $(document).ready(function(e) {
                KindEditor.ready(function (K) {
                    K.create('#content7', {
                        allowFileManager: true,
                        filterMode: true,
                        afterBlur: function () {  //利用该方法处理当富文本编辑框失焦之后，立即同步数据
                            this.sync("#content7");
                        }
                    });
                });
            })
        </script>
    </head>
    <script>
        $(function(){
            var validate=$('#form1').validate({
                rules:{
                    name:{required:true},
                    way:{required:true},
                    waittime:{required:true},
                    officeprice:{required:true},
                    wholeprice:{required:true},
                    include:{required:true},
                    class_time:{required:true},
                    class_type:{required:true}
                },
                messages:{
                    name:{required:' * 必填项！'},
                    way:{required:' * 必填项！'},
                    waittime:{required:' * 必填项！'},
                    officeprice: {required: ' * 必填项！'},
                    wholeprice:{required:' * 必填项！'},
                    include:{required:' * 必填项！'},
                    class_type:{required:' * 必填项！'},
                    class_time:{required:' * 必填项！'}
                },
                success:function(span){
                    span.addClass('ok').text(' * ok')
                },
                validClass:'ok',
                errorElement:'span'
            });

            $("#submit").click(function(){
                if(validate.form()){
                    $("#submit").attr('disabled',true);
                    $.post('{:U("Admin/Language/language_class_add")}',$("#form1").serialize(),function(res){
                        if(res.status==1){
                            layer.msg(res.info,{icon:6,time:2000},function(){
                                location.href=res.url;
                            })
                        }else{
                            layer.msg(res.info,{icon:5,time:2000},function(){
                                location.href=res.url;
                            })
                        }
                    },'json');
                    return false;
                }
            });
        });
    </script>
    <body>
        <div class="div_head" style="background-color: rgb(129, 191, 249);color: #ffffff;font-weight: bolder">
            {$get['nickname']} - 课程添加/修改
                <span style="margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none;color:#FA7124" href="{$get['url']}">【返回】</a>
                </span>
        </div>
        <form action="#" method="post" id="form1">
        <div style="font-size: 13px;margin: 10px 5px">
            <table width="100%" class="table_a" style="border:1px solid  rgb(129, 191, 249);">
                <input type="hidden" name='type_id' value="{$get['type_id']}"/>
                 <input type="hidden" name='p' value="{$get['p']}"/>
                 <input type="hidden" name='pid' value="{$get['pid']}"/>
                 <input type="hidden" name='id' value="{$info.id}"/>
               	<tr >
                    <td width="5%">课程名</td>
                    <td><input type="text" name="name" value="{$info.name}"/></td>
                </tr>
                <tr >
                    <td width="5%">授课方式</td>
                    <td><input type="text" name="way" value="{$info.way}" placeholder="例如 一对一教学"/></td>
                </tr>
                <tr >
                    <td width="5%">课程时间</td>
                    <td><input type="text" name="class_time" value="{$info.class_time}"  placeholder="例如 30节课"/></td>
                </tr>
                <tr >
                    <td>官方价</td>
                    <td><input type="text" name="officeprice" value="{$info.officeprice}"  placeholder="例如 5800 单位元"/></td>
                </tr>
                <tr >
                    <td>全款价</td>
                    <td><input type="text" name="wholeprice" value="{$info.wholeprice}"  placeholder="例如 5800 单位元"/></td>
                </tr>
                <tr >
                    <td>等待时间</td>
                    <td><input type="text" name="waittime" value="{$info.waittime}" placeholder="例如 1天"/></td>
                </tr>
                <tr >
                    <td>班别</td>
                    <td><input type="text" name="class_type" value="{$info.class_type}" placeholder="例如 周末班"/></td>
                </tr>
                <tr >
                    <td>接送方式</td>
                    <td>
                        <input type="radio" name="shuttle_way" value="0" {$info['shuttle_way']==0?'checked':''} checked/>不接送
                        <input type="radio" name="shuttle_way" value="1" {$info['shuttle_way']==1?'checked':''} />接送
                    </td>
                </tr>
               	<tr>
                    <td>费用包含</td>
                    <td>
                        <textarea name="include" id="content7" style="height: 250px;">
                            {$info.include|default=' &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            教材费、办证费、IC卡费、理科术科培训费燃油费、车辆及人员使用费、经营管理等费用，以及科目一、
                            科目二、科目三考试费、一次补考费'}
                        </textarea>
                    </td>
                </tr>
                <tr>
        			<td colspan='2'>
        				<input type="submit" id="submit" onclick="if(confirm('确定次操作吗？')==false) return false" value="确认操作"/>
        			</td>
        		</tr>
        	</table>
        </div>
       </form>
    </body>
</html>