<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>教育课程列表</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="div_head">
        {$get['nickname']} - 课程列表
            <a style="text-decoration: none;color:#fa7124;"
               href="{$get['add_url']}">【语言教育课程添加】</a>
        <a style="text-decoration: none;color:#fa7124;"
           href="{$get['url']}">【返回】</a>
        <span class="span">总计：{$get['count']}</span>
    </div>
    <div style=" margin: 10px 5px;">
    <table class="table_a" width="100%">
        <tbody>
            <tr style="background-color:  rgb(19, 181, 177);">
                <th width="2%">ID</th>
                <th width="5%">培训课程</th>
                <th width="3%">官方价</th>
                <th width="3%">优惠价</th>
                <th width="3%">班别</th>
                <th width="4%">授课方式</th>
                <th width="3%">等待时间</th>
                <th width="3%">是否接送</th>
                <th width="3%">课程时间</th>
                <th width="15%">费用明细</th>
                <th width="4%">添加时间</th>
                <th width="3%">最后更新人</th>
                <th width="4%">操作</th>
            </tr>
            <volist name='info'  id='v' key="k" empty="$empty">
                <tr>
                    <td>{$v.id}</td>
                    <td>{$v.name}</td>
                    <td>{$v.officeprice}</td>
                    <td>{$v.wholeprice}</td>
                    <td>{$v.class_type}</td>
                    <td>{$v.way}</td>
                    <td>{$v.waittime}</td>
                    <td>{$v['shuttle_way']?'是':'否'}</td>
                    <td>{$v.class_time}</td>
                    <td>{$v.include}</td>
                    <td>{:date('Y-m-d H:i:s',$v['ntime'])}</td>
                    <td>{$v['lastupdate']}</td>
                    <td>
                        <a class="tablelink" href="{:U('Admin/Language/language_class_add',array('id'=>$v['id'],'pid'=>$get['pid'],'p'=>$get['p'],'type_id'=>$get['id']))}">编辑</a>　
                        <span>|</span>
                        <a class="tablelink" id="language_class_del" onclick="if(confirm('确定删除吗？')==false) return false"
                           href="{:U('Admin/Language/language_class_del',array('id'=>$v['id'],'pid'=>$get['pid'],'p'=>$get['p'],'type_id'=>$get['id']))}">删除</a>　
                    </td>
                </tr>
        </volist>
        </tbody>
    </table>
</div>
</body>
</html>

