<!DOCTYPE html>
<html>
    <head>
        <title>语言教育课程添加</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
        <script src="__PUBLIC__/public/js/jquery.min.1.8.2.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/js/jquery.form.js"></script>
        <script src="__PUBLIC__/public/js/jquery.validate.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/js/layer/layer.js"></script>
        <script type="text/javascript" src="__PUBLIC__/public/kindeditor/kindeditor-all.js"></script>
        <style type="text/css">
            span.error{font-size: 12px;color: #FA7124;}
            span.ok{font-size: 12px;color: rgb(19, 181, 177);}
            .table_a  td{text-align: left}
        </style>
        <script>
            $(document).ready(function(e) {
                KindEditor.ready(function (K) {
                    K.create('#content7', {
                        allowFileManager: true,
                        filterMode: true,
                        afterBlur: function () {  //利用该方法处理当富文本编辑框失焦之后，立即同步数据
                            this.sync("#content7");
                        }
                    });
                });
            })
        </script>
    </head>
    <script>
        $(function(){
            var validate=$('#form1').validate({
                rules:{
                    username:{required:true}, score:{required:true}
                },
                messages:{
                    username:{required:' * 必填项！'}, score:{required:' * 必填项！'}
                },
                success:function(span){
                    span.addClass('ok').text(' * ok')
                },
                validClass:'ok',
                errorElement:'span'
            });
            $("#form1").submit();
            $("#submit").click(function(){
                if(validate.form()){
                    $("#submit").attr('disabled',true);
                    $.post('{:U("Admin/Language/language_comment_add")}',$("#form1").serialize(),function(res){
                        if(res.status==1){
                            layer.msg(res.info,{icon:6,time:2000},function(){
                                location.href=res.url;
                            })
                        }else{
                            layer.msg(res.info,{icon:5,time:2000},function(){
                                location.href=res.url;
                            })
                        }
                    },'json');
                    return false;
                }
            });
        });
    </script>
    <body>
        <div class="div_head">
            {$get['nickname']} - 评论添加
            <span style="margin-right: 8px;font-weight: bold">
                <a style="text-decoration: none;color:#FA7124" href="{$get['url']}">【返回】</a>
            </span>
        </div>
        <form action="#" method="post" id="form1">
        <div style="font-size: 12px;margin: 10px 5px">
            <table width="100%" class="table_a">
                <input type="hidden" name='type_id' value="{$get['type_id']}"/>
                 <input type="hidden" name='p' value="{$get['p']}"/>
                 <input type="hidden" name='pid' value="{$get['pid']}"/>
               	<tr style="color: #323232">
                    <td width="5%">评论人</td>
                    <td><input type="text" name="username" value=""/></td>
                </tr>
                <tr>
                    <td width="5%">评分</td>
                    <td><input type="text" name="score" value="" placeholder="请填写数字 1-5"/></td>
                </tr>
               	<tr>
                    <td>内容</td>
                    <td>
                        <textarea name="content" id="content7" style="height: 250px;">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            517学车平台就是好，推荐的驾校好，旗下的驾校也好，我就是在517平台旗下的驾校学的车，
                            没有花冤枉钱，就是报名的时候交的钱，此后再也没有交过钱，也没有给教练送礼，教练很用心
                            。我三个月就拿到驾校了，真快，还没有耽误上班。
                        </textarea>
                    </td>
                </tr>
                <tr>
        			<td colspan='2'>
        				<input type="submit" id="submit" onclick="if(confirm('确定次操作吗？')==false) return false" value="确认操作"/>
        			</td>
        		</tr>
        	</table>
        </div>
       </form>
    </body>
</html>