<!DOCTYPE html>
<html>
<head>
    <title>添加管理员级别</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/public/js/jquery.form.js"></script>
    <script src="__PUBLIC__/public/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/public/js/layer/layer.js"></script>
    <style>
        lable.error{ font-size: 12px;color: #FA7124;}
        lable.ok{ font-size: 12px;color: #38D63B;}

        label{padding: 10px 20px 10px 0;}
        b{color: #FA7124}
        li{ margin-top: 15px;list-style: none;}

        .dfinput{margin-left: 10px;border:solid 1px  rgb(220, 220, 220);border-radius: 3px;
            width: 340px;padding: 10px 0 10px 5px;background: #ffffff;
        }
    </style>
</head>
<body>
<div class="div_head">
    添加管理员级别
    <a style="text-decoration: none;color:#fa7124" href="{$url}">【返回】</a>
</div>
<div style="margin: 10px 5px">
    <form action="?" id="form1" method="post">
        <input type="hidden" name="pid" value="{$get['pid']}"/>
        <input type="hidden" name="id" value="{$get['id']}"/>
        <ul style="margin-left: 10px;padding: 0">
            <li><label>级别名称<b>*</b></label><input name="permissions" type="text" class="dfinput" value="{$permissions['permissions']|default=''}" placeholder="请填写级别名称" /></li>
            <li>
                <label style="padding: 10px 80px 10px 0"></label>
                <input style="width: 137px;height: 35px;line-height: 35px;background-color:  rgb(19, 181, 177);border: none;border-radius: 4px;color: #ffffff " type="button" class="btn" value="确定"/>
            </li>
        </ul>
    </form>
</div>
</body>
</html>
<script>
    $(function(){
        var validate=$('#form1').validate({
            rules:{permissions:{required:true}},
            messages:{
                permissions:{required:' * 必填项！'}
            },
            success:function(lable){
                lable.addClass('ok').text(' * ok');
            },
            validClass:'ok',
            errorElement:'lable'
        });

        $(window).keydown(function(event){
            if(event.keyCode==13){
                $('#form1').submit();
            }
        });
        $('.btn').click(function(){
            if(validate.form()){
                $.post("{:U('Admin/Permissions/add')}",$('#form1').serialize(),function(res){
                    if(res.status){
                        layer.msg(res.info,{time:2000,icon:6},function(){
                            window.location.href=res.url;
                        })
                    }else{
                        layer.msg(res.info,{time:2000,icon:5},function(){
                            window.location.href=res.url;
                        })
                    }
                },'json');
                return false;
            }
        })
    })
</script>