<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>章节列表</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div class="div_head">
        章节列表
    </div>
    <div style="margin: 10px 5px;">
    <table class="table_a" width="100%">
        <tbody>
            <tr style="background-color:rgb(19, 181, 177);">
                <th width="5%">试题ID</th>
                <th width="5%">科目</th>
                <th width="5%">chapter</th>
                <th width="70%">章节名称</th>
                <th width="15%">操作</th>
            </tr>
            <volist name='subject_list'  id='v' key="k" empty="$empty">
                <tr>
                    <td>{$v['id']}</td>
                    <td>{$v['subject']==1?1:4}</td>
                    <td>{$v['chapter']}</td>
                    <td>
                        <if condition="$v.id eq 5">
                            城市{$v.title}
                            <else/>
                            {$v.title}
                        </if>
                    </td>
                    <td>
                        <a class="tablelink" href="{:U('add_exam',array('id'=>$v['id'],'pid'=>$get['pid']))}" >添加部分</a>
                    </td>
                </tr>
        </volist>
        </tbody>
    </table>
    <div id="page">
        {$exam_list['page']}
    </div>
</div>
</body>
</html>
