<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>试题列表</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/public/js/layer/layer.js"></script>
</head>
<body>
    <div class="div_head">
       试题列表
        <span class="span">总计：{$exam_list['count']}</span>
    </div>
    <div class="div_search">
        <span>
            <form action="?" id='form1' method="get" name="form1">
                <input type="hidden" name="pid" value="{$get['pid']}"/>
                <input type="hidden" name="p" value="{$get['p']}"/>
                查找内容：<input type="text" name='question' style="width: 130px;"  value="{$get['question']?$get['question']:''}" />
                <input style="font-size: 11px" value="查询" type="submit" id='btn'/>
                <input style="font-size: 11px" value="清空全部" type="reset" id="btn"/>
                <input value="导出" style="font-size: 11px" type="button" onclick="submitYouFrom('{:U("Admin/Exam/push",array('question'=>$get['question']))}')"/>
            </form>

            <script type="text/javascript" language="javascript">
                function submitYouFrom(path){
                    layer.confirm('确定要导出吗?(注意:导出需要一点时间请耐心等待)', {
                        btn: ['确定','关闭'] //按钮
                    }, function(){
                        $('#form1').attr('action',path);
                        $('#form1').submit();
                    }, function(){
                        location.href = '';
                    });
                }
            </script>
        </span>
    </div>
    <div style="margin: 10px 5px;">
    <table class="table_a" width="100%">
        <tbody>
            <tr style="background-color:rgb(19, 181, 177);">
                <th width="10%">试题ID</th>
                <th width="70%">试题名称</th>
                <th width="10%">操作</th>
            </tr>
            <volist name='exam_list["exam_list"]'  id='v' key="k" empty="$empty">
                <tr>
                    <td>{$v['id']}</td>
                    <td>{$v.question}</td>
                    <td>
                        <a class="tablelink" href="javascript:void(0);"
                           onclick="del_exam({$v['id']},{$get['pid']},{$get['p']?$get['p']:1})">删除</a>　
                        <script>
                            function del_exam(id,pid,p){
                                layer.msg('确定要删除吗？', {
                                    time: 0, //不自动关闭
                                    btn: ["确定", '取消'],
                                    yes: function(){
                                        location.href='{:U("Admin/Exam/del_exam")}?id='+id+'&pid='+pid+'&p='+p; //此处只是为了演示，实际使用可以剔除
                                    }
                                });
                            }
                        </script>
                    </td>
                </tr>
        </volist>
        </tbody>
    </table>
    <div id="page">
        {$exam_list['page']}
    </div>
</div>
</body>
</html>
