<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>教练列表</title>
        <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
        <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
        <script src="__PUBLIC__/public/js/layer/layer.js"></script>
	     <script>
	     $("document").ready(function(){
	  		$("#b").click(function(){
				form=$("#form").serializeArray();
				url="?";
	 			for(i=0;i<form.length;i++){
					if(form[i].value!=''){
						url+=form[i].name+"="+form[i].value+"&";
					}
				}
				location.href =url;
	 		});
	     });
		</script>
    </head>
    <body>
        <div class="div_head">
            教练列表
            <a style="text-decoration: none;color: #FA7124" href="{:U('add_jl',array('type'=>'jl','pid'=>$get['pid'],'p'=>$get['p']))}">【教练添加】</a>
            <span class="span">总计：{$count}</span>
        </div>
        <div class="div_search">
            <span>
                <form action="?" id='form' method="get">
                    <input type="hidden" value="{$get['p']}" name="p"/>
                    <input type="hidden" value="{$get['pid']}" name="pid"/>
                    城市：<select name="cityid" style="font-size: 10px;width: 100px;height: 20px">
                        <option value="">请选择</option>
                        <volist name='city' id='v'>
                            <option value="{$v.id}" {$v['id']==$get['cityid']?selected:''}>{$v.cityname}</option>
                        </volist>
                     </select>
                    教练名称：<input type="text" name='nickname' value="{$get['nickname']}" />
                    教练账号：<input type="text" name='account' value="{$get['account']}"/>
                    <input style="font-size: 11px" value="查询" type="button" id='b'/>
                    <input style="font-size: 11px" value="清空" type="reset" id='b'/>
                </form>
            </span>
        </div>
        <div style="margin-left: 6px">
            <input id="checkall" style="font-size: 12px;font-weight: bold;background-color:rgb(247, 247, 247);border-radius: 3px;border:none;color: #646464;width: 60px;padding: 2px 0;" type="button" value='全选' />
            <input type="button" value='删除' onclick="batch_operate_del('jl')" style="font-size: 12px;font-weight:bold;background-color:rgb(247, 247, 247);border-radius: 3px;border:none;color: #646464;width: 60px;padding: 2px 0"/>
            <script>
                $("document").ready(function(){
                    $("#checkall").click(function(){
                        if($(this).val() == '全选'){
                            $("input[type='checkbox']").prop('checked',true);
                            $("#checkall").val('取消全选');
                        }else{
                            $("input[type='checkbox']").prop('checked',false);
                            $("#checkall").val('全选');
                        }
                    });
                });

                function batch_operate_del(type){
                    var id_arr = document.getElementsByName('id[]');
                    var flag = false;
                    for(var i in id_arr){
                        if(id_arr[i].checked){
                            flag = true;
                            break;
                        }
                    }
                    if(flag){
                        $.post("{:U('Admin/Finance/batch_operate')}",$("#form2").serialize(),function(res){
                            layer.msg('确定要删除吗？',{
                                time:0,
                                btn:['确定','取消'],
                                yes:function(){
                                location.href = "{:U('Admin/School/batch_operate_del')}?pid={$get['pid']}&p={$get['p']}&str="+res.info['str']+"&type="+type
                                }
                            });
                        },'json')
                    }else{
                        layer.msg('请勾选后再操作',{time:2000,btn:['知道了']});
                    }
                }
            </script>
        </div>
        <div style="margin: 10px 5px;">
            <table class="table_a"  width="100%" >
                <tbody>
                    <tr style="background-color:rgb(19, 181, 177);">
                        <th width="3%">ID</th>
						<th width="3%">账号</th>
						<th width="1%">头像</th>
						<th width="3%">姓名</th>
						<th width="3%">最低价格</th>
						<th width="2%">性别</th>
						<th width="2%">课程数</th>
						<th width="3%">类型</th>
						<th width="2%">教练号</th>
						<th width="3%">进驻基地</th>
						<th width="2%">学员数</th>
						<th width="2%">地标</th>
						<th width="2%">评分</th>
						<th width="4%">车牌号</th>
						<th width="2%">城市</th>
                        <!--<th width="2%">本周特价</th>-->
                        <!--<th width="2%">热门驾校</th>-->
                        <th width="2%">推荐驾校</th>
                        <th width="2%">计时培训</th>
						<th width="3%">最后操作人</th>
                        <th width="8%">操作</th>
                    </tr>
                    <form action="" id="form2">
                        <volist name='list'  id='v' key='k'>
                            <tr  style="color: #323232;font-weight: normal ">
                                <td><input type="checkbox" name="id[]" value="{$v.id}"/> {$v.id}</td>
                                <td>{$v.account}</td>
                                <td>
                                    <if condition="$v['picname'] neq ''">
                                        <img src="{$http}/Uploads/Coach_logo/{$v['picurl']}{$v['picname']}" alt="" style="border-radius:50%" width="50" height="50" />
                                        <else/>
                                        <img src="{$http}/Uploads/default_logo/517.png" alt="" style="border-radius:50%" width="50" height="50" />
                                    </if>
                                </td>
                                <td>{$v.nickname}
                                <span style="color: rgb(19, 181, 177);">
                                    <if condition="$v.hot eq 1">热搜</if>
                                    <if condition="$v.recommand eq 1">推荐</if>
                                    <if condition="$v.week eq 1">本周</if>
                                </span>
                                </td>
                                <td>{$v.minprice}</td>
                                <td>{$v['sex']==0?'男':($v['sex']==1?'女':'保密')}</td>
                                <td>
                                    <a class="tablelink" href="{:U('Admin/TrainClass/train_class',array('id'=>$v['id'],'type'=>$v['type'],'pid'=>$get['pid'],'p'=>$get['p']))}">{$v['class_num']}</a>
                                </td>
                                <td>
                                    {$v['category_name']}
                                </td>
                                <td>{$v.serialid}</td>
                                <td><a class="tablelink" href="{:U('TrainAddress/train_address?id='.$v['id'].'&type='.$v['type'].'&pid='.$get['pid'].'&p='.$get['p'])}">查看</a></td>
                                <td>{$v.student_num}</td>
                                <td><a class="tablelink"  href="{:U('LandMark/see_land',array('id'=>$v['id'],'type'=>$v['type'],'pid'=>$get['pid'],'p'=>$get['p']))}">查看</a></td>
                                <td>{$v.score}</td>
                                <td>{$v.carnumber}</td>
                                <td>{$v.cityname}</td>
                                <!--<td>-->
                                    <!--<a  href="javascript:;" class="tablelink" onclick="status_update({$v['id']},{$get['pid']},'week',{$get['p']?$get['p']:1})">{$v['week']?'取消本周':'本周'}</a>-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<a href="javascript:;" class="tablelink"  onclick="status_update({$v['id']},{$get['pid']},'hot',{$get['p']?$get['p']:1})">{$v['hot']?'取消热门':'热门'}</a>-->
                                <!--</td>-->
                                <td>
                                    <a href="javascript:;" class="tablelink" onclick="status_update({$v['id']},{$get['pid']},'recommand',{$get['p']?$get['p']:1})">{$v['recommand']?'取消推荐':'推荐'}</a>
                                </td>
                                <td>
                                    <a href="javascript:;" class="tablelink" onclick="status_update({$v['id']},{$get['pid']},'timing',{$get['p']?$get['p']:1})">{$v['timing']?'取消计时':'计时'}</a>
                                </td>
                                <td> {$v.lastupdate}</td>
                                <td>
                                    <a class="tablelink" href="{:U('Admin/Environment/abstract_pic',array('id'=>$v['id'],'type'=>$v['type'],'pid'=>$get['pid'],'p'=>$get['p'],'t'=>1))}">教学环境</a>　
                                    <span>|</span>
                                    <a class="tablelink" href="{:U('Admin/Environment/abstract_pic',array('id'=>$v['id'],'type'=>$v['type'],'pid'=>$get['pid'],'p'=>$get['p'],'t'=>0))}">简介图片</a>
                                    <span>|</span>
                                    <a class="tablelink" href="{:U('editor_jl?id='.$v['id'].'&p='.$get['p'].'&pid='.$get['pid'].'&type='.$v['type'])}">编辑</a>　
                                    <span>|</span>
                                    <a class="tablelink" onclick="show_forbid({$v['id']},{$get['pid']},{$get['p']?$get['p']:1})">{$v['show_forbid']?'禁止':'展示'}</a>
                                    <script>
                                        function show_forbid(id,pid,p){
                                            layer.msg('确定要这样吗？',{
                                                time:0,
                                                btn:['确定','取消'],
                                                yes:function(){
                                                    location.href = "{:U('Admin/School/show_forbid')}?id="+id+'&pid='+pid+'&p='+p
                                                }
                                            });
                                        }
                                        function status_update(id,pid,type,p){
                                            layer.msg('确定要这样吗？',{
                                                time:0,
                                                btn:['确定','取消'],
                                                yes:function(){
                                                    location.href = "{:U('Admin/School/status_update')}?id="+id+'&pid='+pid+'&type='+type+'&p='+p
                                                }
                                            });
                                        }
                                    </script>
                                </td>
                            </tr>
                        </volist>
                    </form>
                </tbody>
            </table>
            <div id="page">
                {$page}
            </div>
        </div>
    </body>
</html>
