<!DOCTYPE html>
<html>
<head>
    <title>轮播图列表</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="div_head">
    轮播图列表
    <span class="span">总计：{$info['count']}</span>
</div>
<div style="margin: 10px 5px">
    <form action="{:U('add_slide',array('p'=>$get['p'],'pid'=>$get['pid']))}" method="post" enctype="multipart/form-data" id="form1">
        <table  width="100%" class="table_a">
            <tr style="background-color:rgb(19, 181, 177);">
                <td width="5%">序号</td>
                <td width="5%">图片</td>
                <td width="10%">图片描述</td>
                <td width="30%">图片路径</td>
                <td width="10%">参数</td>
                <td width="10%">图片链接</td>
                <td width="5%">链接类型</td>
                <td width="6%">添加时间</td>
                <td width="5%">状态</td>
                <td width="15%">操作</td>
            </tr>
            <volist name='info["info"]' id='v' key="k">
                <tr>
                    <td>
                        <if condition="$v['list_flag'] eq 1">
                            <p style="color:rgb(19, 181, 177)">{$k} *列表页</p>
                            <else/>
                            <p>{$k}</p>
                        </if>
                    </td>
                    <td>
                        <img src="{$http}/Uploads/Slideshow_logo/{$v.picurl}{$v.picname}" alt="" style="border-radius:40%;width:100px;height:50px" />
                    </td>
                    <td>{$v.describe}</td>
                    <td>{$http}/Uploads/Slideshow_logo/{$v.picurl}{$v.picname}</td>
                    <td>{$v['param']=='0'?'/':$v['param']}</td>
                    <td>{$v['url']==''?'/':$v['url']}</td>
                    <td>
                        <if condition="$v['type'] eq 0">
                            /
                            <elseif condition="$v['type'] eq 1"/>
                            驾校
                            <elseif condition="$v['type'] eq 2"/>
                            视频
                            <elseif condition="$v['type'] eq 3"/>
                            其他
                        </if>
                    </td>
                    <td>{:date('Y-m-d',$v['ntime'])}</td>
                    <td>{$v['flag']==0?'禁止':'展示'}</td>
                    <td>
                        <a class="tablelink" href="{:U('edit_slide?id='.$v['id'].'&pid='.$get['pid'].'&p='.$get['p'])}">编辑</a>
                        <a class="tablelink" href="{:U('change_status?id='.$v['id'].'&pid='.$get['pid'].'&flag='.$v['flag'].'&p='.$get['p'])}">{$v['flag']==0?'展示':'禁止'}</a>
                        <a class="tablelink" href="{:U('change_status?id='.$v['id'].'&pid='.$pid.'&list_flag='.$v['list_flag'].'&p='.$get['p'])}">{$v['list_flag']==0?'设为列表图':'取消列表图'}</a>
                        <a class="tablelink" href="{:U('del_img?id='.$v['id'].'&pid='.$pid.'&p='.$get['p'])}" onclick="if(confirm('确定删除?')==false)return false;">删除</a>
                    </td>
                </tr>
            </volist>
        </table>
        <div id="page">
            {$info['page']}
        </div>
    </form>
</div>
</body>
</html>
