<!DOCTYPE html>
<html>
    <head>
        <title>分配权限</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__PUBLIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
        <script src="__PUBLIC__/ment/js/jquery.js"></script>
        <script>
        	$("document").ready(function(){
		 		$("#b").click(function(){
		 			a='';
		 			obj=$("input[type='checkbox']:checked").each(function(){
		 				a+=$(this).val()+',';
		 			});
		 			location.href="?id="+{$id}+"&p="+{$p}+"&ids="+a;
		 		});
        	});
 		</script>
    </head>

    <body>

        <div class="div_head">
            <span>
                <span style="float:left">当前位置是：系统管理-》分配权限</span>
                 <span style="margin-left:30%">账号：{$pers.account}　　姓名：{$pers.username}</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{:U('admin_list?p='.$p)}">【返回】</a>
                </span>
            </span>
        </div>
        <div></div>

        <div style="font-size: 13px;margin: 10px 5px">
            <table border="1" width="10%" class="table_a">
                <tr>
                	<th>序号</th>
                    <th>勾选</th>
                    <th>权限</th>
                </tr>
                <volist name='permiss' id='v'>
	                 <tr>
	                 <td>{$v.id}</td>
	                    <td>
	                    <if condition="in_array($v['id'],$per)">  
    						<input type="checkbox" checked id={$v.id} value={$v.id}/>
    						<else />  
    						<input type="checkbox" id={$v.id} value={$v.id}/>
						</if>    
	                    </td>
	                    <td>{$v.premissname}</td>
	                 </tr>
                 </volist>
                <tr>
                    <td colspan="3" align="center">
                        <input type="button" value="保存" id='b'>
                    </td>
                </tr>  
            </table>
        </div>
    </body>
</html>