<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>提问列表</title>

        <link href="__PUBLIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <style>
            .tr_color{background-color: #9F88FF}
        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：用户管理-》提问列表</span>
                <span style="float: right">总计{$count}条</span>
            </span>
        </div>
        <div></div>
        <div style="font-size: 13px; margin: 10px 5px;">
            <table class="table_a" border="1" width="100%">
                <tbody><tr style="font-weight: bold;">
                        <th width="2%">编号</th>
						<th width="6%">学员姓名</th>
						<th width="6%">联系方式</th>
						<th width="6%">评论对象</th>
						<th width="6%">评论时间</th>
						<th width="6%">评分</th>
						<th width="50%">评论内容</th>
						<th width="10%">操作</th>
                    </tr>
                    <volist name='list'  id='v'>
                    	<tr>
                    		<td>{$v.id}</td>
                    		<td>{$v.user.nickname}</td>
                    		<td>{$v.user.account}</td>
                    		<td>{$v.coach}</td>
                    		<td>{$v.time}</td>
                    		<td>{$v.score}</td>
                    		<td>{$v.content}</td>
                    		<td><a href="{:U('del_eval?id='.$v['id'].'&p='.$p.'&y=1')}">删除</a></td>
                    	</tr>
                    </volist>
                    <tr>
                        <td colspan="20" style="text-align: center;" >
                            {$page}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
