<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>评论日志</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/public/js/layer/layer.js"></script>
    <script  src="__PUBLIC__/public/js/My97DatePicker/WdatePicker.js"></script>
    <style>
        #page a,#page span{display: inline-block; width:15px;height:15px ;padding: 5px;margin: 2px;text-decoration: none;
            text-align: center; line-height: 15px;background: #f0ead8; color:#000000;  border: 1px solid #c2d2d7; }
        #page a:hover{background:#F27602;color:#FA7124;}
        #page span{ background:#F27602; color:#FA7124; font-weight: bold;}
        .table_a td,th{border:1px solid rgba(39, 164, 237, 0.22);font-size: 13px;}
        .table_a td{border: dotted 1px rgba(39, 164, 237, 0.22);font-size: 13px;}
    </style>
</head>
<body>
    <div class="div_head" style="background-color: rgb(129, 191, 249);">
        <span>
            <span style="float: left;font-weight: bolder;color: #ffffff">评论列表</span>
            <span style="margin-left: 20%;"><a href='{:U("Admin/Student/evaluate_list",array("flag"=>0,"pid"=>$get["pid"]))}' style="color: red;text-decoration: none">{$no_reply} 条未回复</a></span>
        </span>
        <span style="float:right;color:#ffffff;margin-right: 35px">总计：{$count}</span>
    </div>
    <div class="div_search" style="height: 35px;background-color:  rgb(129, 191, 249)">
        <form action="?" id='form1' method="get" name="form1">
            <span style="color: #ffffff;font-weight: bolder;">驾校简称：<input type="text" name='nickname' style="width: 100px"  value="{$nickname?$nickname:''}" /></span>
            <span style="color: #ffffff;font-weight: bolder;margin-left:10px;">
                评论时间：<input type="text" style="width: 100px"  onClick="WdatePicker()" value="{$create_time1?$create_time1:''}" name="create_time1"/>
            至
            <input type="text" style="width: 100px" value="{$create_time2?$create_time2:''}"  onClick="WdatePicker()" name="create_time2"/>
            </span>

            <input value="查询" type="submit" id="b"  onclick="submitYouFrom('{:U("Admin/Student/evaluate_list",array('p'=>$get['p'],'pid'=>$get['pid']))}')"/>
            <input value="清空" type="reset" id="b" />
            <!--<input value="导出" type="button" id="button" onclick="submitYouFrom('http://www.517xc.cn/index.php/Admin/Order/push')"/>-->
            <script type="text/javascript" language="javascript">
                function submitYouFrom(path){
                    $('#form1').attr('action',path);
                    $('#form1').submit();
                }
            </script>
        </form>
    </div>
    <div style="font-size: 13px; margin: 10px 5px;">
    <table class="table_a" style="border:1px solid rgb(129, 191, 249)" width="100%">
        <tbody>
            <tr style="font-weight: bold;background-color:  rgb(129, 191, 249);height: 35px;color: #ffffff">
                <th width="2%">编号</th>
                <th width="2%">ID</th>
                <th width="3%">用户</th>
                <th width="5%">驾校</th>
                <th width="15%">评论内容</th>
                <th width="15%">追加内容</th>
                <th width="2%">评分</th>
                <th width="3%">lastip</th>
                <th width="3%">联系电话</th>
                <th width="3%">状态</th>
                <th width="4%">操作</th>
            </tr>
            <volist name='evaluate'  id='v' key="k" empty="$empty">
                <tr>
                    <td>{$k+$firstRow}</td>
                    <td>{$v.id}</td>
                    <td>{$v.truename}</td>
                    <td>{$v.nickname}</td>
                    <td><span style="color: #FA7124">【{$v['ntime']}】</span>{$v.content}</td>
                    <td>
                        <if condition="$v.ucontent eq ''">
                            无
                            <else/>
                            <span style="color: #FA7124">【{$v['untime']}】</span>
                            {$v.ucontent}
                        </if>
                    </td>
                    <td>{$v['score']}</td>
                    <td>{$v['lastip']}</td>
                    <td>{$v['phone']}</td>
                    <td>
                        {$v['flag']==0?'未回复':'已回复'}
                    </td>
                    <td style="text-align: center">
                        <if condition="$v['flag'] eq 0">
                            <a onclick="evaluate_reply({$v['id']},{$get['pid']},{$get['p']})" href="javascript:;">回复</a>
                        <else/>
                            <a onclick="evaluate_reply({$v['id']},{$get['pid']},{$get['p']})" href="javascript:;">查看</a>
                        </if>
                        <a style="margin-left: 10px" href="{:U('Student/evaluate_del',array('id'=>$v['id'],'p'=>$get['p'],'pid'=>$get['pid']))}" onclick="if(confirm('确认删除吗?')==false)  return;">删除</a>
                    </td>
                </tr>
        </volist>
        </tbody>
    </table>
    <div id="page" style="float: left">
        {$page}
    </div>
</div>
</body>
</html>
<script>
    function evaluate_reply(id,pid,p){
        layer.open({
            type: 2,
            title:'客服回复',
            skin: 'layui-layer-rim', //加上边框
            area: ['800px', '600px'], //宽高
            content:"{:U('Admin/Student/evaluate_reply')}?id="+id+'&p='+p+'&pid='+pid
        });
    }
</script>