<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>驾校预约列表</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script  src="__PUBLIC__/public/js/My97DatePicker/WdatePicker.js"></script>
    <script  src="__PUBLIC__/public/js/layer/layer.js"></script>
</head>
<body>
    <div class="div_head">
        驾校预约列表
        <a href="" style="color: #323232;text-decoration: none">【刷新】</a>
        <span style=" margin-right: 8px; font-weight: bold;color: #ffffff">
            <a href="{:U('Admin/Order/pay_list',array('pid'=>16,'p'=>$get['p']))}"  class="span1"
               style="margin-left:100px;color: #fa7142">消息中心：{$count['count1']}条支付宝支付并未处理</a>
            <a href="{:U('Admin/Order/order_list',array('pid'=>16,'p'=>$get['p'],'order_status'=>2))}"  class="span1"
                style="margin-left:30px;color: #fa7142">{$count['count2']}条待回访</a>
            <a href="{:U('Admin/Order/order_list',array('pid'=>16,'p'=>$get['p'],'order_status'=>3))}" class="span1"
                style="margin-left:30px;color: #fa7142">{$count['count3']}条待结算需回访</a>
            <script language="javascript">
                function codefans(){
                    var box=$(".span1");
                    box.show();
                }
                setTimeout("codefans()",1500);//2秒，可以改动
            </script>
        </span>
        <span class="span">总计：{$get['count']}</span>
    </div>
    <div class="div_search">
        <span>
            <form action="?" id='form1' method="get" name="form1">
                <div>
                    <span>
                          学员名称：<input type="text" name='truename' style="width: 100px"  value="{$get['truename']?$get['truename']:''}" />
                    </span>
                     <span style="padding-left:5px">学员电话：
                        <input type="text" name='phone' style="width:100px"  value="{$get['phone']?$get['phone']:''}"/>
                    </span>
                     <span style="padding-left: 5px">
                        跟单客服：<input type="text" name="lastupdate" style="width: 100px"  value="{$get['lastupdate']?$get['lastupdate']:''}"/>
                    </span>
                    <span style="padding-left: 5px">
                        创建时间：<input type="text" style="width: 120px"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" value="{$get['create_time1']?$get['create_time1']:''}" name="create_time1"/>
                        至
                        <input type="text" style="width: 120px" value="{$get['create_time2']?$get['create_time2']:''}"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" name="create_time2"/>
                    </span>
                </div>
                <div>
                    <span>
                        回访时间：<input type="text" style="width: 120px"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" value="{$get['visit_time1']?$get['visit_time1']:''}" name="visit_time1"/>
                            至
                        <input type="text" style="width: 120px" value="{$get['visit_time2']?$get['visit_time2']:''}"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" name="visit_time2"/>
                    </span>
                     <span style="padding-left:5px">
                        <input style="font-size: 11px" value="查询" type="submit" id='btn' onclick="submitYouFrom('{:U("Admin/Student/school_apply",array('pid'=>$get['pid'],'p'=>$get['p']))}')"/>
                        <input style="font-size: 11px"value="清除" type="reset" id="btn"/>
                    </span>
                </div>
                <script type="text/javascript" language="javascript">
                    function submitYouFrom(path){
                        $('#form1').attr('action',path);
                        $('#form1').submit();
                    }
                </script>
            </form>
        </span>
    </div>
    <div style="margin: 10px 5px;">
    <table class="table_a" width="100%">
        <tbody>
            <tr style="background-color:  rgb(19, 181, 177);">
                <th width="2%">编号</th>
                <th width="2%">ID</th>
                <th width="4%">创建时间</th>
                <th width="3%">用户名</th>
                <th width="3%">联系电话</th>
                <th width="5%">学员备注</th>
                <th width="5%">客服备注</th>
                <th width="6%">最新更新时间</th>
                <th width="3%">最后更新人</th>
                <th width="5%">跟单客服</th>
                <th width="7%">状态</th>
                <th width="1%">操作</th>
            </tr>
            <volist name="get['info']"  id='v' key="k" empty="$empty">
                <tr>
                    <td>{$k+$arr['firstRow']}</td>
                    <td>{$v.id}</td>
                    <td>{$v['ntime']}</td>
                    <td>{$v.truename}  <span style="float: right">{$v['sex']==0?'男士':'女士'}</span></td>
                    <td>{$v.phone}</td>
                    <td>{$v.inform}</td>
                    <td>{$v.customer_inform}</td>
                    <td>{$v.visit_time}</td>
                    <td>{$v.lastupdate}</td>
                    <td>{$v.lastupdate}</td>
                    <td>
                        <div>
                            {$v['flag']==0?'未处理':'已处理'}
                            <a class="tablelink" href="javascript:;" onclick="flag_visit('flag',{$v['id']},{$get['pid']},{$get['p']?$get['p']:1})" style="border:1px solid #FA7124;padding:2px;height: 15px;text-decoration: none;">{$v['flag']==0?'已处理':'未处理'}</a>
                        </div>
                        <div>
                            {$v['visit']==0?'未回访':'已回访'}
                            <a class="tablelink" href="javascript:;" onclick="flag_visit('visit',{$v['id']},{$get['pid']},{$get['p']?$get['p']:1})" style="border:1px solid #FA7124;padding:2px;height: 15px;text-decoration: none;">{$v['visit']==0?'已回访':'未回访'}</a>
                        </div>
                    </td>
                    <td>
                        <a class="tablelink" href="{:U('Admin/Student/apply_handler',array('pid'=>$get['pid'],'p'=>$get['p'],'id'=>$v['id']))}">处理</a>　
                    </td>
                </tr>
        </volist>
        </tbody>
    </table>
    <div id="page" style="float: left">
        {$get['page']}
    </div>
</div>
</body>
</html>
<script>
    function flag_visit(type,id,pid,p){
        $(this).attr('disabled','true');
        $.post("{:U('Admin/Student/flag_visit')}",{type:type,id:id,pid:pid,p:p},function(res){
            if(res.status==1){
                layer.msg(res.info,{time:1000,icon:6},function(){
                    location.href =  '{:U("Admin/Student/school_apply")}?p='+p+'&pid='+pid;}
                );
            }else{
                layer.msg(res.info,{time:1000,icon:5},function(){
                    location.href =  '{:U("Admin/Student/school_apply")}?p='+p+'&pid='+pid;
            });
            }
        },'json')
    }
</script>
