<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>用户日志</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script  src="__PUBLIC__/public/js/My97DatePicker/WdatePicker.js"></script>
    <script  src="__PUBLIC__/public/js/layer/layer.js"></script>
</head>
<body>
    <div class="div_head">
        用户日志 <span style="color: #FA7124">(2个月内)</span>
        <span class="span">总计：{$count}</span>
    </div>
    <div class="div_search" >
        <span>
            <form action="?" id='form1' method="get" name="form1">
                <input type="hidden" name="pid" value="{$get['pid']}"/>
                <input type="hidden" name="p" value="{$get['p']}"/>
                时间：<input name="ntime" type="text" style="width: 100px"  onClick="WdatePicker()" value="{$get['ntime']?$get['ntime']:''}" />
                至
                <input type="text" style="width: 100px" value="{$get['ntime1']?$get['ntime1']:''}"  onClick="WdatePicker()" name="ntime1"/>
                姓名：<input type="text" name='username' style="width: 120px"  value="{$get['username']?$get['username']:''}" />
                <input style="font-size: 11px" value="查询" type="submit" id="b"/>

                <input style="font-size: 11px" value="清空" type="reset" id="b" />
                <input value="导出" style="font-size: 11px" type="button" onclick="submitYouFrom('{:U("Admin/UserLog/push",array('start_time'=>$get['start_time']))}','确定导出吗?')"/>
                <input value="导出最近2个月之前的日志" style="font-size: 11px" type="button"
                       onclick="submitYouFrom('{:U("Admin/UserLog/push",array('stop_time'=>$get['start_time']))}','注意：导出后这些数据将会被清除，请妥善保管导出的数据')"/>
                <span style="color: #FA7124">导出后日志信息将会被清除，请妥善保存文档</span>
            </form>
            <script type="text/javascript" language="javascript">
                function submitYouFrom(path,title){
                    layer.msg(title,{
                        time:0,
                        btn:['确定','取消'],
                        yes:function(){
                            $('#form1').attr('action',path);
                            $('#form1').submit();
                            setTimeout(function(){
                                location.href = '';
                            },1000)
                        }
                    });
                }
            </script>
        </span>
    </div>
    <div style=" margin: 10px 5px;">
    <table class="table_a" width="100%">
        <tbody>
            <tr style="background-color:  rgb(19, 181, 177);">
                <th width="2%">编号</th>
                <th width="3%">用户名</th>
                <th width="10%">done</th>
                <th width="10%">url</th>
                <th width="5%">添加时间</th>
                <th width="5%">最后登录时间</th>
                <th width="3%">lastip</th>
            </tr>
            <volist name='UserLog'  id='v' key="k" empty="$empty">
                <tr>
                    <td>{$k+$firstRow}</td>
                    <td>{$v.truename}</td>
                    <td>{$v.done}</td>
                    <td>{$v.url}</td>
                    <td>{$v['ntime']}</td>
                    <td>{:date('Y-m-d H:i:s',$v['lasttime'])}</td>
                    <td>{$v['lastip']}</td>
                </tr>
        </volist>
        </tbody>
    </table>
    <div id="page">
        {$page}
    </div>
</div>
</body>
</html>
