<!DOCTYPE html>
<html>
<head>
    <title>地标管理</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <style>
        .table_a td,th{border:1px solid rgba(39, 164, 237, 0.22);font-size: 13px}
        .table_a  td{  border: dotted 1px rgba(39, 164, 237, 0.22);}
        .table_a tr:hover{background-color: rgb(82, 249, 56)  }
    </style>
    <script>
        $("document").ready(function(){
            $("#checkall").click(function(){
                if($(this).val()=='全选'){
                    $("input[type='checkbox']").prop('checked', true);
                    $("#checkall").val("取消全选");
                }else{
                    $("input[type='checkbox']").prop('checked', false);
                    $("#checkall").val("全选");
                }
            });
        });
    </script>
</head>
<body>
<div class="div_head" style="background-color: rgb(129, 191, 249);font-size: 15px;color: #ffffff;font-weight: bolder">
    地标管理
    <a style="text-decoration: none;color: red;" href="{:U($url)}">【返回】</a>
</div>
<form action="{:U('save_landmark')}" method="post">
    <div style="font-size: 13px;margin: 10px 5px">
        <table border="1" width="100%" class="table_a" style="border:1px solid  rgb(129, 191, 249);">
            <tr style="height:36px;font-weight: bold;background-color:  rgb(129, 191, 249);color:#ffffff">
                <input type="hidden" name='id' value="{$id}"/>
                <input type="hidden" name='type' value="{$get['type']}"/>
                <input type="hidden" name='pid' value="{$get['pid']}"/>
                <input type="hidden" name='p' value="{$get['p']}"/>
                <td colspan='2'>{$info.nickname}</td>
                <td >
                    <input type="button" id="checkall" value="全选"/> 　
                    <input type="submit"  value="保存"/></td>
            </tr>
            <tr>
                <td width="3%">序号</td>
                <td width="3%">区/县</td>
                <td width="80%">地标</td>
            </tr>
            <volist name='county' id='v'>
                <tr height="40px">
                    <td>{$v.id}</td>
                    <td>{$v.countyname}</td>
                    <td>
                        <volist name="v['land']" id='vv'>
                            <label>
                                <if condition="in_array($vv['id'],$land)">
                                    <input type="checkbox" name="mark_id[]" value="{$vv.id}" checked/>{$vv.landname}
                                    <else />
                                    <input type="checkbox" name="mark_id[]" value="{$vv.id}" />{$vv.landname}
                                </if>
                            </label>
                        </volist>
                    </td>
                </tr>
            </volist>
        </table>
    </div>
</form>
</body>
</html>
