.header_box{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.header{
    width: 1000px;
    height: 50px;
    margin:0 auto;
}
.back{
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 13px;
}
.back img{
    width: 100%;
    height: auto;
}
.header_text{
    font-family: "풕턼환쥌";
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    margin-right: 24px;
}
.main_box{
    width: 100%;
}
.main{
    width: 1000px;
    margin:0 auto;
}
.about_us{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    margin-top: -12px;
}
.about_us_text{
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}
.about_us_text p{
    padding-top: 8px;
    font-family: "풕턼환쥌";
    font-size: 12px;
    line-height: 18px;
}
.text{
    font-family: "풕턼환쥌";
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
}




/****************************************************
왕
****************************************************/
.apply_submit{
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}
#btn2{
    width: 160px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-family: "풕턼환쥌";
    font-size: 16px;
    margin-top: 7px;
    color: #fff;
    border-radius: 4px;
    background: #fa7124;
}
@media screen and (max-width: 1000px) {
    .header {
        width: 100%;
    }
    .main {
        width: 100%;
    }
}


























