.header_box{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.header{
    width: 1000px;
    height: 50px;
    margin:0 auto;
}
.back{
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 13px;
}
.back img{
    width: 100%;
    height: auto;
}
.header_text{
    font-family: "Microsoft YaHei";
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    margin-right: 24px;
}
.main_box{
    width: 100%;
}
.main{
    width: 1000px;
    margin:0 auto;
}
.set_box{
    width: 100%;
    margin-top: 8px;
}
.password_reset1,.password_reset2,.password_reset4{
     background: #fff;
     height: 50px;
     border-bottom: 1px solid #eee;
 }
.password_reset1>label,.password_reset2>label,.password_reset3>label,.password_reset4>label{
    font-family: "Microsoft YaHei";
    font-size: 13px;
    line-height: 50px;
    margin-left: 10px;
}
.password_reset1>input,.password_reset2>input,.password_reset3>input,.password_reset4>input{
    font-family: "Microsoft YaHei";
    font-size: 13px;
    line-height: 50px;
    margin-left: 10px;
}
.password_reset3{
    background: #fff;
    height: 50px;
    border-bottom: 1px solid #eee;
    margin-top: 8px;
}
.login_out{
    width: 100%;
    margin-top: 80px;
}
.button_box{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.button_box button{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    width: 300px;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 4px;
    color: #fa7124;
}
.login_a{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
.a_box{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.a_box a{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    width: 70px;
    height: 40px;
    color: #fa7124;
    line-height: 40px;
}





@media screen and (max-width: 1000px) {
    .header {
        width: 100%;
    }
    .main {
        width: 100%;
    }
}


























