<!DOCTYPE html>
<html>
<head>
    <title>编辑指导员</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/public/js/layer/layer.js"></script>
    <script src="__PUBLIC__/public/js/jquery.form.js"></script>
</head>
<script>
    $(function(){
        $("#submit").click(function(){
//            $(this).attr('disabled',true);
            $('#form1').ajaxSubmit(function(res){
                if(res.status==1){
                    alert('编辑成功');
                        location.href="{:U('Admin/Guider/index_list')}";
                }else{
                    alert('编辑失败');
                    location.href="{:U('Admin/Guider/editor_zd')}";
                }
            },'json');
            return false;
        });
    })
</script>
<body>
<div class="div_head">
            <span>
                <span style="float:left">当前位置是：指导员管理-》编辑指导员</span>
                <span style="float:right;margin-right: 8px;font-weight: bold">
                    <a style="text-decoration: none" href="{:U('index_list?p='.$p)}">【返回】</a>
                </span>
            </span>
</div>
<div></div>

<div style="font-size: 13px;margin: 10px 5px">
    <form action="" method="post" id="form1" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{$jl['id']}" jl_id="{$jl['id']}" id="jl_id"/>
        <table  width="100%" class="table_a" border="1">
            <tr style="margin-top: 10px">
                <td width="6%x">指导员账号：</td>
                <td>
                    <input type="text" name="account"  value="{$jl['account']}" style="width:300px" />
                </td>
            </tr>
            <tr>
                <td>指导员姓名：</td>
                <td>
                    <input type="text" name="nickname" value="{$jl['nickname']}" style="width:300px"  />
                </td>
            </tr>
            <tr>
                <td>性&nbsp;&nbsp;别：</td>
                <td>
                        <input type="radio"  name='sex' value=0  {$jl['sex']==0?checked:''} /> <label for="">男</label>
                        <input type="radio"   name='sex' value=1 {$jl['sex']==1?checked:''} /><label for="">女</label>
                        <input type="radio"   name='sex' value=2 {$jl['sex']==2?checked:''} /><label for="">保密</label>
                </td>
            </tr>
            <tr>
                <td>指导员类型：</td>
                <td>
                    <select name="category_id" >
                        <volist name="category" id="v">
                            <option value='{$v.id}' {$jl['id']==$v['id']?selected:''} >{$v.category_name}</option>
                        </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <td>所在城市：</td>
                <td>
                    <select name="cityid" style="width:80px;" id="cityid" onchange="change(this)">
                        <volist name="city" id='v'>
                            <option value="{$v.id}" {$v['id']==$jl['cityid']?selected:''}>{$v.cityname}</option>
                        </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <td>所属驾校：</td>
                <td>
                    <input type="text" name="school_nickname" value="{$nickname?$nickname:$school_nickname}"/>
                    <input type="button" value="选择" id="school_id"/>
                </td>
            </tr>
            <tr>
                <td>所属指导员：</td>
                <td>
                    <select name="boss_id" style="width:80px;">
                        <volist name="boss" id='v'>
                            <option value="{$v.id}" {$v['id']==$jl['boss_id']?selected:''}>{$v.boss_name}</option>
                        </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <td>登录密码：</td>
                <td>
                    <input type="text" name="pass" value="244ac348537069c3bfe9d633349b7334" style="width:300px" />
                        <span style="color:red;">
                            {$errorInfo.pass|default=""}(默认为517xueche)
                        </span>
                </td>
            </tr>
            <tr>
                <td>身份证号：</td>
                <td><input type="text" name="numberId" value="{$jl.numberid}" style="width:300px" /></td>
            </tr>
            <tr>
                <td>驾驶证号：</td>
                <td><input type="text" name="driverId" value="{$jl.driverid}"   style="width:300px" /></td>
            </tr>
            <tr>
                <td>车牌号：</td>
                <td><input type="text" name="carnumber" value="{$jl.carnumber}"  style="width:300px" /></td>
            </tr>
            <tr>
                <td>指导员证号：</td>
                <td><input type="text" name="serialId" value="{$jl.serialid}" style="width:300px"  /></td>
            </tr>
            <tr>
                <td>年&nbsp;&nbsp;龄：</td>
                <td><input type="text" name="age" value="{$jl.age}"  style="width:300px"/></td>
            </tr>
            <tr>
                <td>驾&nbsp;&nbsp;龄：</td>
                <td><input type="text" name="driverage"  value="{$jl.driverage}" style="width:300px"/></td>
            </tr>
            <tr>
                <td>教&nbsp;&nbsp;龄：</td>
                <td><input type="text" name="teachage" value="{$jl.teachage}" style="width:300px"/></td>
            </tr>
            <tr>
                <td>联系电话：</td>
                <td><input type="text" name="phone" value="{$jl.phone}" style="width:300px"  /></td>
            </tr>
            <tr>
                <td>签&nbsp;&nbsp;名：</td>
                <td><input type="text" name="signature" value="{$jl.signature}"  style="width:300px"  /></td>
            </tr>
            <tr>
                <td>评论数：</td>
                <td><input type="text" name="evalutioncount" value="{$jl.evalutioncount}" style="width:300px" /></td>
            </tr>
            <tr>
                <td>好评数：</td>
                <td><input type="text" name="praisecount" value="{$jl.praisecount}"  style="width:300px"/></td>
            </tr>
            <tr>
                <td>总学员数：</td>
                <td><input type="text" name="allcount"  value="{$jl.allcount}" style="width:300px"/></td>
            </tr>
            <tr>
                <td>已通过人数：</td>
                <td><input type="text" name="passedcount" value="{$jl.passedcount}" style="width:300px"/></td>
            </tr>
            <tr>
                <td>地&nbsp;&nbsp;址：</td>
                <td><input type="text" name="address" value="{$jl.address}" style="width:300px"/></td>
            </tr>
            <tr>
                <td>计时培训：</td>
                <td>
                    <label><input type="radio"  name='timing' value=1 {$jl['timing']==1?checked:''} />支持</label>　
                    <label><input type="radio"   name='timing' value=0 {$jl['timing']==0?checked:''} />不支持</label>
                </td>
            </tr>
            <tr>
                <td>指导员头像</td>
                <td>
                    <div class="usercity" style="border:3px dashed #e6e6e6;width:350px;height:280px;position: relative;margin-bottom: 15px">
                        <p id="preview0" >
                            <img id="imghead0"  border=0 src="{$http}/Uploads/guider_logo/{$jl['picurl']}{$jl['picname']}" width="200" height="120">
                        </p>
                        <span></span>
                        <input type="file" id="image0" name="image" onchange="previewImage(this,'preview0','imghead0')" style="display:none;" >
                        <label for="image0"  style="margin:50px 20px;color:#fff;text-align:center;border-radius:4px;width:110px;height:26px;line-height:26px;font-size:14px;background:#00b7ee;padding:6px 10px;cursor:pointer;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);">点击选择主图</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>指导员简介logo</td>
                <td>
                    <div>
                        <label>指导员简介图片<b>*</b></label>
                    </div>
                    <volist name="picInfo" id="v">
                        <div class="usercity" style="border:3px dashed #e6e6e6;width:320px;height:200px;margin:5px 0px;position: relative;float: left;
                                margin-left: 20px">
                            <p id="preview{$v.id}" >
                                <img width="150" id="imghead{$v.id}" height="120"  border=0 src='{$http}/Uploads/guider_logo/{$v.picurl}{$v.picname}'></p><span></span>
                            <input type="file" id="image{$v.id}" name="{$v.id}" onchange="previewImage(this,'preview{$v.id}','imghead{$v.id}',150,150)" style="display:none;" >
                            <label for="image{$v.id}"  style="margin:0;top:0;position:absolute;background:rgba(0,0,0,0.4);color:#fff;font-size:12px;text-align:center;border-radius:4px;width:60px;height:20px;line-height:20px;padding:3px 3px;cursor:pointer;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);">修改图片</label>
                        </div>
                    </volist>
                </td>
            </tr>
            <tr>
                <td>指导员简介：</td>
                <td>
                    <textarea name="introduction" id=""  cols="150" rows="4">{$jl['introduction']}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" id="submit" value="保存更新">
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>

<script>

    var change=function(sel){
        var city=sel.value;
        $("#cityid").val(city);
    };

    $(function(){
        $('#school_id').click(function(){
            layer.open({
                type:2,
                shade:true,
                title:"请勾选驾校",//false为不显示标题
                area:["600px",'600px'],
                content:"{:U('Admin/Guider/edit_school')}?cityid="+$("#cityid").val()+"&id="+$('#jl_id').attr('jl_id')
            });
        });
    });

    function previewImage(file,pre,imag) {
        var MAXWIDTH  = 200;
        var MAXHEIGHT = 230;
        var div = document.getElementById(pre);
        if( !file.value.match( /.jpg|.gif|.png|.bmp/i ) ){
            $('#'+pre).next('span').css({"color":"red","font-weight":"bold"}).text('图片类型无效！');
            return false;
        }else{
            $('#'+pre).next('span').css({"color":"green","font-weight":"bold"}).text('');
        }
        if (file.files && file.files[0])
        {
            div.innerHTML ='<img id='+imag+'>';
            var img = document.getElementById(imag);
            img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
            }
            var reader = new FileReader();
            reader.onload = function(evt){img.src = evt.target.result;}
            reader.readAsDataURL(file.files[0]);
        }
        else //兼容IE
        {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            file.blur();
            var src = document.selection.createRange().text;
            div.innerHTML ='<img id='+imag+'>';
            var img = document.getElementById(imag);
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
        }

        $(file).next('label').css({margin:0,top:0,position:'absolute',background:'rgba(0,0,0,0.4)',color:'#fff',fontSize:'14px'}).html('重新选择主图');
    }
    function clacImgZoomParam( maxWidth, maxHeight, width, height ){
        var param = {top:0, left:0, width:width, height:height};
        if( width>maxWidth || height>maxHeight )
        {
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;

            if( rateWidth > rateHeight )
            {
                param.width =  maxWidth;
                param.height = Math.round(height / rateWidth);
            }else
            {
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }

        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }
</script>
