@charset "utf-8";
/* CSS Document */
/*重置*/
*{ color:#646464; font-size:12px;}
body{ margin:0;}
h1,h2,h3,h4{ font-weight:normal;}
img{ border:none; display:block;}
a{ text-decoration:none;}
a:hover{ color:#ff5a00;}
input{ margin:0; padding:0; border:none; outline:none;}
.clearfix{ clear:both;}
ul{ margin:0; padding:0;}
li{ list-style:none;}
border{ margin:0; padding:0;}
select{ border:none; description:none;}













