<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>列表页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="__PUBLIC__/public/mui/css/mui.min.css">
        <link href="__STATIC__/list/css/main.css" rel="stylesheet" type="text/css">
        <link href="__STATIC__/list/css/media-queries.css" rel="stylesheet" type="text/css">
        <link href="__STATIC__/list/css/initialize.css" rel="stylesheet" type="text/css">
        <link href="__STATIC__/list/css/cityPicker.css" rel="stylesheet" type="text/css">
        <link href="__STATIC__/list/css/list.css" rel="stylesheet" type="text/css">
        <script src="__PUBLIC__/public/js/jquery.min.1.8.2.js"></script>
        <script src="__STATIC__/list/js/banner.js"></script>
        <script type="text/javascript" charset="utf-8" src="__STATIC__/list/js/cityPicker.js"></script>
        <style>
            .mui-pull-caption{margin: auto 0;text-align: center;font-size: 15px;display: none}
            .mask{  width:100%;  height:120%;overflow-x: hidden;  position: absolute;;  top:0;  z-index:1;  background-color:#000;  opacity: 0.2;  margin:0;padding:0;  }
            .font{  width:85%;  height:120%;overflow-x: hidden;   float:right;  position:absolute;  top:0;  right:0;  z-index:2;  background-color:#fff;  margin:0;padding:0;  margin-right:-85%;  }
            .font li{  list-style: none;  border-bottom: 1px solid rgb(232, 232, 232);  overflow: auto padding: 5% 3% 3% 2%;color: rgb(102, 102, 102);  margin-left: 1%;margin-top: 2%;  }

            .countys{  background-color: rgb(246, 244, 244);  border-radius: 3px;padding:2.5% 1%;  width: 28%;text-align: left;margin: 1% 1%;  vertical-align: middle;  display: inline-block;  font-size: 0.1rem;  }
            .common{  width:12%;text-align: center; }
            .color{  color: #ffa538;}

            .cur{
                width:8px;height:8px;margin:0 1px;display:inline-block;-webkit-border-radius:5px;border-radius:5px;background-color:#fff;
            }
        </style>
	</head>
<body>
    <div id="pagewrap">
        <div style="background: #fff;border-bottom: 2px;height: 51px;margin: 0;border-bottom: 1px solid #efefef;" >
                <input type="text" class="city"  style="margin-top: 6px;line-height: 10px;width: 24%;height: 30px;padding: 0;
                    font-size: 14px;color:red;border:none" id="cityname"  value="{$Think.session.city}">
                <script type="text/javascript">
                    $(".city").CityPicker();
                </script>
                <div class="search_box" style="float: right;margin-right: 3%">
                    <form action="{:U('Mobile/List/pull')}" method="get" style="margin: 0;padding: 0">
                        <input type="text" name="k" value="{$Think.session.k}" placeholder="请输入驾校或街道" id="keyword" style='background: #fff;width: 81%;height: 26px;font-size:15px;border-radius: 5px;font-family: "Microsoft yahei" '  />
                        <input class="submit" style="background-color: #fff;float:right;position:absolute;border:none;padding: 5px 0 0 10px;
                               background-image:url(__STATIC__/list/images/search_03.png);" type="submit" value="" id="submit" />
                    </form>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div id="recomment" style="margin-top: 0;" >
                    <div class="rl-school" style="z-index: 1000">
                        <div class="rr_box">
                            <div class="rr" >
                                <if condition="$Think.session.r eq 'recommand'">
                                    <a  class="color" href="{:U('Mobile/List/pull',array('r'=>1))}">推荐</a>
                                    <else/>
                                    <a style="color: #646464;" href="{:U('Mobile/List/pull',array('r'=>1))}">推荐</a>
                                </if>
                                <div class="rr_img">
                                    <img src="__STATIC__/list/images/jt01.png">
                                </div>
                            </div>
                        </div>
                        <div class="dr_box">
                            <div class="dr">
                                <if condition="$Think.session.all eq 'allcount'">
                                    <a class="color" href="{:U('Mobile/List/pull',array('all'=>1))}">人气</a>
                                    <else/>
                                    <a style="color: #646464;" href="{:U('Mobile/List/pull',array('all'=>1))}">人气</a>
                                </if>
                                <div class="rr_img">
                                    <img src="__STATIC__/list/images/jt01.png">
                                </div>
                            </div>
                        </div>
                        <div class="mr_box">
                            <div class="mr">
                                <if condition="$Think.session.p eq 'wholeprice'">
                                    <a class="color"  href="{:U('Mobile/List/pull',array('p'=>1))}">价格</a>
                                    <else/>
                                    <a style="color: #646464;" href="{:U('Mobile/List/pull',array('p'=>1))}">价格</a>
                                </if>
                                <div class="rr_img">
                                    <img src="__STATIC__/list/images/jt01.png">
                                </div>
                            </div>
                        </div>
                        <div class="er_box">
                            <div class="er">
                                <if condition="$Think.session.e eq 'evalutioncount'">
                                    <a class="color" href="{:U('Mobile/List/pull',array('e'=>1))}">评价</a>
                                    <else/>
                                    <a style="color: #646464;" href="{:U('Mobile/List/pull',array('e'=>1))}">评价</a>
                                </if>
                                <div class="rr_img">
                                    <img src="__STATIC__/list/images/jt01.png">
                                </div>
                            </div>
                        </div>
                        <!--<div class="er_box">-->
                            <!--<div class="er">-->
                                <!--<button type="button" id="select" style="padding: 5px;background: #fff;color:#646464;border:none " data-loading-icon="mui-spinner mui-spinner-custom" class="mui-btn mui-btn-primary">筛选</button>-->
                            <!--</div>-->
                        <!--</div>-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        <div class="addWrap" style="position:absolute; width:100%;background:#fff;margin-top:32px; padding:0;">
                <div class="swipe" id="mySwipe" style="overflow: hidden;visibility: hidden;position:relative;width:100%;">
                    <div class="swipe-wrap" style="overflow:hidden;position:relative;width:100%;">
                        <volist name="slideshow" id="data">
                            <div style="float: left;width: 100%;position:relative;">
                                <a href="{:U($data['href'])}">
                                    <img style="display: block; max-width: 100%;  height: auto;" class="img-responsive" src="{$http}/Uploads/Slideshow_logo/{$data['picurl']}{$data['picname']}"/>
                                </a>
                            </div>
                        </volist>
                    </div>
                </div>
                <ul id="position" style="position:absolute; bottom:0; right:0; padding-right:8px; margin:0; width:30%; filter: alpha(opacity=50);text-align:right;">
                    <li style="" class="cur"></li>
                    <li class=""></li>
                    <li class=""></li>
                    <li class=""></li>
                </ul>
            </div>
        <script type="text/javascript">
                var bullets = document.getElementById('position').getElementsByTagName('li');
                var banner = Swipe(document.getElementById('mySwipe'), {
                    auto: 2000,
                    continuous: true,
                    disableScroll:false,
                    callback: function(pos) {
                        var i = bullets.length;
                        while (i--) {
                            bullets[i].className = ' ';
                        }
                        bullets[pos].className = 'cur';
                    }
                });
            </script>
            <!--下拉刷新容器-->
        <div  style="margin-top: 130px;z-index: 1" id="pullrefresh"  class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
				<!--数据列表-->
				<ul class="mui-table-view mui-table-view-chevron">
                    <volist name="info" id="v" empty="$empty">
                        <li style="width: 96%;padding: 3% 0;margin: 0;" class="mui-table-view-cell">
                            <div id="r_main" style="border-bottom: none">
                                <a href="{:U('Mobile/Detail/index',array('id'=>$v['id']))}">{$v.nickname}
                                    <div class="clearfix"></div>
                                    <ul id="rm">
                                        <li style="font-size: 12px" class="money">￥{$v.wholeprice}</li>
                                        <li class="num" style="font-size: 10px">{$v.allcount}人已报名</li>
                                    </ul>
			                        </a>
                                <button style="padding: 3px 8px;margin-right: 0">
                                    <a href="{:U('Mobile/Order/choose_course',array('id'=>$v['id']))}" style="color: white;font-size: 12px">马上报名</a>
                                </button>
                                <div class="clearfix"></div>
                            </div>
                            <div id="r_img">
                                <if condition="$v['type'] eq 'jx'">
                                    <a href="{:U('Mobile/Detail/index',array('id'=>$v['id']))}">
                                        <img src="{$http}/Uploads/School_logo/{$v.picurl}{$v.picname}">
                                    </a>
                                </if>
                                <if condition="$v['type'] eq 'jl'">
                                    <a href="{:U('Mobile/Detail/index',array('id'=>$v['id']))}">
                                        <img src="{$http}/Uploads/coach_logo/{$v.picurl}{$v.picname}">
                                    </a>
                                </if>
                                <if condition="$v['type'] eq 'zd'">
                                    <a href="{:U('Mobile/Detail/index',array('id'=>$v['id']))}">
                                        <img src="{$http}/Uploads/guider_logo/{$v.picurl}{$v.picname}">
                                    </a>
                                </if>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </volist>
				</ul>
			</div>
		</div>
    </div>
    <div class="call_box" style="z-index: 1000">
        <a href="tel:4008040517"><img src="__STATIC__/list/images/phone.png"></a>
    </div>
    <div class="sms_box" style="z-index: 1000">
        <a href="sms:18688888888"><img src="__STATIC__/list/images/sms.png"></a>
    </div>
    <footer id="footer" style="z-index: 3">
        <ul>
                <a href="{:U('Mobile/Index/index')}">
                    <li class="foot">
                        <img src="__STATIC__/list/images/icon-footer1-a.png">
                        <p>首页</p>
                    </li>
                </a>
                <a href="">
                    <li class="foot">
                        <img src="__STATIC__/list/images/icon-footer2-a.png">
                        <p>语言</p>
                    </li>
                </a>
                <a href="#">
                    <li class="foot">
                        <img src="__STATIC__/list/images/icon-footer03-a.png">
                        <p style="color: #fa7124; font-weight: bold;">驾校</p>
                    </li>
                </a>
                <a href="{:U('Mobile/Cyclope/baike')}">
                    <li class="foot">
                            <img src="__STATIC__/list/images/icon-footer4-a.png">
                            <p>百科</p>
                    </li>
                </a>

                <a href="{:U('Mobile/User/user_center')}">
                    <li class="foot">
                        <img src="__STATIC__/Index/images/icon-footer5-a.png">
                        <p>我的</p>
                    </li>
                </a>
            </ul>
    </footer>
    <!--<div class="tan">-->
        <!--<div class="mask" style="display:none;"></div>-->
        <!--<div ></div>-->
        <!--<ul class="font" style="z-index: 1000">-->
        <!--</ul>-->
    <!--</div>-->
    <script src="__PUBLIC__/public/mui/js/mui.min.js"></script>
  <!--  <script>
            var btn = document.getElementById("select");
            //监听点击事件
            btn.addEventListener("tap",function () {
                $.post("{:U('Mobile/List/select')}",'',function(res){
                    var str='';
                    if(res.status==1){
                        str += '<form action="'+"{:U('Mobile/List/pull')}"+'" method="post" >';
                        str += '<li id="header" style="width: 100%;height: 2%;background-color: rgb(246, 244, 244);color: rgb(179, 179, 179);padding:1% 3% 1% 6%;border-bottom:none;">';
                        str += '筛选</li>';
                        str += '<li>当前城市';
                        str += '<p style="background-color: rgb(246, 244, 244); border-radius: 3px;padding:1%;width: 25%;text-align: left;">';
                        str += "{$Think.session.city}"+'</p></li>';
                        str += '<li>' +
                        '<span style="margin-left: 1%;color: rgb(102, 102, 102);width: 100%">区/县</span><br>';
                        for(var i in res.info['countys']){
                            str += '<div class="countys"><input type="radio" name="countyid" value="'+res.info['countys'][i]['id']+'"/>'
                            + "&nbsp;"+res.info['countys'][i]['countyname']+'</div>'
                        }
                        str +=  '</li><li>' +
                        '<span style="margin-left: 1%;color: rgb(102, 102, 102)">小车(通车)</span><br>';
                        for(var y in res.info['xc']){
                            str += '<div class="countys common"><input type="radio" name="jztype" value="'+res.info['xc'][y]['id']+'"/>'
                            + "&nbsp;"+res.info['xc'][y]['jztype']+'</div>' ;
                        }
                        str += '</li><li class="kc"><span style="margin-left: 1%;color: rgb(102, 102, 102)">客车/货车</span><br>'

                        for(var o in res.info['kc']){
                            str += '<div class="countys common"><input type="radio" name="jztype" value="'+res.info['kc'][o]['id']+'"/>'
                            + "&nbsp;"+res.info['kc'][o]['jztype']+'</div>' ;
                        }
                        str += "</li><li style='margin-left: 0px;position: fixed;bottom: 0px;width: 100%;'>" +
                        "<input  style='z-index:3000;background-color:red ;padding:1px 50% 3px 39%;border:1px solid red;height: 45px;font-size: 17px;text-align: left;color: white;' type='submit' value='完成'/></li>";
                        str += "</li></form>";
                        $(".font").html(str);
                    }
                },'json');
                $(".mask").show();
                $(".font").animate({'right':'85%'},500);
            });

        </script>-->
    <script>
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
                    mui('#pullrefresh').pullRefresh().endPulldownToRefresh(); //refresh completed
                    setTimeout(function() {
                        $(".mui-pull-caption").show();
                    }, 1500);
			};
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
            var ys = 2; //从第二页开始获取数据

            function pullupRefresh() {
				setTimeout(function() {
                    mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
                    var table = document.body.querySelector('.mui-table-view');
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: '{:U("Mobile/List/pull")}',
                        data: {page: ys},
                        success: function (data) {
                            var str = "";//定义变量保存内容
                            $.each(data, function (index, array) {
                                if(array['id']){
                                    str += '<li style="width: 96%;padding: 3% 0;margin: 0;" class="mui-table-view-cell">';
                                    str += ' <div id="r_main" style="border-bottom: none">';
                                    str += '<a  href="'+"{:U('Mobile/Detail/index')}?id="+array['id']+'">'+array['nickname'];
                                    str += '<div class="clearfix"></div>';
                                    str += '<ul id="rm">';
                                    str += '<li class="money">￥'+array['wholeprice']+'</li>';
                                    str += '<li class="num" style="font-size: 10px">'+array['allcount']+'人已报名</li>';
                                    str += '</ul>';
				                    str += '</a>';
                                    str += '<button style="margin-right: 8%">';
                                    str += '<a style="color:white;font-size:12px" href="'+"{:U('Mobile/Order/choose_course')}?id="+array['id']+'">'+'马上报名</a>';
                                    str += '</button>';
                                    str += '<div class="clearfix"></div>';
                                    str += '</div>';
                                    str += '<div id="r_img">';
                                    if(array['type'] == 'jx'){
                                        str += '<a href="'+"{:U('Mobile/Detail/index')}?id="+array['id']+'">';
                                        str += '<img src="{$http}/Uploads/School_logo/'+array['picurl']+array['picname']+'">';
                                        str += '</a>';
                                    }
                                    if(array['type'] == 'jl'){
                                        str += '<a href="'+"{:U('Mobile/Detail/index')}?id="+array['id']+'">';
                                        str += '<img src="{$http}/Uploads/coach_logo/'+array['picurl']+array['picname']+'">';
                                        str += '</a>';
                                    }
                                    if(array['type'] == 'zd'){
                                        str += '<a href="'+"{:U('Mobile/Detail/index')}?id="+array['id']+'">';
                                        str += '<img src="{$http}/Uploads/guider_logo/'+array['picurl']+array['picname']+'">';
                                        str += '</a>';
                                    }
                                    str += '</div>';
                                    str += '<div class="clearfix"></div>';
                                    str += '</div></li>';
                                }
                                //下拉刷新，新纪录插到最前面；
                            });
                            $(".mui-table-view").append(str); //把HTML添加到容器
                            ys++;//页数+1
                        }
                    });
				}, 1500);
			}
            mui('body').on('tap','a',function(){document.location.href=this.href;});
        </script>
	</body>
</html>