<!DOCTYPE html>
<html>
<head>
    <title>驾考资讯</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/public/js/layer/layer.js"></script>
</head>
<body>
<div class="div_head">
    资讯列表
    <span class="span">总计：{$count}</span>
</div>
<div style="margin: 10px 5px;">
    <table class="table_a">
        <tr style="background-color:  rgb(19, 181, 177);">
            <td width="5%">序号</td>
            <td width="5%">图片</td>
            <td width="10%">资讯标题</td>
            <td width="20%">资讯内容</td>
            <td width="5%">点击量</td>
            <td width="5%">城市</td>
            <td width="10%">添加时间</td>
            <td width="5%">状态</td>
        </tr>
        <volist name="info" id="v" key="k" empty="$empty">
            <tr>
                <td>
                    <input type="text" value="{$v.order1}" id="pri{$v.id}" onchange="setPriority(this,{$v.id},{$get['pid']},{$get['p']?$get['p']:1})" style="width: 50px;"/>
                </td>
                <td><img src="{$v.picurl}" alt="" width="50" height="40" align="center"/></td>
                <td>{$v['title']}</td>
                <td>{$v['content']}</td>
                <td>{$v['touch_count']}</td>
                <td>{$v['cityname']}</td>
                <td>{$v['ntime']}</td>
                <td>
                    首页咨询
                    <input class="consult" type="button" gid="{$v['id']}" pid="{$get['pid']}" p="{$get['p']}" value="取消"/>
                </td>
            </tr>
        </volist>
    </table>
    <div id="page">{$page}</div>
</div>
</body>
</html>


<script>
    $(".consult").click(function(){
        $(this).attr('disabled',true);
        var id=$(this).attr('gid');
        var pid=$(this).attr('pid');
        var p=$(this).attr('p');
        $.post("{:U('Admin/Consult/statusUpdate')}",{id:id,pid:pid,p:p},function(res){
            if(res.status){
                layer.msg(res.info,{icon:6,time:2000},function(){
                    location.href=res.url;
                });
            }else{
                layer.msg(res.info,{icon:5,time:2000},function(){
                    location.href=res.url;
                });
            }
        })
    });

    var setPriority = function(nav,id,pid,p){
        var priority = $(nav).val();
        $.post('{:U("Admin/Consult/setPriority")}',{'order1':priority,'id':id,p:p,pid:pid},function(res){
            if(res.status){
                layer.tips(res.info, '#pri'+id, {tips: [2, '#3EAFE0']},function(){
                    location.href=res.url;
                });
            }
        },'json')
    }
</script>
