<!DOCTYPE html>
<html>
    <head>
        <title>课程管理</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
        <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
        <style>
            #page a,#page span{
                display: inline-block; width:15px;height:15px ;padding: 5px;margin: 2px;text-decoration: none;
                text-align: center; line-height: 15px;background: #f0ead8; color:#000000;  border: 1px solid #c2d2d7;
            }
            #page a:hover{background:#F27602;color:#FF0000;}
            #page span{ background:#F27602; color:#FF0000; font-weight: bold;}
            #page{ float: right; }

            .table_a td,th{border:1px solid rgba(39, 164, 237, 0.22);font-size: 13px}
            .table_a  td{  border: dotted 1px rgba(39, 164, 237, 0.22);text-align: center}
            .table_a tr:hover{background-color: rgb(82, 249, 56)  }
        </style>
    </head>
    <body>
        <div class="div_head" style="background-color: rgb(129, 191, 249);color: #ffffff;font-weight: bolder">
            <span>课程管理</span>
            <div style="display: inline-block">
                <form action="{:U('Admin/TrainClass/add_class')}" method="post">
                    <input type="hidden" name='id' value="{$id}"/>
                    <input type="hidden" name='nickname' value="{$nickname}"/>
                    <input type="hidden" name='type' value="{$type}"/>
                    <input type="submit" value="课程添加"/>
                </form>
            </div>
            <span style="margin-right: 1%;float: right">总计：{$count}</span>
        </div>
        <form action="{:U('trainsave')}" method="post">
        <div style="font-size: 13px;margin: 10px 5px">
            <table width="100%" class="table_a" style="border:1px solid  rgb(129, 191, 249);">
                <tr style="height:36px;font-weight: bold;background-color:  rgb(129, 191, 249);color:#ffffff">
                    <td colspan='20' style="text-align: left">
                        <if condition="$type eq 'jx'">驾校：</if>
                        <if condition="$type eq 'jl'">教练：</if>
                        <if condition="$type eq 'zd'">指导员：</if>
                        {$nickname}</td>
                </tr>
                <tr>
               		<td width="2%">序号</td>
                	<td width="6%">课程名</td>
                	<td width="2%">车型</td>
                	<td width="3%">驾照类型</td>
                	<td width="4%">练车方式</td>
                	<td width="3%">官方价</td>
                	<td width="3%">全款价</td>
                	<td width="3%">预付费</td>
                	<td width="4%">等待时间</td>
                	<td width="4%">班别</td>
                	<td width="10%">费用包含</td>
                	<td width="4%">是否接送</td>
                	<td width="4%">学车课时</td>
                	<td width="3%">本周特价</td>
                	<td width="3%">热搜</td>
                	<td width="3%">推荐驾校</td>
                	<td width="4%">操作</td>
                </tr>
                <volist name="class" id='v' key="k" empty="$empty">
	                <tr>
	                	<td>{$k+$firstRow}</td>
	                	<td>{$v.name}</td>
	                	<td>{$v.cartype}</td>
	                	<td>{$v.jztype}</td>
	                	<td>{$v.way}</td>
	                	<td>{$v.officeprice}</td>
	                	<td>{$v.wholeprice}</td>
	                	<td>{$v.advanceprice}</td>
	                	<td>{$v.timing}</td>
	                	<td>{$v.class_type}</td>
                        <td>
                            {$v.include}
                        </td>
	                	<td>
                            <if condition="$v.shuttle_way eq 0">
                                不接送
                                <else/>
                                接送
                            </if>
                        </td>
	                	<td>
                            科二：{$v.class_time2}课时</br>
                            科三：{$v.class_time3}课时
                        </td>
	                	<td>
                            <input type="button" value="{$v['week']==1?'取消':'支持'}" class="btn" btn="week" tid="{$v.id}"/>
                        </td>
	                	<td>
                            <input type="button" value="{$v['hot']==1?'取消':'支持'}" class="btn" btn="hot" tid="{$v.id}" />
                        </td>
                        <td>
                            <input type="button" value="{$v['recommand']==1?'取消':'支持'}" class="btn" btn="recommand" tid="{$v.id}"/>
                        </td>
	                	<td>
	                	<a href="{:U('edit_class?type='.$type.'&id='.$v['id'])}">编辑</a>
	                		<a href="{:U('del_class?id='.$id.'&t=jx&p='.$p.'&iid='.$v['id'])}" onclick="if(confirm('确定删除?')==false)return false;">删除</a>
	                	</td>
	                </tr>
               </volist>
                </table>
        </div>
       </form>
        <div id="page" style="float: left">
            {$page}
        </div>
    </body>
</html>

<script>
    $(function(){
        $('.btn').click(function(){
            var btn=$(this).attr('btn');
            var id=$(this).attr('tid');

            $(this).attr('disabled',true);
            $.post ("{:U('Admin/TrainClass/status_update')}",{btn:btn,id:id},function(res){
                if(res.status){
                        alert('操作成功');
                        location.href="";
                }else{
                        alert('操作失败');
                        location.href="";
                }
            },'json')
        })
    })
</script>