<!DOCTYPE html>
<html>
    <head>
        <title>地标管理</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
        <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
        <style>
            .table_a td,th{border:1px solid rgba(39, 164, 237, 0.22);font-size: 13px}
            .table_a  td{  border: dotted 1px rgba(39, 164, 237, 0.22);}
            .table_a tr:hover{background-color: rgb(82, 249, 56)  }
        </style>
        <script>
            $(function(){
                $("#submit").click(function(){
                    $(this).attr('disabled',true);
                    $.post('{:U("Admin/TrainAddress/trainsave")}',$("#form1").serialize(),function(res){
                        if(res.info==1){
                            alert('保存成功');
                        }else{
                            alert('保存失败');
                        }
                        location.href=res.url;
                    },'json');
                    return false;
                })
            })
        </script>
    </head>
    <body>
        <div class="div_head" style="background-color: rgb(129, 191, 249);font-size: 15px;color: #ffffff;font-weight: bolder">
            基地管理
            <a style="text-decoration: none;color: red"  href="{:U($url)}" >【返回】</a>
        </div>
        <form action="#" method="post" id="form1">
        <div style="font-size: 13px;margin: 10px 5px">
            <table  width="100%" class="table_a" style="border:1px solid  rgb(129, 191, 249);">
                <tr>
                <input type="hidden" name='type_id' value="{$id}"/>
                 <input type="hidden" name='type' value="{$get['type']}"/>
                 <input type="hidden" name='pid' value="{$get['pid']}"/>
                 <input type="hidden" name='p' value="{$get['p']}"/>
                    <td colspan='2'>{$user.nickname}　城市：{$cityname}</td>
                    <td ><input type="submit"  value="保存" id="submit"/></td>
                </tr>
                <tr>
               		<td width="3%">序号</td>
                	<td width="10%">基地</td>
                	<td width="80%">地址</td>
                </tr>
                <volist name="train" id='v' key="k">
	                <tr>
	                	<td>{$k}</td>
	                	<td>
                            <label>
	                			<if condition="in_array($v['id'],$trainArr)">
	                				<input type="checkbox" name="trainaddress_id[]" value="{$v.id}" checked/>{$v.trname}
								    <else />
								    <input type="checkbox" name="trainaddress_id[]" value="{$v.id}" />{$v.trname}
								</if>
	                		</label>
	                	</td>
	                	<td>{$v.address}</td>
	                </tr>
               </volist>
        </table>
        </div>
       </form>
    </body>
</html>