<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>百科</title>
    <link href="__STATIC__/cyclope/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/cyclope/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/cyclope/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/cyclope/css/baike.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="__PUBLIC__/public/images/favicon.ico"/>
</head>
<body>
<div id="pagewrap">
    <div class="header_box">
        <div class="header">
            <ul>
                <a href="{:U('Mobile/Index/index')}">
                    <li class="back" style="padding-right: 50px">
                        <img src="__PUBLIC__/public/images/back.png">
                    </li>
                </a>

                <li class="header_text">百科</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>

    <div class="main_box">
        <div class="main">
            <div class="baike-box">
                <div class="hot-topic">
                    <ul><li>热门话题</li></ul>
                    <volist name="info" id="v">
                        <a href="{:U('Mobile/Cyclope/baike_detail',array('id'=>$v['id'],'kemu'=>$v['type']))}">
                            <div class="topic1">
                                <div class="topic-img"  style="overflow: hidden;height: 70px"><img src="{$v['picurl']}"></div>
                                <p style="text-align: center">{$v['title']|mb_substr=0,8,utf8}...</p>
                            </div>
                        </a>
                    </volist>
                    <div class="clearfix"></div>
                </div>
                <div class="hot-sort1">
                    <ul><li>热门分类</li></ul>
                    <a href="{:U('Mobile/Cyclope/kemu')}?kemu=1">
                        <div class="sort-h">
                            <div class="sort-img"><img src="__STATIC__/cyclope/images/baike01.png"></div>
                            <p>科目一</p>
                        </div>
                    </a>
                    <a href="{:U('Mobile/Cyclope/kemu')}?kemu=2">
                        <div class="sort-h">
                            <div class="sort-img"><img src="__STATIC__/cyclope/images/baike02.png"></div>
                            <p>科目二</p>
                        </div>
                    </a>
                    <a href="{:U('Mobile/Cyclope/kemu')}?kemu=3">
                        <div class="sort-h">
                            <div class="sort-img"><img src="__STATIC__/cyclope/images/baike03.png"></div>
                            <p>科目三</p>
                        </div>
                    </a>
                    <a href="{:U('Mobile/Cyclope/kemu')}?kemu=4">
                        <div class="sort-h">
                            <div class="sort-img"><img src="__STATIC__/cyclope/images/baike04.png"></div>
                            <p>科目四</p>
                        </div>
                    </a>
                    <div class="sort-h">
                        <div class="sort-img"><img src="__STATIC__/cyclope/images/baike05.png"></div>
                        <p>学车趣事</p>
                    </div>
                    <div class="sort-h">
                        <div class="sort-img"><img src="__STATIC__/cyclope/images/baike06.png"></div>
                        <p>学车技巧</p>
                    </div>
                    <div class="sort-h">
                        <div class="sort-img"><img src="__STATIC__/cyclope/images/baike07.png"></div>
                        <p>教练秘诀</p>
                    </div>
                    <div class="sort-h">
                        <div class="sort-img"><img src="__STATIC__/cyclope/images/baike08.png"></div>
                        <p>新手上路</p>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="hot-new" style="margin-bottom: 10px">
                    <ul><li>热门资讯</li></ul>
                    <volist name="Hnew" id="v">
                        <div class="Hnew">
                            <a href="{:U('Mobile/Cyclope/baike_detail',array('id'=>$v['id'],'kemu'=>$v['type']))}">
                                <ul>
                                    <li class="new-img"  style="overflow: hidden;height: 70px">
                                        <img src="{$v['picurl']}" alt=""/>
                                    </li>
                                    <li class="new-title">
                                        <h1>{$v.title}</h1>
                                        <ul>
                                            <li class="new-browse">浏览量：<span>{$v['count']}</span></li>
                                            <li class="new-time">{:date('Y-m-d',$v['ntime'])}</li>
                                            <div class="clearfix"></div>
                                        </ul>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </a>
                        </div>

                    </volist>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <ul>
            <a href="{:U('Mobile/Index/index')}">
                <li class="foot">
                    <img src="__STATIC__/cyclope/images/icon-footer1-a.png">
                    <p>首页</p>
                </li>
            </a>
            <a href="{:U('Mobile/Language/language_list')}">
                <li class="foot">
                    <img src="__STATIC__/list/images/icon-footer2-a.png">
                    <p>语言</p>
                </li>
            </a>
            <a href="{:U('Mobile/List/pull')}">
                <li class="foot">
                    <img src="__STATIC__/list/images/icon-footer3-a.png">
                    <p>驾校</p>
                </li>
            </a>
            <a href="{:U('Mobile/Cyclope/baike')}">
                <li class="foot">
                    <img src="__STATIC__/list/images/icon-footer04-a.png">
                    <p style="color: #fa7124; font-weight: bold;">百科</p>
                </li>
            </a>
            <a href="{:U('Mobile/User/user_center')}">
                <li class="foot">
                    <img src="__STATIC__/list/images/icon-footer5-a.png">
                    <p>我的</p>
                </li>
            </a>
        </ul>
    </footer>
</div>

</body>
</html>