<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>百科</title>
    <link href="__STATIC__/cyclope/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/cyclope/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/cyclope/css/baike-detail.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <link rel="shortcut icon" href="__PUBLIC__/public/images/favicon.ico"/>
    <style type="text/css">
        .bdsharebuttonbox a { width: 30px!important; height: 30px!important; margin: 0 auto 10px!important; float: none!important; padding: 0!important; display: block; }
        .bdsharebuttonbox a img { width: 30px; height: 30px; }
        .bdsharebuttonbox .bds_tsina { background: url(__STATIC__/cyclope/images/gbRes_6.png) no-repeat center center/30px 30px; }
        .bdsharebuttonbox .bds_qzone { background: url(__STATIC__/cyclope/images/gbRes_4.png) no-repeat center center/30px 30px; }
        .bdsharebuttonbox .bds_tqq { background: url(__STATIC__/cyclope/images/gbRes_5.png) no-repeat center center/30px 30px; }
        .bdsharebuttonbox .bds_weixin { background: url(__STATIC__/cyclope/images/gbRes_2.png) no-repeat center center/30px 30px; }
        .bdsharebuttonbox .bds_sqq { background: url(__STATIC__/cyclope/images/gbRes_3.png) no-repeat center center/30px 30px; }
        .bd_weixin_popup .bd_weixin_popup_foot { position: relative; top: -12px; }
    </style>
<body>
<div class="login_box">
    <div class="header_box">
        <div class="header">
            <ul>
                <a href="{$mobile_return}"><li class="back" style="padding-right: 50px"><img src="__PUBLIC__/public/images/back.png"></li></a>
                <li class="header_text">百科-科目<if condition="$kemu eq 1">
                    一
                    <elseif condition="$kemu eq 2"/>
                    二
                    <elseif condition="$kemu eq 3"/>
                    三
                    <else/>
                    四
                </if>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="studyNew">
                <div class="new">
                    <volist name="info" id="v" empty="$empty">
                        <h1 class="title" style="margin-top: 8px">{$v.title}</h1>
                        <ul>
                            <li class="dates" style="float: right">{:date('Y.m.d',$v['ntime'])}</li>
                            <div class="clearfix"></div>
                        </ul>
                        <if condition="$v['type'] eq 0">
                            <if condition="$v['picurl'] neq ''">
                                <img src="{$v['picurl']}" alt=""  width="100%" />
                            </if>
                            <else/>
                            <video width="100%" height="200"  controls="controls" poster="{$v['picurl']}" src="{$v['videourl']}"></video>
                        </if>
                        <p>{$v['content']}</p>
                    </volist>

                    <div class="gb_resLay">
                        <div class="gb_res_t"><span>分享到</span><i></i></div>
                        <div class="bdsharebuttonbox">
                            <ul class="gb_resItms">
                                <li> <a title="分享到微信" href="#" class="bds_weixin" onclick="shareHref()" data-cmd="weixin" ></a>微信好友 </li>
                                <li> <a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq" ></a>QQ好友 </li>
                                <li> <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone" ></a>QQ空间 </li>
                                <li> <a title="分享到腾讯微博" href="#" class="bds_tqq" data-cmd="tqq" ></a>腾讯微博 </li>
                                <li> <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina" ></a>新浪微博 </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8">


        var shares=null;
        var Intent=null,File=null,Uri=null,main=null;
        // H5 plus事件处理
        function plusReady(){
            updateSerivces();
            if(plus.os.name=="Android"){
                main = plus.android.runtimeMainActivity();
                Intent = plus.android.importClass("android.content.Intent");
                File = plus.android.importClass("java.io.File");
                Uri = plus.android.importClass("android.net.Uri");
            }
        }
        if(window.plus){
            plusReady();
        }else{
            document.addEventListener("plusready",plusReady,false);
        }

        /**
         *
         * 更新分享服务
         */
        function updateSerivces(){
            plus.share.getServices( function(s){
                shares={};
                for(var i in s){
                    var t=s[i];
                    shares[t.id]=t;
                }
            }, function(e){
                alert("获取分享服务列表失败："+e.message );
            } );
        }



        /**
         * 分享操作
         * @param {JSON} sb 分享操作对象s.s为分享通道对象(plus.share.ShareService)
         * @param {Boolean} bh 是否分享链接
         */
        function shareAction(sb,bh) {
            if(!sb||!sb.s){
                alert("无效的分享服务！");
                return;
            }

            var msg={content:sharehrefDes.value,extra:{scene:sb.x}};
            if(bh){
                msg.href=sharehref.value;
                if(sharehrefTitle&&sharehrefTitle.value!=""){
                    msg.title=sharehrefTitle.value;
                }
                if(sharehrefDes&&sharehrefDes.value!=""){
                    msg.content=sharehrefDes.value;
                }
                msg.thumbs=["_www/logo.png"];
                msg.pictures=["_www/logo.png"];
            }else{
                if(pic&&pic.realUrl){
                    msg.pictures=[pic.realUrl];
                }
            }
            // 发送分享
            if ( sb.s.authenticated ) {
                alert("---已授权---");
                shareMessage(msg,sb.s);
            } else {
                alert("---未授权---");
                sb.s.authorize( function(){
                    shareMessage(msg,sb.s);
                },function(e){
                    alert("认证授权失败："+e.code+" - "+e.message );

                });
            }
        }
        /**
         * 发送分享消息
         * @param {JSON} msg
         * @param {plus.share.ShareService} s
         */
        function shareMessage(msg,s){

            alert(JSON.stringify(msg));
            s.send( msg, function(){
                alert("分享到\""+s.description+"\"成功！ " );

            }, function(e){
                alert( "分享到\""+s.description+"\"失败: "+JSON.stringify(e) );

            } );
        }
        // 分析链接
        function shareHref(){
            var shareBts=[];
            // 更新分享列表
            var ss=shares['weixin'];
            ss&&ss.nativeClient&&(shareBts.push({title:'微信朋友圈',s:ss,x:'WXSceneTimeline'}),
                    shareBts.push({title:'微信好友',s:ss,x:'WXSceneSession'}));
            ss=shares['qq'];
            ss&&ss.nativeClient&&shareBts.push({title:'QQ',s:ss});
            // 弹出分享列表
            shareBts.length>0?plus.nativeUI.actionSheet({title:'分享链接',cancel:'取消',buttons:shareBts},function(e){
                (e.index>0)&&shareAction(shareBts[e.index-1],true);
            }):plus.nativeUI.alert('当前环境无法支持分享链接操作!');
        }

    </script>
</div>
</body>
</html>