<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>百科</title>
    <link href="__STATIC__/cyclope/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/cyclope/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/cyclope/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/cyclope/css/baike.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="pagewrap">
    <div class="header_box">
        <div class="header">
            <ul>
                <li class="back"><a href="{:U('Mobile/cyclope/baike')}"><img src="__PUBLIC__/public/images/back.png"></a></li>
                <li class="header_text">百科-科目
                    <if condition="$kemu eq 1">
                        一
                        <elseif condition="$kemu eq 2"/>
                        二
                        <elseif condition="$kemu eq 3"/>
                        三
                        <else/>
                        四
                    </if>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="baike-box">
                <volist name="info" id="v" empty="$empty">
                    <div class="kemuyi-list">
                        <div class="kemuyi-list-img-box">
                            <div class="kemuyi-list-img">
                                <a href="{:U('Mobile/Cyclope/baike_detail')}?id={$v['id']}&kemu={$kemu}">
                                    <img src="{$http}/Uploads/cyclope_logo/{$v.picurl}{$v.picname}">
                                </a>
                            </div>
                        </div>
                        <div class="kemuyi-list-text-box">
                                <ul class="kemuyi-list-text">
                                    <li class="kemuyi-list-head"><a href="{:U('Mobile/Cyclope/baike_detail')}?id={$v['id']}&kemu={$kemu}">{$v.title}</a></li>
                                    <li class="kemuyi-list-note">
                                        <a href="{:U('Mobile/Cyclope/baike_detail')}?id={$v['id']}&kemu={$kemu}">
                                            {$v.title}
                                        </a>
                                    </li>
                                    <li class="kemuyi-list-time">浏览量：{$v['count']}</li>
                                    <li class="kemuyi-list-time">{:date('Y-m-d H:i:s',$v['ntime'])}</li>
                                </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </volist>
            </div>
        </div>
    </div>

</div>

</body>
</html>