<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        .table_a{border:2px solid rgba(39, 164, 237, 0.22);width:100%;border-radius: 8px;font-size: 13px}
        .table_a  td,th{  border: dotted 1px rgba(39, 164, 237, 0.22);}
    </style>
</head>
<body>
<div>
    <table class="table_a">
        <tr style="background-color:  rgb(121,199,249);height: 50px">
            <th width="13%">时间</th>
            <th width="65%">内容详情</th>
            <th width="10%">lastip</th>
            <th width="12%">操作员</th>
        </tr>
        <volist name="order_log" id="v" empty="$empty">
            <tr>
                <td>{:date('Y-m-d H:i:s',$v['ntime'])}</td>
                <td>{$v['done']}</td>
                <td>{$v['lastip']}</td>
                <td>{$v['username']}</td>
            </tr>
        </volist>
    </table>
</div>
</body>
</html>
