<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>订单统计报表</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script  src="__PUBLIC__/public/js/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
    <div class="div_head">
        订单统计报表
    </div>
    <div class="div_search">
        <span>
            <form action="{:U('Admin/Order/order_statistics',array('pid'=>$get['pid']))}" id='form1' method="get">
                <span>
                    城市：<select name="cityname" id="" style="height: 20px;font-size: 11px;width: 70px">
                        <option value="0">请选择</option>
                        <volist name="city" id="city">
                            <option value="{$city['id']}" {$get['cityname']==$city['id']?'selected':''}>{$city['cityname']}</option>
                        </volist>
                    </select>
                </span>
                <span style="margin-left: 15px">
                    时间：<input type="text" style="font-size: 12px" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" value="{$get['create_time']?$get['create_time']:''}" name="create_time"/>
                        至 <input type="text" style="font-size: 12px"  value="{$get['create_time1']?$get['create_time1']:''}"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" name="create_time1"/>
                    <input value="查询" style="font-size: 11px" type="submit"/>
                </span>
            </form>
        </span>
    </div>
    <div style="font-size: 12px; margin: 10px 5px;">
    <table class="table_a" width="100%">
        <tbody>
            <tr  style="background-color:  rgb(19, 181, 177);">
                <th width="6%">时间</th>
                <th width="6%">下单量</th>
                <th width="6%">成单量</th>
                <th width="6%">成单率</th>
                <th width="6%">结算量</th>
                <th width="6%">结算率</th>
                <th width="6%">支付宝</th>
            </tr>
            <tr>
                <td style="text-align: center">{$create_time} ~ {$create_time1}</td>
                <td>{$order_statistics['order_num']}</td>
                <td>{$order_statistics['completed_num']}</td>
                <td>{$order_statistics['completed_lv']}</td>

                <td>{$order_statistics['end_num']}</td>
                <td>{$order_statistics['end_lv']}</td>
                <td>{$order_statistics['pay_type']}</td>
            </tr>
            <tr style="height: 20px"><td colspan="7"></td></tr>
        <tr style="height: 20px;border: 1px solid rgb(129, 191, 249)">
            <td style="text-align: center">合计：</td>
            <td>下单总数：{$order_statistics['order_num']?$order_statistics['order_num']:0}</td>
            <td>成单总数：{$order_statistics['completed_num']?$order_statistics['completed_num']:0}</td>
            <td>成单转化率：{$order_statistics['completed_lv']?$order_statistics['completed_lv']:0}</td>
            <td>结算总数：{$order_statistics['end_num']?$order_statistics['end_num']:0}</td>
            <td>结算转化率：{$order_statistics['end_lv']?$order_statistics['end_lv']:0}</td>
            <td>支付宝支付订单数：{$order_statistics['pay_type']?$order_statistics['pay_type']:0}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
