<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>订单列表</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script  src="__PUBLIC__/public/js/My97DatePicker/WdatePicker.js"></script>
</head>
<body>
    <div class="div_head">
        订单列表
        <span>
              <if condition="$add_order neq '0'">
                  <a style="text-decoration: none;color:#FA7124;" href="{:U($add_order,array('p'=>$get['p'],'pid'=>$get['pid']))}">【新建订单】</a>
                  <else/>
                  <a style="text-decoration: none;color:#FA7124;" href="javascript:alert('暂无权限')" >【新建订单】</a>
              </if>
         <a href="{:U('Admin/Student/school_apply',array('pid'=>$get['pid']))}" style="width: 10px;padding:3px;height: 20px;
              text-decoration: none;margin-left:50px;font-weight: bold">驾校预约列表</a>
         <a href="{:U('Admin/Language/language_apply',array('pid'=>$get['pid']))}" style="width: 10px;padding:3px;height: 20px;
              text-decoration: none;margin-left:50px;font-weight: bold">语言教育预约列表</a>
        <a href="{:U('Admin/Order/pay_list',array('pid'=>16,'p'=>$get['p']))}"  class="span1"
           style="margin-left:100px;color: #FA7124;display: none">消息中心：{$count['count1']}条支付宝支付并未处理</a>
         <a href="{:U('Admin/Order/order_list',array('pid'=>16,'p'=>$get['p'],'order_status'=>2))}"  class="span1"
            style="margin-left:30px;color: #FA7124;display: none">{$count['count2']}条待回访</a>
        <a href="{:U('Admin/Order/order_list',array('pid'=>16,'p'=>$get['p'],'order_status'=>3))}" class="span1"
           style="margin-left:30px;color: #FA7124;display: none">{$count['count3']}条待结算需回访</a>
        <script language="javascript">
            function codefans(){
                var box=$(".span1");
                box.show();
            }
            setTimeout("codefans()",1500);//2秒，可以改动
        </script>
        </span>
        <span class="span">总计：{$arr['count']}</span>
    </div>
    <div class="div_search">
        <span>
            <form action="?" id='form1' method="get" name="form1">
                <div>
                    <span>
                        所在城市：<select name="cityname" style="width: 65px;height: 20px;font-size: 11px;">
                            <option value="">全部</option>
                            <volist name="citys" id="v">
                                <option value="{$v.id}" {$get['cityname']==$v['id']?selected:''}>{$v.cityname}</option>
                            </volist>
                        </select>
                    </span>
                     <span style="padding-left: 5px">订单状态：
                        <select name="orderStatus" style="width: 75px;height: 20px;font-size: 11px;">
                            <option value="0" >全部</option>
                            <option value="1" {$get['orderStatus']==1?selected:''}>待处理</option>
                            <option value="2" {$get['orderStatus']==2?selected:''}>待回访</option>
                            <option value="3" {$get['orderStatus']==3?selected:''}>待结算</option>
                            <option value="4" {$get['orderStatus']==4?selected:''}>已完成</option>
                            <option value="5" {$get['orderStatus']==5?selected:''}>已取消</option>
                        </select>
                    </span>
                    <span style="padding-left: 5px">
                        跟单客服：<input type="text" name="customer" style="width: 80px"  value="{$get['customer']?$get['customer']:''}"/>
                    </span>
                    <span style="padding-left: 5px">
                        驾校简称：<input type="text" name='s_nickname' style="width: 100px"  value="{$get['s_nickname']?$get['s_nickname']:''}" />
                    </span>
                    <span style="padding-left: 5px">
                        订单号：<input type="text" name='ordcode' style="width: 100px"  value="{$get['ordcode']?$get['ordcode']:''}" />
                    </span>
                    <span style="padding-left:5px">
                        下单时间：<input type="text" style="width: 120px;font-size: 12px"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" value="{$get['create_time1']?$get['create_time1']:''}" name="create_time1"/>
                        至
                        <input type="text" style="width: 120px;font-size: 12px" value="{$get['create_time2']?$get['create_time2']:''}"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" name="create_time2"/>
                    </span>
                </div>
                <div>
                    <span>
                        驾照类型：<select name="class_name" style="width: 65px;height: 20px;font-size: 11px;">
                        <option value="0" >全部</option>
                        <option value="C1" {$get['class_name']=="C1"?selected:''}>C1</option>
                        <option value="C2" {$get['class_name']=="C2"?selected:''}>C2</option>
                        <option value="C3" {$get['class_name']=="C3"?selected:''}>C3</option>
                        <option value="C4" {$get['class_name']=="C4"?selected:''}>C4</option>
                        <option value="C5" {$get['class_name']=="C5"?selected:''}>C5</option>
                        <option value="A1" {$get['class_name']=="A1"?selected:''}>A1</option>
                        <option value="A2" {$get['class_name']=="A2"?selected:''}>A2</option>
                        <option value="A3" {$get['class_name']=="A3"?selected:''}>A3</option>
                        <option value="B1" {$get['class_name']=="B1"?selected:''}>B1</option>
                        <option value="A2" {$get['class_name']=="A2"?selected:''}>A2</option>
                        <option value="D" {$get['class_name']=="D"?selected:''}>D</option>
                    </select>
                    </span>
                    <span style="padding-left: 5px">订单类型：
                        <select name="order_type" style="width: 75px;height: 20px;font-size: 11px;">
                        <option value="0" >全部</option>
                        <option value="1" {$get['order_type']==1?selected:''}>学车需求</option>
                        <option value="2" {$get['order_type']==2?selected:''}>在线订单</option>
                        <option value="3" {$get['order_type']==3?selected:''}>人工订单</option>
                        <option value="4" {$get['order_type']==4?selected:''}>其他类型</option>
                        </select>
                    </span>
                    <span style="padding-left: 5px">学员姓名：<input type="text" name='truename' style="width: 80px"  value="{$get['truename']?$get['truename']:''}"/></span>
                    <span style="padding-left: 5px">
                        学车基地：<input type="text" name='trainaddress' style="width: 100px"  value="{$get['trainaddress']?$get['trainaddress']:''}"/>
                    </span>
                    <span style="padding-left:5px">手机号：<input type="text" name='tel' style="width:100px"  value="{$get['tel']?$get['tel']:''}"/></span>
                     <span style="padding-left:5px">
                         支付时间：<input type="text" style="width: 120px;font-size: 12px"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" value="{$get['notify_time1']?$get['notify_time1']:''}" name="notify_time1"/>
                        至
                        <input type="text" style="width: 120px;font-size: 12px" value="{$get['notify_time2']?$get['notify_time2']:''}"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" name="notify_time2"/>
                    </span>
                </div>
                <div>
                    <span>支付方式：<select name="pay_type" style="width: 65px;height: 20px;font-size: 11px;">
                            <option value="0" >全部</option>
                            <option value="1" {$get['pay_type']==1?selected:''}>支付宝</option>
                            <option value="2" {$get['pay_type']==2?selected:''}>微信</option>
                            <option value="3" {$get['pay_type']==3?selected:''}>门店</option>
                            <option value="4" {$get['pay_type']==4?selected:''}>快递</option>
                            <option value="5" {$get['pay_type']==5?selected:''}>驾校</option>
                        </select>
                    </span>
                    <span style="margin-left: 5px">
                        回访时间：<input type="text" style="width: 120px;font-size: 12px"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" value="{$get['return_time1']?$get['return_time1']:''}" name="return_time1"/>
                            至
                        <input type="text" style="width: 120px;font-size: 12px" value="{$get['return_time2']?$get['return_time2']:''}"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',readOnly:true})" name="return_time2"/>
                    </span>
                    <span style="padding-left:5px;">
                        <input value="查询" style="font-size: 11px" type="submit" id='btn' onclick="submitYouFrom('{:U("Admin/Order/order_list",array('pid'=>$get['pid'],'p'=>$get['p']))}')"/>
                        <input value="导出" style="font-size: 11px" type="button" id="button" onclick="submitYouFrom('{:U("Admin/Order/push",array('pid'=>$get['pid'],'flag'=>0))}')"/>
                    </span>
                </div>
                <script type="text/javascript" language="javascript">
                    function submitYouFrom(path){
                        $('#form1').attr('action',path);
                        $('#form1').submit();
                    }
                </script>
            </form>
        </span>
    </div>
    <div style="margin: 10px 5px;">
    <table class="table_a"  width="100%">
        <tbody>
            <tr style="background-color:rgb(19, 181, 177);">
                <th width="2%">编号</th>
                <th width="2%">订单号</th>
                <th width="6%">下单时间</th>
                <th width="3%">用户名</th>
                <th width="3%">联系电话</th>
                <th width="2%">人数</th>
                <th width="4%">驾校</th>
                <th width="6%">课程</th>
                <th width="4%">基地</th>
                <th width="3%">支付方式</th>
                <th width="3%">支付状态</th>
                <th width="6%">支付时间</th>
                <th width="3%">订单状态</th>
                <th width="2%">跟单客服</th>
                <th width="5%">最新备注</th>
                <th width="6%">回访日期</th>
                <th width="3%">最后更新人</th>
                <th width="2%">操作</th>
            </tr>
            <volist name="arr['list']"  id='v' key="k" empty="$empty">
                <tr>
                    <td>{$k+$arr['firstRow']}</td>
                    <td>{$v.ordcode}</td>
                    <td>{$v['create_time']}</td>
                    <td>{$v.name}</td>
                    <td>{$v.tel}</td>
                    <td>{$v.num}</td>
                    <td>{$v.s_nickname}</td>
                    <td>{$v.class_name}</td>
                    <td>{$v.trname}</td>
                    <td>
                        <if condition="$v.pay_type eq 0">未支付</if>
                        <if condition="$v.pay_type eq 1">支付宝</if>
                        <if condition="$v.pay_type eq 2">微信</if>
                        <if condition="$v.pay_type eq 4">快递</if>
                        <if condition="$v.pay_type eq 5">驾校</if>
                    </td>
                    <td>
                        <if condition="$v.status eq 1">待支付</if>
                        <if condition="$v.status eq 2">已支付</if>
                        <if condition="$v.status eq 3">待评价</if>
                        <if condition="$v.status eq 4">待追加</if>
                        <if condition="$v.status eq 5">已取消</if>
                        <if condition="$v.status eq 6">已完成</if>
                    </td>
                    <td>{$v.notify_time}</td>
                    <td> <if condition="$v['order_status'] eq 1">待处理</if>
                        <if condition="$v['order_status'] eq 2">待回访</if>
                        <if condition="$v['order_status'] eq 3">待结算</if>
                        <if condition="$v['order_status'] eq 4">已完成</if>
                        <if condition="$v['order_status'] eq 5">已取消</if>
                        <if condition="$v['order_status'] eq 6">已退款</if></td>
                    <td>{$v.customer}</td>
                    <td>{$v.customer_inform}</td>
                    <td>{$v.return_time}</td>
                    <td>{$v.lastupdate}</td>
                    <td>
                        <if condition="$list_info neq '0'" >
                            <a class="tablelink" href="{:U($list_info)}?id={$v['id']}&pid={$get['pid']}&p={$get['p']}">
                                处理
                            </a>　
                            <else/>
                            <a class="tablelink" href="javascript:alert('暂无权限');">处理</a>　
                        </if>
                    </td>
                </tr>
        </volist>
        </tbody>
    </table>
    <div id="page">
        {$arr['page']}
    </div>
</div>
</body>
</html>
