<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
</head>
<body>
<div>
    <table class="table_a">
        <tr style="background-color:rgb(19, 181, 177);">
            <th width="17%">时间</th>
            <th width="65%">内容详情</th>
            <th width="10%">lastip</th>
            <th width="10%">操作员</th>
        </tr>
        <volist name="order_log" id="v" empty="$empty">
            <tr>
                <td>{:date('Y-m-d H:i:s',$v['ntime'])}</td>
                <td>{$v['done']}</td>
                <td>{$v['lastip']}</td>
                <td>{$v['username']}</td>
            </tr>
        </volist>
    </table>
</div>
</body>
</html>
