<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>退费列表</title>
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script  src="__PUBLIC__/public/js/My97DatePicker/WdatePicker.js"></script>
    <style>
        #page a,#page span{display: inline-block; width:15px;height:15px ;padding: 5px;margin: 2px;text-decoration: none;
            text-align: center; line-height: 15px;background: #f0ead8; color:#000000;  border: 1px solid #c2d2d7; }
        #page a:hover{background:#F27602;color:#FF0000;}
        #page span{ background:#F27602; color:#FF0000; font-weight: bold;}
        #page{ float: right; }
        .table_a td,th{border:1px solid rgba(39, 164, 237, 0.22);font-size: 13px}
        .table_a  td{  border: dotted 1px rgba(39, 164, 237, 0.22);}
        .table_a tr:hover{background-color: rgb(82, 249, 56)}
    </style>
</head>
<body>
    <div class="div_head" style="background-color: rgb(129, 191, 249);">
        <span>
            <span style="float: left;font-weight: bolder;color: #ffffff">退费列表</span>
            <span style=" margin-right: 8px; font-weight: bold;color: #ffffff">
                <notempty name="add_order">
                    <a style="text-decoration: none;color:#ff143f;font-size: 15px" href="{:U($add_order['name'])}">【{$add_order['title']}】</a>
                    <else/>
                    <a style="text-decoration: none;color:#ff143f;font-size: 15px" href="javascript:alert('暂无权限')" >【新建订单】</a>
                </notempty>
            </span>
            <span style="color: #ffffff">{$count1}条未处理；{$count2}条待回访；157条结算未回访订单</span>
        </span>
        <span style="float:right">总计：{$count}　　</span>
    </div>
    <div class="div_search" style="height: 60px;background-color:  rgb(129, 191, 249)">
        <span style="float:left;color: #ffffff;font-weight: bolder">
            <form action="?" id='form1' method="get" name="form1">
                <div style="display: inline-block;">
                    <div>
                        驾校简称：<input type="text" name='s_nickname' style="width: 100px"  value="{$s_nickname?$s_nickname:''}" />
                    </div>
                    <div>
                       订单编号：<input type="text" name='ordcode' style="width: 100px"  value="{$ordcode?$ordcode:''}" />
                    </div>
                </div>
                <div style="display: inline-block;padding-left: 15px">
                    <div>
                        订单类型：
                        <select name="order_type" style="width: 75px">
                        <option value="0" >全部</option>
                        <option value="1" {$order_type==1?selected:''}>驾校订单</option>
                        <option value="2" {$order_type==2?selected:''}>教练订单</option>
                        <option value="3" {$order_type==3?selected:''}>指导员订单</option>
                        <option value="4" {$order_type==4?selected:''}>预约订单</option>
                        <option value="5" {$order_type==5?selected:''}>人工订单</option>
                    </select>
                    </div>
                    <div>
                        驾照类型：
                        <select name="class_name" style="width: 75px">
                            <option value="0" >全部</option>
                            <option value="C1" {$class_name=="C1"?selected:''}>C1</option>
                            <option value="C2" {$class_name=="C2"?selected:''}>C2</option>
                            <option value="C3" {$class_name=="C3"?selected:''}>C3</option>
                            <option value="C4" {$class_name=="C4"?selected:''}>C4</option>
                            <option value="C5" {$class_name=="C5"?selected:''}>C5</option>
                            <option value="A1" {$class_name=="A1"?selected:''}>A1</option>
                            <option value="A2" {$class_name=="A2"?selected:''}>A2</option>
                            <option value="A3" {$class_name=="A3"?selected:''}>A3</option>
                            <option value="B1" {$class_name=="B1"?selected:''}>B1</option>
                            <option value="A2" {$class_name=="A2"?selected:''}>A2</option>
                            <option value="D" {$class_name=="D"?selected:''}>D</option>
                        </select>
                    </div>
                </div>
                <div style="display: inline-block;padding-left: 15px">
                    <div>
                        下单时间：<input type="text" style="width: 80px"  onClick="WdatePicker()" value="{$create_time1?$create_time1:''}" name="create_time1"/>
                        至
                        <input type="text" style="width: 80px" value="{$create_time2?$create_time2:''}"  onClick="WdatePicker()" name="create_time2"/>
                    </div>
                    <div>
                        支付时间：<input type="text" style="width: 80px"  onClick="WdatePicker()" value="{$notify_time1?$notify_time1:''}" name="notify_time1"/>
                        至
                        <input type="text" style="width: 80px" value="{$notify_time2?$notify_time2:''}"  onClick="WdatePicker()" name="notify_time2"/>
                    </div>
                </div>
                <div style="display: inline-block;padding-left: 15px">
                    <div>
                        支付方式 :
                        <select name="pay_type" style="width: 85px">
                            <option value="0" >全部</option>
                            <option value="1" {$pay_type==1?selected:''}>支付宝</option>
                            <option value="2" {$pay_type==2?selected:''}>微信</option>
                            <option value="3" {$pay_type==3?selected:''}>现金</option>
                        </select>
                    </div>
                    <div>
                        学车基地：<input type="text" name='trainaddress' style="width: 80px"  value="{$trainaddress?$trainaddress:''}"/>
                    </div>
                </div>
                <div style="display: inline-block;padding-left: 15px">
                    <div>
                        学员姓名：<input type="text" name='truename' style="width: 95px"  value="{$truename?$truename:''}"/>
                        <span style="margin-left: 15px"></span>
                        跟单客服：<input type="text" name="customer" style="width: 95px;"  value="{$customer?$customer:''}"/>
                    </div>
                    <div>
                        退款时间：<input type="text" style="width: 80px"  onClick="WdatePicker()" value="{$return_fee1?$return_fee1:''}" name="return_fee1"/>
                        至
                        <input type="text" style="width: 80px" value="{$return_fee2?$return_fee2:''}"  onClick="WdatePicker()" name="return_fee2"/>
                        <input value="查询" type="submit" id='btn' onclick="submitYouFrom('{:U("Admin/Order/return_fee")}')"/>
                        <input value="清空" type="reset" />
                    </div>
                </div>
                <script type="text/javascript" language="javascript">
                    function submitYouFrom(path){
                        $('#form1').attr('action',path);
                        $('#form1').submit();
                    }
                </script>
            </form>
        </span>
    </div>
    <div style="font-size: 13px; margin: 10px 5px;">
    <table class="table_a" style="border:1px solid  rgb(129, 191, 249);" width="100%">
        <tbody>
            <tr style="font-weight: bold;height:36px;background-color:  rgb(129, 191, 249);color:#ffffff">
                <th width="2%">编号</th>
                <th width="4%">用户名</th>
                <th width="3%">联系电话</th>
                <th width="4%">订单号</th>
                <th width="4%">跟单客服</th>
                <th width="5%">驾校/教练/指导员</th>
                <th width="5%">课程</th>
                <th width="4%">基地</th>
                <th width="3%">全包价</th>
                <th width="5%">佣金</th>
                <th width="3%">优惠</th>
                <th width="3%">支付方式</th>
                <th width="3%">应收</th>
                <th width="3%">实收</th>
                <th width="3%">实退</th>
                <th width="4%">退款时间</th>
                <th width="3%">最后更新人</th>
            </tr>
            <volist name='list'  id='v' key="k" empty="$empty">
                <tr>
                    <td>{$k+$firstRow}</td>
                    <td>{$v.truename}  <span style="float: right">{$v['sex']==0?'男士':'女士'}</span></td>
                    <td>{$v.tel}</td>
                    <td>{$v.ordcode}</td>
                    <td>{$v.customer}</td>
                    <td>
                        <if condition="$v.school_id eq 0">
                            517驾校
                            <else/>
                            {$v.s_nickname}
                        </if>
                    </td>
                    <td>{$v.class_name}</td>
                    <td>{$v.trainaddress}</td>
                    <td>{$v.wholeprice}</td>
                    <td>{$v.price}</td>
                    <td>{$v.sale_price}</td>
                    <td >
                        <if condition="$v.pay_type eq 1">支付宝
                            <elseif condition="$v.pay_type eq 2"/>
                            微信
                            <elseif condition="$v.pay_type eq 3"/>
                            现金
                        </if>
                    </td>
                    <td>{$v.price}</td>
                    <td>{$v.total_fee}</td>
                    <td>{$v.total_fee}</td>
                    <td>{$v.return_fee}</td>
                    <td>{$v.lastupdate}</td>
                </tr>
        </volist>
        </tbody>
    </table>
    <div id="page" style="float: left">
        {$page}
    </div>
</div>
</body>
</html>
