<!DOCTYPE html>
<html>
    <head>
        <title>百科</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
        <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
        <script src="__PUBLIC__/public/js/layer/layer.js"></script>
        <style>
            #page a,#page span{
                display: inline-block; width:15px;height:15px ;padding: 5px;margin: 2px;text-decoration: none;
                text-align: center; line-height: 15px;background: #f0ead8; color:#000000;  border: 1px solid #c2d2d7;
            }
            #page a:hover{background:#F27602;color:#FF0000;}
            #page span{ background:#F27602; color:#FF0000; font-weight: bold;}
            #page{ float: left; }

            .table_a td,th{border:1px solid rgba(39, 164, 237, 0.22);font-size: 13px}
            .table_a  td{  border: dotted 1px rgba(39, 164, 237, 0.22);text-align: center}
            .table_a tr:hover{background-color: rgb(82, 249, 56);}
        </style>
    </head>
    <body>
    <div class="div_head" style="background-color: rgb(129, 191, 249);font-weight: bolder;color: #ffffff;font-size: 15px">
        子内容列表
        <a  href="{:U('Admin/Cyclope/content_add')}?type={$type}&type_id={$id}" style="text-decoration: none;color:red;">【子内容添加】</a>
        <span style="float:right;margin-right: 1%">总计：{$count}</span>
    </div>
    <div class="div_search" style="background-color:  rgb(129, 191, 249);color:#ffffff;font-weight: bolder;font-size: 15px">
        <span>
            <form action="{:U('Admin/Cyclope/content_index')}" id='form' method="get">
                <input type="text" name="type" value="{$type}"/>
                <input type="text" name="id" value="{$id}"/>
                城市：
                <select name="cityid" disabled>
                    <option value="0">请选择</option>
                    <volist name='citys' id='v'>
                        <option value="{$v.id}" {$v['id']==$res['cityid']?selected:''}>{$v.cityname}</option>
                    </volist>
               </select>
                科目：
                <select name="type" disabled>
                    <option value="0" selected>请选择</option>
                    <option value="1" {$res['type']==1?selected:''}>科目一</option>
                    <option value="2" {$res['type']==2?selected:''}>科目二</option>
                    <option value="3" {$res['type']==3?selected:''}>科目三</option>
                    <option value="4" {$res['type']==4?selected:''}>科目四</option>
                </select>
                题目：<input type="text" name='title' value="{$title?$title:''}" />
                更新人：<input type="text" name='update' value="{$update?$update:''}" />
                <input value="查询" type="submit" id='btn'/>
                <input value="清空全部" type="reset" id=''/>
            </form>
        </span>
        <span style="float:right">总计：{$count}</span>
    </div>
    <div style="font-size: 13px;margin: 10px 5px ;" >
        <table class="table_a" style="border:1px solid  rgb(129, 191, 249);width: 100%">
            <tr style="font-weight: bold;background-color:  rgb(129, 191, 249);color:#ffffff;height: 35px">
                <td width="8%">序号</td>
                <td width="10%">图片</td>
                <td width="15%">标题</td>
                <td width="25%">内容</td>
                <td width="10%">添加时间</td>
                <td width="10%">最后更新人</td>
                <td width="10%">操作</td>
            </tr>
            <volist name="info" id="v" key="k" empty="$empty">
                <tr style="text-align: center;">
                    <td>{$k+$firstRow}</td>
                    <td><img src="{$http}/Uploads/cyclope_logo/{$v.picurl}{$v.picname}" alt="" width="100"/></td>
                    <td>{$v['title']}</td>
                    <td>{$v['content']}</td>
                    <td>{:date('Y-m-d H:i:s',$v['ntime'])}</td>
                    <td>{$v['username']}</td>
                    <td>
                        <a href="{:U('Admin/Cyclope/content_add',array('id'=>$v['id'],'type'=>$v['type']))}">编辑</a>
                        <a id="del" href="{:U('Admin/Cyclope/del_cyclope',array('id'=>$v['id'],'tid'=>$id,'type'=>$type))}" onclick="if(confirm('确定删除？')==false)return false;">删除</a>
                    </td>
                </tr>
            </volist>
        </table>
        <div id="page">{$page}</div>
    </div>
    </body>
</html>
<script>
    $(".consult").click(function(){
        var id=$(this).attr('gid');
        $(this).attr('disabled',true);
        $.post("{:U('Admin/Cyclope/statusUpdate')}",{id:id},function(res){
            if(res.info==1){
                location.href='';
            }else{
                location.href='';
            }
        })
    })


</script>
