<!DOCTYPE html>
<html>
<head>
    <title>百科管理</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
    <script src="__PUBLIC__/public/js/jquery.min.1.8.2.js"></script>
    <script src="__PUBLIC__/public/js/jquery.form.js"></script>
    <script src="__PUBLIC__/public/js/jquery.validate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/public/kindeditor/kindeditor-all.js"></script>
    <script type="text/javascript" src="__PUBLIC__/public/js/layer/layer.js"></script>
    <style type="text/css">
        div.error{font-size: 12px;display: inline-block;color: #FA7124;}
        div.ok{font-size: 12px; display: inline-block;color: #38D63B;}

        label{padding: 10px 20px 10px 0;}
        b{color: #FA7124}
        li{ margin-top: 15px;list-style: none;}
        .dfinput{margin-left: 10px;border:rgb(220,220,220) solid 1px;border-radius: 3px;
            width: 340px;padding: 10px 0 10px 5px;background: #ffffff;}
    </style>
    <script>
        $(document).ready(function(e) {
            KindEditor.ready(function (K) {
                K.create('#content7', {
                    allowFileManager: true,
                    filterMode: true,
                    afterBlur: function () {  //利用该方法处理当富文本编辑框失焦之后，立即同步数据
                        this.sync("#content7");
                    }
                });
            });
        })
    </script>
</head>
<body>
<div class="div_head">
    内容编辑
    <a style="text-decoration: none;font-weight: bold;color: #FA7124" href="{$url}">【返回】</a>
</div>
    <div >
        <form action="{:U('Admin/Cyclope/edit')}" method="post" id="form1" enctype="multipart/form-data">
            <input type="hidden" value="{$get['pid']}" name="pid"/>
            <input type="hidden" value="{$get['p']}" name="p"/>
            <input type="hidden" value="{$get['pp']}" name="pp"/>
            <input type="hidden" value="{$get['id']}" name="id"/>
            <input type="hidden" value="{$get['type_id']}" name="type_id"/>
            <input type="hidden" value="{$get['t']}" name="t"/>
            <ul style="margin-left: 15px;padding: 0">
                <li>
                    <label style="padding: 10px 5px 10px 0">内容标题<b>*</b></label>
                    <input class="dfinput" style="width: 500px" placeholder="注意不能超过30字哦" type="text" name="title" value="{$info['title']}"/>
                </li>
                <li>
                    <label>内容<b>*</b></label>
                    <div style="margin-left: 68px">
                        <textarea name="content"  id="content7" class="dfinput" style="padding-left:70px;width:600px;height:400px;visibility:hidden;">{$info['content']}</textarea>
                    </div>
                </li>
                <li>
                    <label style="padding: 10px 70px 10px 0"></label>
                    <input style="width: 137px;height: 35px;line-height: 35px;background-color:rgb(19, 181, 177);border: none;border-radius: 4px;color: #ffffff "
                           type="submit" id="submit" value="编辑"/>
                </li>
            </ul>
        </form>
    </div>
</body>
</html>
<script>
    $(function(){
        var validate=$('#form1').validate({
            rules:{content:{required:true},title:{required:true}},
            messages:{content:{required:' * 必填项！'}, title:{required:' * 必填项！'}},
            success:function(div){
                div.addClass('ok').text(' * ok')
            },
            validClass:'ok',
            errorElement:'div'
        });
        $("#submit").click(function(){
            $(this).attr('disabled',true);
            if(validate.form()){
                $('#form1').ajaxSubmit(function(res){
                    if(res.status==1){
                        layer.msg(res.info,{icon:6,time:2000},function(){
                            location.href=res.url;
                        });
                    }else{
                        layer.msg(res.info,{icon:5,time:2000},function(){
                            location.href=res.url;
                        });
                    }
                },'json');
                return false;
            }
        });
    });


    function previewImage(file,pre,imag) {
        var MAXWIDTH  = 200;
        var MAXHEIGHT = 150;
        var div = document.getElementById(pre);
        if( !file.value.match( /.jpg|.gif|.png|.bmp/i ) ){
            $('#'+pre).next('span').css({"color":"red","font-weight":"bold"}).text('图片类型无效！');
            return false;
        }else{
            $('#'+pre).next('span').css({"color":"green","font-weight":"bold"}).text('');
        }
        if (file.files && file.files[0])
        {
            div.innerHTML ='<img id='+imag+'>';
            var img = document.getElementById(imag);
            img.onload = function(){
                var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
                img.width  =  rect.width;
                img.height =  rect.height;
//                 img.style.marginLeft = rect.left+'px';
                img.style.marginTop = rect.top+'px';
            }
            var reader = new FileReader();
            reader.onload = function(evt){img.src = evt.target.result;}
            reader.readAsDataURL(file.files[0]);
        }
        else //兼容IE
        {
            var sFilter='filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src="';
            file.select();
            file.blur();
            var src = document.selection.createRange().text;
            div.innerHTML ='<img id='+imag+'>';
            var img = document.getElementById(imag);
            img.filters.item('DXImageTransform.Microsoft.AlphaImageLoader').src = src;
            var rect = clacImgZoomParam(MAXWIDTH, MAXHEIGHT, img.offsetWidth, img.offsetHeight);
            status =('rect:'+rect.top+','+rect.left+','+rect.width+','+rect.height);
        }

        $(file).next('label').css({margin:0,top:0,position:'absolute',background:'rgba(0,0,0,0.4)',color:'#fff',fontSize:'14px'}).html('重新选择主图');
    }
    function clacImgZoomParam( maxWidth, maxHeight, width, height ){
        var param = {top:0, left:0, width:width, height:height};
        if( width>maxWidth || height>maxHeight )
        {
            rateWidth = width / maxWidth;
            rateHeight = height / maxHeight;

            if( rateWidth > rateHeight )
            {
                param.width =  maxWidth;
                param.height = Math.round(height / rateWidth);
            }else
            {
                param.width = Math.round(width / rateHeight);
                param.height = maxHeight;
            }
        }

        param.left = Math.round((maxWidth - param.width) / 2);
        param.top = Math.round((maxHeight - param.height) / 2);
        return param;
    }
</script>
