<!DOCTYPE html>
<html>
    <head>
        <title>百科</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <link href="__STATIC__/ment/css/mine.css" type="text/css" rel="stylesheet">
        <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
        <script src="__PUBLIC__/public/js/layer/layer.js"></script>
    </head>
    <body>
    <div class="div_head">
        内容列表
        <a href="{:U('Admin/Cyclope/add',array('pid'=>$get['pid'],'p'=>$get['p']))}" style="text-decoration: none;color:#FA7124">【内容添加】</a>
        <span class="span">总计：{$count}</span>
    </div>
    <div class="div_search">
        <span>
            <form action="{:U('Admin/Cyclope/index',array('pid'=>$get['pid'],'p'=>$get['p']))}" id='form' method="get">
                城市：
                <select name="cityid" style="font-size: 11px;width: 70px;height: 20px">
                    <option value="0">请选择</option>
                    <volist name='citys' id='v'>
                        <option value="{$v.id}" {$v['id']==$get['cityid']?selected:''}>{$v.cityname}</option>
                    </volist>
               </select>
                题目：<input type="text" name='title' value="{$get['title']?$get['title']:''}" />
                科目：
                <select name="type" style="font-size: 11px;width: 70px;height: 20px">
                    <option value="0" selected>请选择</option>
                    <option value="1" {$get['type']==1?selected:''}>科目一</option>
                    <option value="2" {$get['type']==2?selected:''}>科目二</option>
                    <option value="3" {$get['type']==3?selected:''}>科目三</option>
                    <option value="4" {$get['type']==4?selected:''}>科目四</option>
                </select>
                <input value="查询" style="font-size:11px" type="submit" id='btn'/>
                <input value="清空全部"  style="font-size:11px"  type="reset" id='btn'/>
            </form>
        </span>
    </div>
    <div style="margin: 10px 5px ;" >
        <table class="table_a" >
            <tr style="background-color:  rgb(19, 181, 177);">
                <td width="4%">序号id</td>
                <td width="8%">图片</td>
                <td width="15%">标题</td>
                <td width="20%">内容</td>
                <td width="5%">点击量</td>
                <td width="10%">添加时间</td>
                <td width="8%">最后更新人</td>
                <td width="30%">操作</td>
            </tr>
            <volist name="info" id="v" key="k" empty="$empty">
                <tr>
                    <td><span style="{$v['set_header']?'color: #fa7124;font-weight: bold;':''}">{$v.id}</span>  </td>
                    <td><img src="{$v.picurl}" alt="" width="50" height="40" align="center"/></td>
                    <td>{$v['title']}</td>
                    <td>{$v['content']}</td>
                    <td>{$v['count']}</td>
                    <td>{:date('Y-m-d H:i:s',$v['ntime'])}</td>
                    <td>{$v['update']}</td>
                    <td>
                        <a class="tablelink"
                           href="{:U('Admin/Cyclope/set_header',array('id'=>$v['id'],'pid'=>$get['pid'],'p'=>$get['p']))}">
                            {$v['set_header']?'取消置顶':'置顶'}
                        </a>
                        <span>|</span>
                        <a class="tablelink"  onclick="if(confirm('确认要操作吗？')==false)  return false;"
                           href="{:U('Admin/Cyclope/Hnew',array('id'=>$v['id'],'pid'=>$get['pid'],'p'=>$get['p']))}">
                            {$v['hnew']?'取消热门资讯':'热门资讯'}
                        </a>
                        <span>|</span>
                        <a class="tablelink"
                           href="{:U('Admin/Cyclope/content_index',array('id'=>$v['id'],'pid'=>$get['pid'],'p'=>$get['p']))}">内容</a>
                        <span>|</span>
                        <a class="tablelink"   id="del" href="javascript:void(0);"
                           onclick="del({$v['id']},{$get['pid']},'cyclope',{$get['p']?$get['p']:1})">删除</a>
                    </td>
                    <script>
                        function del(id,pid,type,p){
                            layer.msg('确定要删除吗？', {
                                time: 0, //不自动关闭
                                btn: ["确定", '取消'],
                                yes: function(){
                                    location.href='{:U("Admin/cyclope/del")}?id='+id+'&pid='+pid+'&type='+type+'&p='+p; //此处只是为了演示，实际使用可以剔除
                                }
                            });
                        }
                    </script>
                </tr>
            </volist>
            </table>
            <div id="page">{$page}</div>
        </div>
    </body>
</html>

