/************************************************************************************
登录自适应
*************************************************************************************/
@media screen and (max-width: 1000px) {

.header{
    width: 100%;
}
.main{
    width: 100%;
}
.button{
    width: 100%;
}
.tell_box{
    width: 100%;
}
.password_box{
    width: 100%;
}
.login_button_box{
    width: 100%;
}
.error_box{
    width: 100%;
}

}


/************************************************************************************
注册自适应
*************************************************************************************/
@media screen and (max-width: 1000px) {

    .register{
        width: 100%;
    }

}


















