<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>关于我们</title>
    <link href="__STATIC__/user/user_center/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/user_center/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/user_center/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/user_center/css/about_us.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
</head>

<body>

<div id="pagewrap">

    <div class="header_box">
        <div class="header">
            <ul>
                <li class="back"><a href="{:U('Mobile/User/user_center')}"><img src="__PUBLIC__/public/images/back.png"></a></li>
                <li class="header_text">关于我们</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="about_us">
                <div class="about_us_text">
                    <p>
                        <span class="text"> 1、“我要去学车”是做什么的？</span>
                        <br/>“我要去学车”由上海吾要去信息科技有限公司投资建立的立足于上海的全国性的驾校招生及服务平台，用户只需拨打400-8040-517，即可轻松完成驾校咨询、下单、付款等一系列报名工作，目前已经有十几个城市1000余所A级驾校都已经在我们“我要去学车”进行登记，开展招生合作业务，“我要去学车”已经发展成为驾驶培训领域最值得信赖的信息服务平台。


                        <br/><span class="text">2、为什么选择我们？</span>
                        <br/>
                        <br/>待遇一 咨询报名——优惠快捷在517学车网报名学车的学员，均可获的团购价。
                        <br/>
                        <br/>(1)网上报名：www.517xueche.com（全年365天×24小时服务)
                        <br/>(2)电话报名：400-8040-517(全年365天×8小时服务)
                        <br/>(3)517学车网“课程超市”门店报名：(全年365天×12小时服务)
                        <br/>
                        <br/>待遇二 体检——专门接送
                        <br/>
                        <br/>报名后24小时内驾校与报名学员预约体检时间，在517学车网报名的学员，均可由驾校工作人员或者教练专门接送到体检点。
                        <br/>
                        <br/>待遇三 练车——无条件更换教练
                        <br/>
                        <br/>学员对教练不满意，可以申请更换教练，直至满意为止。这仅仅需要学员给517学车网打一个电话即可。（如：517学车网推荐的虽为品牌驾校和优秀教练，但不可避免的是部分教练普通话不标准，上海口音较重，可能会给一些学员带来困难。）
                        <br/>
                        <br/>待遇四 接送——就近接送
                        <br/>
                        <br/>凡在517学车网报名学车的学员均可享受就近接送，内环外部分学员可以享受教练上门接送。
                        <br/>
                        <br/>待遇五 考试——送“考试秘笈”
                        <br/>
                        <br/>凡在517学车网报名学车的学员均可获得一份指导性、实践性很强的“考试秘笈”，学员可以了解交规考试、桩考、路考的技巧。
                        <br/>
                        <br/>待遇六 服务——517学车网帮你解决可能遇见的难题
                        <br/>
                        <br/>学员若在学车过程中碰到诸如教练额外收取物品、钱财等问题，可直接向517学车网或驾校投诉，可以得到我们提供的更多服务保障。

                        <br/>
                        <br/><span class="text">你的满意是我们最重要的考虑</span>
                        <br/>
                        <br/>我们致力创造一个优质服务平台，充分保障你的权益，让大家可以安心预订自己喜欢的驾校。
                        <br/>(1)支付成功，立即进入交规考试排队系统，为你节省约1周等待时间；
                        <br/>(2)支付成功后24小时内驾校教练与你联系，确认体检安排；
                        <br/>(3)517学车网全包价若高于驾校总部最低价，双倍退还报名费；
                        <br/>(4)第三方监督及投诉处理体系，全程保障学员权益；
                        <br/>(5)全透明价格，学车全程无任何其他费用；
                        <br/>(6)杜绝索要"红包、请客、保险费"等不正当费用。

                    </p>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>