<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>学车流程</title>
    <link href="__STATIC__/user/study_guider/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/guide.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
</head>

<body>

<div id="pagewrap">

    <div class="header_box">
        <div class="header">
            <ul>
                <li class="back"><a href="{:U('Mobile/User/study_guide')}"><img src="__PUBLIC__/public/images/back.png"></a></li>
                <li class="header_text">学车流程</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="guide_box">
                <div class="guide">
                    <div class="guide_text">
                        <h1 style="text-align:center">报名条件</h1>
                        <h2>初学者必须持有：</h2>
                        <p>
                            &nbsp;&nbsp;1、身份证复印件（体检时要带好）<br/>
                            &nbsp;&nbsp;2、机动车驾驶证申请表（需本人填写申请准驾车型代号、本人签名）<br/>
                            &nbsp;&nbsp;3、机动车驾驶人身体
                        </p>

                        <h2>申请机动车驾驶证的人，应当符合下列规定：</h2>

                        <p>
                            <b>（一）年龄条件：</b><br/>
                            &nbsp;&nbsp;1、申请小型汽车、小型自动挡汽车、轻便摩托车准驾车型的，在18周岁以上，70周岁以下；<br/>
                            &nbsp;&nbsp;2、申请低速载货汽车、三轮汽车、普通三轮摩托车、普通二轮摩托车或者轮式自行机械车准驾车型的，在18周岁以上，60周岁以下；<br/>
                            &nbsp;&nbsp;3、申请城市公交车、中型客车、大型货车、无轨电车或者有轨电车准驾车型的，在21周岁以上，50周岁以下；<br/>
                            &nbsp;&nbsp;4、申请牵引车准驾车型的，在24周岁以上，50周岁以下；<br/>
                            &nbsp;&nbsp;5、申请大型客车准驾车型的，在26周岁以上，50周岁以下。<br/>
                            <b>（二）身体条件：</b><br/>
                            &nbsp;&nbsp;1、身高：申请大型客车、牵引车、城市公交车、大型货车、无轨电车准驾车型的，身高为155厘米以上。申请中型客车准驾车型的，身高为150厘米以上；<br/>
                            &nbsp;&nbsp;2、视力：申请大型客车、牵引车、城市公交车、中型客车、大型货车、无轨电车或者有轨电车准驾车型的，两眼裸视力或者矫正视力达到对数视力表5.0以上。申请其他准驾车型的，两眼裸视力或者矫正视力达到对数视力表4.9以上；<br/>
                            &nbsp;&nbsp;3、辨色力：无红绿色盲；
                        </p>

                        <h2>禁止报名事例：</h2>

                        <p>
                            &nbsp;&nbsp;1、有器质性心脏病、癫痫病、美尼尔氏症、眩晕症、癔病、震颤麻痹、精神病、痴呆以及影响肢体活动的神经系统疾病等妨碍安全驾驶疾病的；<br/>
                            &nbsp;&nbsp;2、吸食、注射毒品、长期服用依赖性精神药品成瘾尚未戒除的；<br/>
                            &nbsp;&nbsp;3、吊销机动车驾驶证未满二年的；<br/>
                            &nbsp;&nbsp;4、造成交通事故后逃逸被吊销机动车驾驶证的；<br/>
                            &nbsp;&nbsp;5、驾驶许可依法被撤销未满三年的；<br/>
                            &nbsp;&nbsp;6、法律、行政法规规定的其他情形。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>