<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>残疾人学车</title>
    <link href="__STATIC__/user/study_guider/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/guide.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
</head>

<body>

<div id="pagewrap">

    <div class="header_box">
        <div class="header">
            <ul>
                <li class="back"><a href="{:U('Mobile/User/study_guide')}"><img src="__PUBLIC__/public/images/back.png"></a></li>
                <li class="header_text">残疾人学车</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="guide_box">
                <div class="guide">
                    <div class="guide_text">
                        <h1>残疾人是否可以申领驾照?</h1>

                        <p>
                            根据中华人民共和国公安部令第111号的相关规定，残疾人想学习驾照请于2010年4月1日后，在据有C5培训资质及具有C5车型教练车的驾校报名学习。
                        </p>

                        <h2>申领条件</h2>

                        <p>
                            根据公安部最新的驾照申领和使用规定：<br/>
                            &nbsp;&nbsp;1、允许以下条件的残疾人报考驾驶证：右下肢、双下肢缺失或者丧失运动功能，但能够自主坐立的残疾人，可申请残疾人专用小型自动档载客汽车准驾车型的机动车驾驶证;<br/>
                            &nbsp;&nbsp;2、手指末节残缺或者右手拇指缺失的，可申请小型汽车、小型自动档汽车准驾车型的机动车驾驶证；<br/>
                            &nbsp;&nbsp;3、有听力障碍但佩戴助听设备能够达到合格标准的，可申请小型汽车、小型自动档汽车准驾车型的驾驶证。
                        </p>

                        <h2>体检</h2>

                        <p>
                            根据中华人民共和国公安部令第111号的相关规定，残疾人想学习驾照请于2010年4月1日后，在据有C5培训资质及具有C5车型教练车的驾校报名学习。
                        </p>
                        <p>
                            另需具备如下身体条件：<br/>
                            &nbsp;&nbsp;1、申请小型汽车、小型自动挡汽车、残疾人专用小型自动挡载客汽车、轻便摩托车准驾车型的，在18周岁以上，70周岁以下。<br/>
                            &nbsp;&nbsp;2、视力：两眼裸视力或者矫正视力达到对数视力表4.9以上。辨色力：无红绿色盲。<br/>
                            &nbsp;&nbsp;3、听力：两耳分别距音叉50厘米能辨别声源方向。<br/>
                            &nbsp;&nbsp;4、上肢：双手拇指健全，每只手其他手指必须有三指健全，肢体和手指运动功能正常。<br/>
                            &nbsp;&nbsp;下肢：右下肢、双下肢缺失或者丧失运动功能但能够自主坐立的。<br/>
                            &nbsp;&nbsp;躯干、颈部：无运动功能障碍。
                        </p>
                        <p>
                            申请驾驶残疾人专用小型自动挡载客汽车的，应当提交经省级卫生主管部门指定的专门医疗机构出具的有关身体条件的证明。
                        </p>

                        <h1>C5驾照</h1>

                        <h2>简介</h2>

                        <p>
                            2008年12月，经国务院相关部门研究确定，残疾人驾驶汽车的条件必须符合中国国情，应当本着逐步放开、稳步推进的原则，先解决右下肢和双下肢残疾人以及有听力障碍残疾人驾驶汽车问题。确定这一原则主要是考虑：从中国汽车工业发展整体现状看，目前对下肢残疾人驾驶的汽车改装技术比较成熟，工艺比较简单，车辆加装相应辅助装置后，下肢残疾人可以安全操控制动、转向和加速等装置。经公安部将会同有关部门，积极开展上肢、聋人等残疾人驾驶汽车可行性的调研、论证，根据下肢残疾人驾驶汽车政策实施情况，进一步推动残疾人驾驶汽车工作。
                        </p>
                        <p>
                            2010年4月1日起，新修订的《机动车驾驶证申领和使用规定》实施，允许右下肢残疾、双下肢残疾以及听力障碍、右手拇指缺失或手指末节残缺五类人员驾驶汽车。由于身体条件限制，右下肢和双下肢残疾人可以申领C5驾照(准驾车型为残疾人专用小型自动挡载客汽车)。
                        </p>

                        <h2>考试内容</h2>

                        <p>
                            <b>C5驾照科目一考试内容及合格标准</b><br/>
                            &nbsp;&nbsp;<b>(一)C5驾照考试内容</b><br/>
                            &nbsp;&nbsp;1、道路交通安全法律、法规和规章;<br/>
                            &nbsp;&nbsp;2、交通信号及其含义;<br/>
                            &nbsp;&nbsp;3、安全行车、文明驾驶知识;<br/>
                            &nbsp;&nbsp;4、高速公路、山区道路、桥梁、隧道、夜间、恶劣气象和复杂道路条件下的安全驾驶知识;<br/>
                            &nbsp;&nbsp;5、出现爆胎、转向失控、制动失灵等紧急情况时的临危处置知识;<br/>
                            &nbsp;&nbsp;6、机动车总体构造、主要安全装置常识、日常检查和维护基本知识;<br/>
                            &nbsp;&nbsp;7、发生交通事故后的自救、急救等基本知识，以及常见危险物品知识。<br/>
                            &nbsp;&nbsp;<b>(二)C5驾照考试内容合格标准</b><br/>
                            &nbsp;&nbsp;满分为100分，成绩达到90分的为合格。
                        </p>

                        <p>
                            <b>C5驾照考试科目二考试内容及合格标准</b><br/>
                            &nbsp;&nbsp;<b>(一)C5驾照考试考试内容</b><br/>
                            &nbsp;&nbsp;1、在规定场地内驾驶机动车完成考试项目的情况;<br/>
                            &nbsp;&nbsp;2、对机动车驾驶技能掌握的情况;<br/>
                            &nbsp;&nbsp;3、对机动车空间位置判断的能力。<br/>
                            &nbsp;&nbsp;<b>(二)C5驾照考试考试项目</b><br/>
                            &nbsp;&nbsp;基本考试项目：桩考、坡道定点停车和起步、侧方停车、通过单边桥、曲线行驶、直角转弯、限速通过限宽门、通过连续障碍、百米加减挡、起伏路行驶。<br/>
                            &nbsp;&nbsp;小型汽车、小型自动挡汽车、残疾人专用小型自动挡载客汽车、低速载货汽车、普通三轮摩托车、普通二轮摩托车准驾车型考试项目不得少于4项。<br/>
                            &nbsp;&nbsp;小型汽车、低速载货汽车必考项目：桩考、坡道定点停车和起步、侧方停车;<br/>
                            &nbsp;&nbsp;小型自动挡汽车、残疾人专用小型自动挡载客汽车必考项目：桩考、侧方停车;<br/>
                            &nbsp;&nbsp;普通三轮摩托车、普通二轮摩托车准驾车型必考项目：桩考、坡道定点停车和起步、通过单边桥。其他考试项目随机选取。<br/>
                            &nbsp;&nbsp;科目二考试应当先进行桩考。桩考未出现扣分情形的，补考或者重新预约考试时可以不再进行桩考。<br/>
                            &nbsp;&nbsp;其他准驾车型的考试项目，由省级公安机关交通管理部门确定。<br/>
                            &nbsp;&nbsp;<b>(三)C5驾照考试合格标准</b><br/>
                            &nbsp;&nbsp;满分为100分，设定不合格、减20分、减10分、减5分的项目评判标准。符合下列规定的，考试合格：<br/>
                            &nbsp;&nbsp;1、报考大型客车、牵引车、城市公交车、中型客车、大型货车准驾车型，成绩达到90分的;<br/>
                            &nbsp;&nbsp;2、报考其他准驾车型成绩达到80分的。
                        </p>

                        <p>
                            <b>C5驾照考试科目三考试内容及合格标准</b><br/>
                            &nbsp;&nbsp;<b>(一)C5驾照考试考试内容</b><br/>
                            &nbsp;&nbsp;1、在道路上驾驶机动车完成考试项目的情况;<br/>
                            &nbsp;&nbsp;2、遵守交通法律、法规的情况;<br/>
                            &nbsp;&nbsp;3、综合控制机动车的能力;<br/>
                            &nbsp;&nbsp;4、正确使用灯光、喇叭、安全带等装置的情况;<br/>
                            &nbsp;&nbsp;5、正确观察、判断道路交通情况的能力;<br/>
                            &nbsp;&nbsp;6、安全驾驶行为、文明驾驶意识。<br/>
                            &nbsp;&nbsp;<b>(二)C5驾照考试考试项目</b><br/>
                            &nbsp;&nbsp;基本考试项目：上车准备、起步、直线行驶、变更车道、通过路口、靠边停车、通过人行横道线、通过学校区域、通过公共汽车站、会车、超车、掉头、夜间行驶。<br/>
                            &nbsp;&nbsp;大型客车、牵引车、城市公交车、中型客车、大型货车、小型汽车、小型自动挡汽车、残疾人专用小型自动挡载客汽车、低速载货汽车准驾车型考试项目不得少于10项，必考项目：上车准备、起步、直线行驶、变更车道、通过路口、靠边停车。其中，大型客车、牵引车、城市公交车、中型客车、大型货车准驾车型还应当进行夜间或者低能见度情况下考试;其他汽车准驾车型还应当抽取不少于20%进行夜间或者低能见度状况下的考试。<br/>
                            &nbsp;&nbsp;省级公安机关交通管理部门可以根据各地实际，增加汽车准驾车型。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>