<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>忘记密码</title>
    <link href="__STATIC__/user/user_center/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/user_center/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/user_center/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/user_center/css/forgetPassword.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/public/js/jquery.form.js"></script>
    <script src="__PUBLIC__/public/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/public/js/layer_mobile/layer.js"></script>
    <style>
        span.error{  color:#FA7124;  font-weight: bold;  position: absolute;  font-size: 10px;  line-height: 50px;  padding-left: 10px;  }
        span.ok {  color:green;  }
    </style>
</head>
<body>
<div id="pagewrap">
    <div class="header_box">
        <div class="header">
            <ul>
                <a href="{:U('Mobile/Login/login')}">
                    <li class="back" style="padding-right: 50px"><img src="__PUBLIC__/public/images/back.png"></li>
                </a>
                <li class="header_text" style="padding-right: 60px">忘记密码</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <form class="set_box" id="form1">
                <div class="password_reset1">
                    <label>手机号码</label>
                    <input type="text" name="username" style="width: 140px" placeholder="请输入你的手机号码"/>
                </div>
                <div class="password_reset3" >
                    <label>新密码</label>
                    <input type="password" id="password" style="width: 155px" name="pass" placeholder="请输入新密码"/>
                </div>
                <div class="password_reset4">
                    <label>确认新密码</label>
                    <input type="password" name="res_pass" style="width: 128px" placeholder="请确认新密码"/>
                </div>
                <div class="password_reset4">
                    <label>验证码</label>
                    <input type="text" name="verify" placeholder="请输入验证码" style="width: 30%;padding-left: 10px"/>
                    <cite style="border-radius: 10px">
                        <img src="{:U('Mobile/Login/verify')}" width="100" height="50" alt="" style="float: right;vertical-align: middle;cursor: pointer"
                             onclick="this.src='{:U(\'Mobile/Login/verify\',rand())}'"/>
                    </cite>
                </div>
                <div class="login_out">
                    <div class="button_box"><input type="submit" id="submit" style="-webkit-appearance:none;"   value="重设密码"></div>
                </div>
            </form>
            <div class="login_a">
                <div class="a_box"><a href="tel:4004080517">已换手机号码？<br/>请联系517人工客服：400-8040-517</a></div>
            </div>
        </div>
    </div>

</div>
<script>
 $(function(){
     var validate = $("#form1").validate({
            //设置规则
         rules:{
             username:{required:true, username:true,
                 remote:{url:'{:U("Mobile/Login/checkPhone")}',type:'post'}
             },
             pass:{required:true,rangelength:[6,15]},
             res_pass:{required:true,equalTo:"#password"},
             verify:{required:true, remote:{url:'{:U("Mobile/Login/verify_check")}',type:'post'}
             }
         },
         messages:{
             username:{required:'*必填项',remote:'*手机号未被注册'},
             pass:{required:'*必填项',rangelength:'*长度为6-15位'},
             res_pass:{required:'*必填项',equalTo:'*前后密码不一致'},
             verify:{required:'*必填项',remote:'*验证码错误'}
         },
         success:function(span){
             span.addClass('ok').text('*ok')
         },
         validClass:'ok',
         errorElement:'span'
     });
//手机号验证
     $.validator.addMethod('username',function(value,element){
         var mobileReg = /^1[34578]{1}[0-9]{9}$/;
         return this.optional(element)||(mobileReg.test(value));
     },'*手机格式不正确');
     $('#form1').submit();

     $("#form1").submit(function(){
         if(validate.form()){
             $.post('{:U("Mobile/Login/forgetPassword")}',$("#form1").serialize(),function(res){
                 if(res.status){
                     layer.open({
                         content:res.info,time:2
                         ,end:function(){
                             location.href = res.url;
                         }
                     })
                 }else{
                     layer.open({
                         content:res.info, time:2, end:function(){
                             location.href = res.url;
                         }
                     })
                 }
             },'json');
        }
         return false;
     });
 })
</script>
</body>
</html>