<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>学车流程</title>
    <link href="__STATIC__/user/study_guider/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/guide.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
</head>

<body>

<div id="pagewrap">

    <div class="header_box">
        <div class="header">
            <ul>
                <li class="back"><a href="{:U('Mobile/User/study_guide')}"><img src="__PUBLIC__/public/images/back.png"></a></li>
                <li class="header_text">学车流程</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="guide_box">
                <div class="guide">
                    <div class="guide_text">
                        <h2>科目一 驾驶员理论知识</h2>

                        <p>
                            驾驶员理论考试是在车管所进行的，驾照申请者必须通过的一种许可考试。驾驶员理论考试举办时间由各地车管所自行安排。科目一考试试卷由100道题组成，由计算机驾驶人考试系统按《机动车驾驶证工作规范》规定的比例关系随机抽取、组合。组题的比例关系见下表。尚未发布地方性交通安全管理法规的省(区)、市，地方法规出题比例应纳入全国性的交通安全法律、法规出题比例中。90分以上(包括90分)为合格。只有通过了科目一考试，才能相应的参加一下的考试项目。
                        </p>
                        <p>
                            学员报名后，会得到一本理论考试教材。学员可以选择到驾校参加理论考试培训班，或者在家自学《驾驶员理论知识手册》。不论选择哪种学习方式，专家都建议学员多做模拟试题，不仅可以巩固知识，还可以熟悉考试环境。
                        </p>
                        <p>
                            517学车频道-模拟试题<a href="http://jiaogui.517xueche.com/">http://jiaogui.517xueche.com/</a>，提供仿真模拟试题供广大学员在线使用。学员注册后，系统会自动保存每次的测试结果，方便学员考察自己的学习程度，从而对自己是否可以通过科目一考试做到心中有数。
                        </p>

                        <h2>科目二 包括倒桩考试和场地(“九选三”)考试。</h2>

                        <p>
                            学员通过科目一考试后，才可以学习和报考科目二。
                        </p>
                        <p>
                            倒桩考试也叫倒库、倒杆。驾驶证考试科目二必考科目之一。它主要考察驾驶员对车辆移动时的空间感觉。倒桩考试可以通过记住一些口诀及技巧，强化学习效果。当然，一定的练习量才是关键。
                        </p>
                        <p>
                            倒桩考试通过后，教练才会安排学习“九选三”考试的内容。“九选三”中的九是指九项基本驾驶技能，分别是过单边桥，斜坡起步，侧方停车，曲线行驶，直角转弯，限速通过限宽门，通过连续障碍，百米加减档，起伏路面行驶。因为考试时的三项是随机抽取，所以，平时学习时这9项基本技能均需要掌握。
                        </p>

                        <h2>长训考试</h2>

                        <p>
                            长训考试又称“长途”考试。在科目二结束后，由驾校统一组织学员到离市区较远的长训考试基地参加考试。长训考试，通过率很高，主要考察学员对长途驾驶的技巧掌握。
                        </p>

                        <h2>科目三 路考</h2>

                        <p>
                            科目三俗称“路考”，是新增加的一个考试项目，基本项目有13项，包括上车准备、起步、直线行驶、变更车道、通过路口、靠边停车、通过人行横道线、通过学校区域、通过公共汽车站、会车、超车、掉头、夜间行驶。
                        </p>

                        <h2>电子路考</h2>

                        <p>
                            电子路考是在考试时，一切设施全部是电脑监控，扣分等工作也全部由电脑控制。据新闻报道，开车十余年的老司机也没有通过电子路考。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>