<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>订单详情页</title>
    <link href="__STATIC__/user/user_center/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/user_center/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/user_center/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/user_center/css/order_center.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/public/js/layer_mobile/layer.js"></script>
</head>
<body>
<div id="pagewrap">
    <div class="header_box">
        <div class="header">
            <ul>
                <a href="{:U('Mobile/User/order_center')}">
                    <li class="back" style="padding-right: 50px">
                        <img src="__PUBLIC__/public/images/back.png">
                    </li>
                </a>
                <li class="header_text">订单详情页</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <form class="list_detail">
                <div class="list_det">
                    <div class="list_det_img">
                        <if condition="$info['picname'] neq '' and $info['s_type'] eq 1">
                            <img src="{$http}/Uploads/School_logo/{$info['picurl']}{$info['picname']}">
                            <elseif condition="$info['picname'] neq '' and $info['s_type'] eq 2"/>
                            <img src="{$http}/Uploads/Coach_logo/{$info['picurl']}{$info['picname']}">
                            <elseif condition="$info['picname'] neq '' and $info['s_type'] eq 2"/>
                            <img src="{$http}/Uploads/guider_logo/{$info['picurl']}{$info['picname']}">
                            <else/>
                            <img src="{$http}/Uploads/default_logo/517.png">
                        </if>
                    </div>
                    <ul class="list_det_text">
                        <li class="text_detname">
                            {$info['s_nickname']}
                        </li>
                        <li class="text_detcourse" style="color:#FA7124;font-size: 12px">{$info['class_name']}</li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="list_detmain">
                    <ul class="detail">
                        <li class="detail_one" style="width: 20%">学车人数</li>
                        <li class="detail_tow">{$info['num']}</li>
                        <div class="clearfix"></div>
                    </ul>
                    <volist name="info['order_user']" id="data">
                        <ul class="detail">
                            <li class="detail_one" style="width: 15%">学员姓名</li>
                            <li class="detail_tow" >{$data['name']}</li>
                            <li  style="margin-left: 2%;"  class="detail_one">报名电话</li>
                            <li class="detail_tow" style="width: 21%">{$data['tel']}</li>
                            <div class="clearfix"></div>
                        </ul>
                    </volist>
                    <ul class="detail">
                        <li class="detail_one">详细地址</li>
                        <li class="detail_tow" style="width: 70%">
                            <empty name="$info['address']">
                                未填写地址
                                <else/>
                                {$info['address']}
                            </empty>
                            </li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="detail">
                        <li class="detail_one">报名方式</li>
                        <li class="detail_tow" style="color: rgb(250,113,36)">{$info['type']==1?'全款报名':'预付费报名'}</li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="detail">
                        <li class="detail_one">下单时间</li>
                        <li class="detail_tow" style="width: 200px">{$info['create_time']}</li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="detail">
                        <li class="detail_one">应付金额</li>
                        <li class="detail_tow" style="color: rgb(250,113,36)">{$info['price']}元</li>
                        <div class="clearfix"></div>
                    </ul>
                    <ul class="detail">
                        <li class="detail_one">备注说明</li>
                            <textarea name="" id="" readonly cols="35%" rows="3"><empty name="$info['inform']">
                                无
                                <else/>
                                {$info['inform']}
                            </empty></textarea>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </form>
            <footer id="footer" style="text-align: center">
                <if condition="$info.status eq 1">
                    <input class="foot_box2" onclick="status_submit({$info['status']},{$info['id']})" type="button" style="background-color: #FA7124;color: #ffffff;border:0;-webkit-appearance: none" value="立即付款"/>
                    <elseif condition="$info.status eq 2"/>
                    <input class="foot_box2" onclick="status_submit({$info['status']},{$info['id']})" type="button" style="background-color: #FA7124;color: #ffffff;border:0;-webkit-appearance: none" value="等待处理"/>
                    <elseif condition="$info.status eq 3"/>
                    <input class="foot_box2" onclick="status_submit({$info['status']},{$info['id']})" type="button" style="background-color: #FA7124;color: #ffffff;border:0;-webkit-appearance: none" value="立即评价"/>
                    <elseif onclick="status_submit({$info['status']},{$info['id']})" condition="$v.status eq 4"/>
                    <input class="foot_box2" onclick="status_submit({$info['status']},{$info['id']})" type="button" style="background-color: #FA7124;color: #ffffff;border:0;-webkit-appearance: none" value="立即追加"/>
                    <elseif condition="$info.status eq 5"/>
                    <input class="foot_box2" onclick="status_submit({$info['status']},{$info['id']})" type="button" style="background-color: #FA7124;color: #ffffff;border:0;-webkit-appearance: none" value="重新报名"/>
                    <elseif condition="$info.status eq 6"/>
                    <input class="foot_box2" type="button" style="background-color: #FA7124;color: #ffffff;border:0;-webkit-appearance: none" value="已退费"/>
                </if>

            </footer>
        </div>
    </div>

</div>
<script>
    function status_submit(status,oid){
        if(status != 2){
            layer.open({type:2,content:'加载中',time:2,end: function(index){
                $.post('{:U("Mobile/Order/confirm_order")}',{status:status,oid:oid},function(res){
                    if(res.info){
                        location.href = res.url;
                    }else{
                        location.href = '#';
                    }
                    layer.close(index);
                },'json');
            }
            });
        }else{
            alert('请耐心等待客服处理');
        }
    }
</script>
</body>
</html>