<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>学车指南</title>
    <link href="__STATIC__/user/study_guider/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/guide.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
</head>

<body>

<div id="pagewrap">

    <div class="header_box">
        <div class="header">
            <ul>
                <li class="back"><a href="{:U('Mobile/User/user_center')}"><img src="__PUBLIC__/public/images/back.png"></a></li>
                <li class="header_text">学车指南</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="guide_box">
                <div class="guide">
                    <div class="list">
                        <div class="img">
                            <img src="__STATIC__/user/user_center/images/xclc.png">
                        </div>
                        <a href="{:U('Mobile/User/xclc')}">学车流程</a>
                    </div>
                    <div class="list">
                        <div class="img">
                            <img src="__STATIC__/user/user_center/images/jkdg.png">
                        </div>
                        <a href="{:U('Mobile/User/jkdg')}">驾考大纲</a>
                    </div>
                    <div class="list">
                        <div class="img">
                            <img src="__STATIC__/user/user_center/images/zxzn.png">
                        </div>
                        <a href="{:U('Mobile/User/zxzn')}">择校指南</a>
                    </div>
                    <div class="list">
                        <div class="img">
                            <img src="__STATIC__/user/user_center/images/bmxz.png">
                        </div>
                        <a href="{:U('Mobile/User/bmxz')}">报名须知</a>
                    </div>
                    <div class="list">
                        <div class="img">
                            <img src="__STATIC__/user/user_center/images/xcxz.png">
                        </div>
                        <a href="{:U('Mobile/User/xcxz')}">学车须知</a>
                    </div>
                    <div class="list">
                        <div class="img">
                            <img src="__STATIC__/user/user_center/images/tjsx.png">
                        </div>
                        <a href="{:U('Mobile/User/tjsx')}">体检事项</a>
                    </div>
                    <div class="list">
                        <div class="img">
                            <img src="__STATIC__/user/user_center/images/xcfy.png">
                        </div>
                        <a href="{:U('Mobile/User/xcfy')}">学车费用</a>
                    </div>
                    <div class="list">
                        <div class="img">
                            <img src="__STATIC__/user/user_center/images/zbcl.png">
                        </div>
                        <a href="{:U('Mobile/User/zbcl')}">作弊处理</a>
                    </div>
                    <div class="list">
                        <div class="img">
                            <img src="__STATIC__/user/user_center/images/cjxc.png">
                        </div>
                        <a href="{:U('Mobile/User/cjrxc')}">残疾人学车</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>