<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>体检事项</title>
    <link href="__STATIC__/user/study_guider/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/guide.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
</head>

<body>

<div id="pagewrap">

    <div class="header_box">
        <div class="header">
            <ul>
                <a href="{:U('Mobile/User/study_guide')}"><li class="back" style="padding-right: 50px"><img src="__PUBLIC__/public/images/back.png"></li></a>
                <li class="header_text">体检事项</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="guide_box">
                <div class="guide">
                    <div class="guide_text">
                        <h1 style="text-align:center">体检项目</h1>

                        <h2>《机动车驾驶证申领和使用规定》第十一条规定的学车体检项目有：</h2>

                        <p>
                            1、身高：申请大型客车、牵引车、城市公交车、大型货车、无轨电车准驾车型的，身高为155厘米以上。申请中型客车准驾车型的，身高为150厘米以上，这是学车体检第一步。
                        </p>
                        <p>
                            2、视力：申请大型客车、牵引车、城市公交车、中型客车、大型货车、无轨电车或者有轨电车准驾车型的，两眼裸视力或者矫正视力达到对数视力表5.0以上。申请其他准驾车型的，两眼裸视力或者矫正视力达到对数视力表4.9以上。
                        </p>
                        <p>
                            3、辨色力：无红绿色盲。实际在学车体检内容中与视力相符。
                        </p>
                        <p>
                            4、听力：两耳分别距音叉50厘米能辨别声源方向。
                        </p>
                        <p>
                            5、上肢：双手拇指健全，每只手其他手指必须有三指健全，肢体和手指运动功能正常。
                        </p>
                        <p>
                            6、下肢：运动功能正常。申请驾驶手动挡汽车，下肢不等长度不得大于5厘米。申请驾驶自动挡汽车，右下肢应当健全。
                        </p>
                        <p>
                            7、躯干、颈部：无运动功能障碍。
                        </p>

                        <h2>体检须知</h2>

                        <p>
                            1. 必须由本人体检，不得代检代办。
                        </p>
                        <p>
                            2. 自备白背景彩色一寸近照一张。
                        </p>

                        <h2>体检地点</h2>

                        <p>
                            二甲级以上的医院可以做学车体检(当然三甲级的更可以了)，二甲级以上的医院有专门学车体检的部门，做体检时不用挂号，拿着驾校专门的体检表到二甲级以上的医院做体检就可以了。
                        </p>

                        <h2>常见问题汇总</h2>

                        <p>
                            Q：哪些疾病者不得申请机动车驾驶证?
                        </p>
                        <p>
                            A：有器质性心脏病、癫痫病、美尼尔氏症、眩晕症、癔病、震颤麻痹、精神病、痴呆以及影响肢体活动的神经系统疾病等妨碍安全驾驶疾病的。
                        </p>
                        <p>
                            Q：一只眼可以通过驾照体检吗?
                        </p>
                        <p>
                            A：视力：申请大型客车、牵引车、城市公交车、中型客车、大型货车、无轨电车或者有轨电车准驾车型的，两眼裸视力或者矫正视力达到对数视力表5.0以上。申请其他准驾车型的，两眼裸视力或者矫正视力达到对数视力表4.9以上;所以按照驾照体检要求，单眼失明是通不过驾照体检的。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>