<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>学车费用</title>
    <link href="__STATIC__/user/study_guider/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/guide.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <link rel="shortcut icon" href="__PUBLIC__/public/images/favicon.ico"/>
</head>
<body>
<div id="pagewrap">

    <div class="header_box">
        <div class="header">
            <ul>
                <a href="{:U('Mobile/User/study_guide')}"><li class="back" style="padding-right: 50px"><img src="__PUBLIC__/public/images/back.png"></li></a>
                <li class="header_text">学车费用</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="guide_box">
                <div class="guide">
                    <div class="guide_text">
                        <h1 style="text-align:center">学车费用组成</h1>

                        <h2>体检费用：</h2>
                        <p>
                            驾驶员考试体检费用主要为视力检查的费用，一般价格在25元左右。学员可以自行去医院体检，或者由驾校代为体检缴费。
                        </p>

                        <h2>拍照费用：</h2>
                        <p>
                            驾驶员资格考试需要考生提供白底小一寸免冠照片。学员可以到当地照相馆拍照并缴费，价格因地而异。
                        </p>

                        <h2>考试费用：</h2>
                        <p>
                            车管所会对参加考试的学员收取考试费，该费用一般由驾校代为收取，统一安排考试。
                        </p>

                        <h2>驾驶证办理费用：</h2>
                        <p>
                            由车管所收取，用于办理驾驶证的工本费。
                        </p>

                        <h2>其他费用：</h2>
                        <p>
                            一些驾校会收取档案管理费，保险费等杂费，这些项目一般也是包括在学车费用的。学员在报名前，可以向驾校详细咨询。
                        </p>

                        <h2>补考费</h2>
                        <p>
                            考生参加考试，如未一次性通过，需缴纳相应的费用参加补考。有些驾校学费中包括补考费用，但是大多数驾校学费是不包括该费用的。
                        </p>

                        <h2>退费</h2>
                        <p>
                            未参加的科目考试费是可以全额退还，由驾校去车管所办理手续。而驾校的培训费应当按照签约学车合同中的相应规定执行。
                        </p>

                        <h2>分期付款</h2>
                        <p>
                            部分驾校与银行合作，提供分期付款的服务。学员在报考驾校的时候，可以向驾校咨询。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>