<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>学车流程</title>
    <link href="__STATIC__/user/study_guider/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/guide.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
    <link rel="shortcut icon" href="__PUBLIC__/public/images/favicon.ico"/>
</head>
<body>
<div id="pagewrap">

    <div class="header_box">
        <div class="header">
            <ul>
                <a href="{:U('Mobile/User/study_guide')}"><li class="back" style="padding-right: 50px"><img src="__PUBLIC__/public/images/back.png"></li></a>
                <li class="header_text">学车流程</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="guide_box">
                <div class="guide">
                    <div class="guide_text">
                    <h1>学员学车流程</h1>

                    <h2>1. 体检</h2>
                    <p>
                        学员到具有驾驶员资格体检的医院自行体检。体检合格者可以报考驾驶员资格考试。
                    </p>

                    <h2>2. 报名</h2>
                    <p>
                        选择驾校报名考试。报名材料包括身份证，居住证及体检报告。驾校代表学员到车管所注册。
                    </p>

                    <h2>3. 缴费</h2>
                    <p>
                        与驾校签订合同后，缴费。缴费时，注意合同条款中收费的项目。
                    </p>

                    <h2>4. 交规学习</h2>
                    <p>
                        学习科目一的理论知识，并参加上机模拟考试。模拟考试多次到达合格标准者，才有把握通过科目一考试。
                    </p>

                    <h2>5. 科目一</h2>
                    <p>
                        参加科目一考试。科目一考试采取计算机考试，学员应注意计算机操作机把握考试时间。
                    </p>

                    <h2>6. 科目二</h2>
                    <p>
                        科目二包括倒桩考试和场地(九选三)考试。倒桩考试通过后，方可参加场地考试。这一部分是考试的难点，学员应多加练习，做到熟能生巧。
                    </p>

                    <h2>7. 科目三</h2>
                    <p>
                        科目三俗称路考，在自检模拟 场地或者公路进行考试。
                    </p>

                    <h2>8. 领驾驶证</h2>
                    <p>
                        所有考试合格者，在科目三结束后2周之内，可以领取驾驶证。
                    </p>

                    <h1>驾照业务办理流程</h1>

                    <p>
                        1. 受理岗审核机动车驾驶证申请人提交的《机动车驾驶证申请表》、《机动车驾驶人身体条件证明》(以下简称《身体条件证明》)和身份证明。不符合规定的，出具退办凭证。符合规定条件的，查询去全国公安交通管理信息系统，确认申请人不具有已申领机动车驾驶证、被吊销机动车驾驶证未满两年、驾驶许可依法被撤销未满三年、造成交通事故后逃逸被吊销机动车驾驶证的情形，并在计算机管理系统中记录查询结果后，受理申请，收存相关资料。查询结果证实存在上述情况的，出具退办凭证。因计算机网络问题暂时无法完成查询的，可以先受理，并在核发机动车驾驶证前完成查询。期间，查询结果证实存在不准申请机动车驾驶证情形的，出具退办凭证。
                    </p>
                    <p>
                        2. 受理岗预约科目一考试，核发预约考试凭证。属于驾校培训的还应查验驾校出具的培训记录。
                    </p>
                    <p>
                        3. 考试岗按期进行科目一考试;考试前应当核实申请人，考试后应当在考试成绩表上记载考试成绩;考试合格的，应当由考试员和申请人共同在考试成绩表上签名;考试不合格的，告知申请人不合格原因，并可以当场补考一次。
                    </p>
                    <p>
                        4. 档案管理岗复核受理岗收存的资料和科目一考试资料，核对计算机管理系统的信息，确定《机动车驾驶技能准考证明》(以下简称《准考证明》)编号，并制作《准考证明》。
                    </p>
                    <p>
                        5. 受理岗核发《准考证明》;预约科目二或者科目三考试，经驾校培训的还应查验驾校出具的培训记录，并在预约科目三考试时收存驾校出具的培训记录。
                    </p>
                    <p>
                        6. 科目三考试合格后2个工作日(道路交通安全法实施条例规定)内发放驾驶证。
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>