<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>作弊处理</title>
    <link href="__STATIC__/user/study_guider/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/guide.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
</head>

<body>

<div id="pagewrap">

    <div class="header_box">
        <div class="header">
            <ul>
                <a href="{:U('Mobile/User/study_guide')}">
                    <li class="back" style="padding-right: 50px">
                        <img src="__PUBLIC__/public/images/back.png">
                    </li>
                </a>
                <li class="header_text">作弊处理</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="guide_box">
                <div class="guide">
                    <div class="guide_text">
                        <h1>考试作弊</h1>

                        <p>
                            违反驾照考试纪律规定的一切行为都被视为考试作弊,例如携带纸条,手机及无线通信设备进入考场。
                        </p>

                        <h1>处罚措施</h1>

                        <h2>对于违反考试纪律的学员,按照以下条例给以相应的处罚:</h2>

                        <p>
                            一、驾驶人在1个记分周期内，累计记分未满12分的，向交警部门申请参加维护交通秩序(主要是路上执勤)活动的，每执勤4小时可减少记分1分。
                        </p>
                        <p>
                            二、机动车有3次以上违法记录，交警部门告知后，车主、使用人、管理人没有接受处理并交纳罚款的，交警可扣留车辆，直至处罚决定履行完毕才能领回车辆。
                        </p>
                        <p>
                            三、施工车辆或渣土车的驾驶人，在1个记分周期内有3次以上违法记录的，交警可扣留车辆，对驾驶员处以暂扣3个月以上6个月以下驾驶证。
                        </p>
                        <p>
                            四、初次申领驾驶证的，应当参加交警部门组织的交通安全警示教育和实践活动，累计时间不少于32小时。机动车驾驶证申请人在驾驶技能学习期间饮酒后驾车的，已通过的科目考试成绩无效，同时取消该次学习资格。在驾照考试中作弊或有其他不正当行为的，已通过的科目考试成绩无效，同时取消该次考试资格，申请人在3年内不得申请机动车驾驶许可。
                        </p>
                        <p>
                            五、驾驶摩托车从事非法客运，由交警部门收缴车辆，对驾驶人处以1000-2000元罚款，并吊销驾驶证。对于非法拼装、改装或者从事非法客运的非机动车，扣留后一律收缴。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>