<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>学车流程</title>
    <link href="__STATIC__/user/study_guider/css/main.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/media-queries.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/initialize.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/user/study_guider/css/guide.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/public/js/jquery-3.2.1.min.js"></script>
</head>

<body>

<div id="pagewrap">

    <div class="header_box">
        <div class="header">
            <ul>
                <a href="{:U('Mobile/User/study_guide')}"><li class="back" style="padding-right: 50px"><img src="__PUBLIC__/public/images/back.png"></li></a>
                <li class="header_text">学车流程</li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="main_box">
        <div class="main">
            <div class="guide_box">
                <div class="guide">
                    <div class="guide_text">
                        <h1>如何选驾校?</h1>

                        <p>
                            很多新学员在选择驾校的时候，不知道该怎么选。现在的驾校又多，质量参差不齐，对于追求教学质量和学车环境的学员来说，选驾校更是个难题，其实，您不妨从以下几个刚面，来选择适合您的驾校。
                        </p>
                        <p>
                            1、交通便利。最好是离家比较近的，如果家附近没有比较好的驾校，那就选择班车接送方便的驾校，这样学车期间的交通问题不用操心。
                        </p>
                        <p>
                            2、驾校有自己的考场。通常大驾校都是自己的考场，那样考试地点和平时练习的场地一样，有利于考生减少考试压力，顺利通过考试，若是没有自己的考场，也该有专门的考试基地，在报名时可以咨询一下驾校，了解具体情况，以免被骗。
                        </p>
                        <p>
                            3、约车方便。所谓约车方便是指如果驾校能提供电话约车或网络约车服务，那最好。实在没有，最好能先通过论坛或者好友推荐找到教练，跟教练沟通代约车，减少上车以后每次约车的烦恼。
                        </p>
                        <p>
                            4、驾校评价。这类评价在网络上可以搜索到部分，有褒有贬，各自判断，没有完美的驾校，需要大家权衡，有的实属是个别行为，大家需要全面考虑，PCauto为您汇总了全国几百所驾校，您可登陆查看驾校口碑。
                        </p>

                        <h1>选驾校的注意事项</h1>

                        <h2>低价诱惑</h2>

                        <p>
                            很多学员在选择驾校的时候，往往只看重学车费用。一些驾校就是抓住了学员“贪小便宜”的心理，用非常低的价格吸引学员报名缴费。驾校利用低价吸引大批学员报名后，携款潜逃的例子比比皆是。所以，在挑选驾校的时候，不能只看重价格。
                        </p>

                        <h2>不要轻信承诺</h2>

                        <p>
                            一些驾校在报名时随意向学员承诺，有的说随到随学，但真的报了名，一等就是一个多月;有的说电话约车，可学员一打电话，总是没人接，只好办理代约手续，另收200-300元不等的约车费;还有的承诺一人一车，但在练车时却以各种理由，让三四个人合用一辆教练车。所以，报名时一定要把所提供的服务项目问清楚。
                        </p>

                        <h1>考驾照也要精打细算</h1>

                        <p>
                            现如今，考驾照也需要会精打细算，您知道吗？考驾照的人越来越多，因此不少驾校就对学员进行多项额外收费，导致了一些不必要的费用产生，那么，作为学车的您应该要注意哪些要点呢？
                        </p>
                        <p>
                            1、选择正规驾校：驾校鱼龙混杂，首先考察驾校的资质，是否是车管所指定的驾考点，正规驾校比较重视品牌，对培训过程也会进行监控；其次考虑交通，多数驾校都有车辆接送，一定要知道训练场地离住所有多远，最后了解师资素质是否良好，可以到培训现场观察或向已学成者了解。
                        </p>
                        <p>
                            2、不要盲目追求“名牌”：避开学员多、考试时间长的热门驾校，不仅能稍降低点费用，而且能获得相对良好的学习条件和更多的练习机会。
                        </p>
                        <p>
                            3、保证考试时间：考取驾照前，必须做好计划，对上班一族来说，如无特别情况，优先将考试时间空出来，考试之前适当加练，熟练掌握相关技巧，争取一次通过。
                        </p>
                        <p>
                            4、首选C1牌：目前的C牌，分C1、C2两种。C2因是自动挡，所以通过坡道起步、百米加速减速等项目的几率较高，可以避免补考，但是一般不建议选C2，一是C2牌要比C1牌高出300至500元；二是自动挡训练车少，训练时间会拖得很长；三是学到的技术大打折扣。
                        </p>
                        <p><b>
                            另外，您还要注意市面上一些陷阱，如团购等，团购价格通常极具诱惑力，比市面低一大截，但是签订合同后，学员会发现进度非常慢，可能一个月都约不到一次训练时间，质量大打折扣，另外千万不要相信一些“关系说”，通过金钱手段来买到驾驶证。</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>