.header_box{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
}
.header{
    width: 1000px;
    height: 50px;
    margin:0 auto;
}
.back{
    float: left;
    width: 24px;
    height: 24px;
    margin-top: 13px;
}
.back img{
    width: 100%;
    height: auto;
}
.header_text{
    font-family: "΢���ź�";
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    margin-right: 24px;
}
.main_box{
    width: 100%;
}
.main{
    width: 1000px;
    margin:0 auto;
}
.course_details{
    width: 100%;
    background: #fff;
    margin-top: 8px;
}
.course{
    border-bottom: 1px solid #eee;
}
.course h1{
    line-height: 40px;
    font-family: "΢���ź�";
    font-size: 14px;
    color: #fa7124;
    font-weight: bold;
    margin-left: 10px;
}
.course p{
    line-height: 24px;
    font-family: "΢���ź�";
    font-size: 14px;
    margin-left: 10px;
    margin-top: -14px;
}
.course ul{
    margin-left: 10px;
    float: left;
    margin-top: -12px;
    margin-bottom: 8px;
}
.course li{
    line-height: 24px;
    font-family: "΢���ź�";
    font-size: 12px;
    color: #646464;
}
.course_box{
    width: 100%;
    background: #fff;
    margin-top: 8px;
}
.course_box h1{
    line-height: 40px;
    font-family: "΢���ź�";
    font-size: 14px;
    color: #fa7124;
    font-weight: bold;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
}
.course_top{
    line-height: 36px;
    font-family: "΢���ź�";
    font-size: 12px;
    font-weight: bold;
    color: #646464;
    padding-left: 10px;
    margin-top: -10px;
    border-bottom: 1px solid #eee;
}
.money_1{
    float: left;
    margin-top: -12px;
    width: 30%;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 145px;
    text-align: center;
}
.money_all{
    line-height: 30px;
    border-bottom: 1px solid #eee;
}
.money_num{
    line-height: 30px;
    border-bottom: 1px solid #eee;
    padding-left: 20px;
}
.include{
    line-height: 110px;
}
.money_2{
    float: left;
    margin-top: -12px;
    width: 69%;
    border-bottom: 1px solid #eee;
}
.include_text{
    line-height: 22px;
    width: 90%;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-left: 10px;
    height: 115px;
}
.service{
    line-height: 30px;
    border-bottom: 1px solid #eee;
}
.service_text{
    line-height: 30px;
    border-bottom: 1px solid #eee;
    padding-left: 20px;
}
.money_3{
    float: left;
    margin-top: -12px;
    width: 30%;
    border-right: 1px solid #eee;
    text-align: left;
}
.money_4{
    float: left;
    margin-top: -12px;
    width: 69%;
}
.text_box{
    width: 100%;
    background: #fff;
    margin-top: 8px;
    margin-bottom: 65px;
    border-bottom: 1px solid #eee;
}
.text_box h1{
    line-height: 40px;
    font-family: "΢���ź�";
    font-size: 14px;
    color: #fa7124;
    font-weight: bold;
    padding-left: 10px;
}
.text{
    margin-left: 10px;
    margin-top: -12px;
}
.text p{
    line-height: 24px;
    font-family: "΢���ź�";
    font-size: 12px;
}




/****************************************************
�ײ�
****************************************************/
.apply_submit{
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}
#btn2{
    width: 160px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-family: "΢���ź�";
    font-size: 16px;
    margin-top: 7px;
    color: #fff;
    border-radius: 4px;
    background: #fa7124;
}
@media screen and (max-width: 1000px) {
    .header {
        width: 100%;
    }
    .main {
        width: 100%;
    }
}


























